<!-- 单位设立 -->
<fc-layoutpanel class="templatefastposition">
    <fc-layoutrow fcSpan="30" fccontent>
        <fc-tlbform [fcAppid]="appId" (fcEvent)="tlbformEvent($event)" fccontent1></fc-tlbform>
        <fc-layoutcol fcSpans="9,1" fccontent2>
            <fc-layoutpanel fccontent1>
                <form fccontent>
                    <fc-layoutpanel fccontent id="id0">
                        <fc-title fcLabel="基本信息" fcBorder="bottom" fcWidth="96%" fcheader></fc-title>
                        <fc-layoutcol fcSpans="1,1" fccontent>
                            <div fccontent1>
                                <fc-text [fcLabel]="'单位代码'" [fcAppid]="appId" fcFieldCode="SCOMPANY_CODE" [(ngModel)]="mainObj.SCOMPANY_CODE" fcPlaceHolder="请输入单位代码"
                                    name="SYSCOMPANY.SCOMPANY_CODE" [fcValid]="mainValid.SCOMPANY_CODE"></fc-text>
                                <fc-text [fcLabel]="'单位全称'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入单位全称" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text>
                                <fc-combo [fcLabel]="'单位性质'" [fcAppid]="appId" fcFieldCode="SCOMPANY_TYPE" [(ngModel)]="mainObj.SCOMPANY_TYPE" fcValueCode='DICVALUE'
                                    fcLabelCode='DICDESC' fcPlaceHolder="请输入单位性质" name="SYSCOMPANY.SCOMPANY_TYPE" [fcValid]="mainValid.SCOMPANY_TYPE"></fc-combo>
                                <fc-combo [fcLabel]="'是否停用'" [fcAppid]="appId" fcFieldCode="BSTOP_FLAG" [(ngModel)]="mainObj.BSTOP_FLAG" fcValueCode='DICVALUE'
                                    fcLabelCode='DICDESC' name="SYSCOMPANY.BSTOP_FLAG" [fcValid]="mainValid.BSTOP_FLAG"></fc-combo>
                                <!-- 没有字段 -->
                                <!-- <fc-text [fcLabel]="'控股方式'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入控股方式" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                                <!-- <fc-check [fcLabel]="'法人单位'" [fcAppid]="appId" [(ngModel)]="mainObj.SAPPROVING_COMPANY" fcPlaceHolder="请输入法人单位" name="SYSCOMPANY.SAPPROVING_COMPANY"></fc-check> -->
                                <!-- <fc-text [fcLabel]="'拼音简码'" [(ngModel)]="mainObj.SSPELLING_CODE" fcPlaceHolder="请输入拼音简码" name="SYSCOMPANY.SSPELLING_CODE"></fc-text> -->
                                <fc-date [fcLabel]="'生效日期'" [fcAppid]="appId" fcFieldCode="SBEGIN_DATE" fcFormat="YYYYMMDD" [(ngModel)]="sbeginDate" fcPlaceHolder="请输入生效日期"
                                    name="SYSCOMPANY.SBEGIN_DATE" [fcValid]="mainValid.SBEGIN_DATE"></fc-date>
                                <fc-text [fcLabel]="'联系电话'" [(ngModel)]="mainObj.SCONTACT_TEL" fcPlaceHolder="请输入联系电话" name="SYSCOMPANY.SCONTACT_TEL"></fc-text>
                                <fc-text [fcLabel]="'邮政编码'" [(ngModel)]="mainObj.SPOST_CODE" fcPlaceHolder="请输入邮政编码" name="SYSCOMPANY.SPOST_CODE"></fc-text>
                            </div>
                            <div fccontent2>
                                <fc-text [fcLabel]="'单位简码'" [fcAppid]="appId" fcFieldCode="SSPELLING_CODE" [(ngModel)]="mainObj.SSPELLING_CODE" fcPlaceHolder="请输入单位简码"
                                    name="SYSCOMPANY.SSPELLING_CODE" [fcValid]="mainValid.SSPELLING_CODE"></fc-text>
                                <fc-text [fcLabel]="'单位简称'" [fcAppid]="appId" fcFieldCode="SSHORT_NAME" [(ngModel)]="mainObj.SSHORT_NAME" fcPlaceHolder="请输入单位简称"
                                    name="SYSCOMPANY.SSHORT_NAME" [fcValid]="mainValid.SSHORT_NAME"></fc-text>
                                <!-- <fc-text [fcLabel]="'行业属性'" [fcAppid]="appId" [(ngModel)]="mainObj.SINDUSTRY" fcPlaceHolder="请输入行业属性" name="SYSCOMPANY.SINDUSTRY"></fc-text> -->
                                <!-- <fc-combo [fcLabel]="'路内层级'" [fcAppid]="appId" [(ngModel)]="mainObj.ILEVEL" fcPlaceHolder="请输入路内层级" fcValueCode='DICVALUE'
                                    fcLabelCode='DICDESC' name="SYSCOMPANY.ILEVEL"></fc-combo> -->
                                <!-- <fc-check [fcLabel]="'虚拟单位'" [fcAppid]="appId" [(ngModel)]="mainObj.BIS_VIRTUAL" fcLabelCode="DICDESC" fcValueCode="DICVALUE"
                                    name="SYSCOMPANY.BIS_VIRTUAL"></fc-check> -->
                                <fc-date [fcLabel]="'成立日期'" [fcAppid]="appId" fcFieldCode="SEST_DATE" fcFormat="YYYYMMDD" [(ngModel)]="sestDate" fcPlaceHolder="请输入成立日期"
                                    name="SYSCOMPANY.SEST_DATE" [fcValid]="mainValid.SEST_DATE"></fc-date>
                                <fc-date [fcLabel]="'注销日期'" [fcAppid]="appId" fcFieldCode="SEND_DATE" fcFormat="YYYYMMDD" [(ngModel)]="sendDate" fcPlaceHolder="请输入注销日期"
                                    name="SYSCOMPANY.SEND_DATE" [fcValid]="mainValid.SEND_DATE"></fc-date>
                                <fc-text [fcLabel]="'传真'" [fcAppid]="appId" [(ngModel)]="mainObj.SFAX" fcPlaceHolder="请输入传真" name="SYSCOMPANY.SFAX"></fc-text>
                                <fc-text [fcLabel]="'网址'" [fcAppid]="appId" [(ngModel)]="mainObj.SWEBSITE" fcPlaceHolder="请输入网址" name="SYSCOMPANY.SWEBSITE"></fc-text>
                                <fc-text [fcLabel]="'地址'" [(ngModel)]="mainObj.SADDRESS" fcPlaceHolder="请输入地址" name="SYSCOMPANY.SADDRESS"></fc-text>
                                <!-- 没有 -->
                                <!-- <fc-text [fcLabel]="'状态'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入状态" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                            </div>
                        </fc-layoutcol>
                    </fc-layoutpanel>
                    <fc-layoutpanel fccontent id="id1">
                        <fc-title fcLabel="上级单位" fcBorder="bottom" fcWidth="96%" fcheader></fc-title>
                        <div style="width:96%; height:150px;" fccontent>
                            <!-- 单位隶属关系 -->
                            <fc-listdata fcAppid="SYSCOMPANYRELATION" [fcOption]="mainService.syscompanyrelationOption" [fcCondition]="companyrelationCondition"></fc-listdata>
                        </div>
                    </fc-layoutpanel>
                    <fc-layoutpanel fccontent id="id2">
                        <fc-title fcLabel="开票信息" fcBorder="bottom" fcWidth="96%" fcheader></fc-title>
                        <fc-layoutcol fcSpans="1,1" fccontent>
                            <div fccontent1>
                                <fc-text [fcLabel]="'纳税人识别号'" [fcAppid]="appId" fcFieldCode="SAPPROVAL_DCMTNO" [(ngModel)]="mainObj.SAPPROVAL_DCMTNO" fcPlaceHolder="请输入纳税人识别号"
                                    name="SYSCOMPANY.SAPPROVAL_DCMTNO" [fcValid]="mainValid.SAPPROVAL_DCMTNO"></fc-text>
                            </div>
                            <div fccontent2>
                                <fc-text [fcLabel]="'开票地址'" fcFieldCode="SADDRESS" [(ngModel)]="mainObj.SADDRESS" fcPlaceHolder="请输入开票地址" name="SYSCOMPANY.SADDRESS"
                                    [fcValid]="mainValid.SADDRESS"></fc-text>
                                <!-- <fc-text [fcLabel]="'开户银行'" [fcAppid]="appId" fcFieldCode="SINVEST_TYPE" [(ngModel)]="mainObj.SINVEST_TYPE" fcPlaceHolder="请输入开户银行"
                                    name="SYSCOMPANY.SINVEST_TYPE" [fcValid]="mainValid.SINVEST_TYPE"></fc-text> -->
                                <!-- <fc-text [fcLabel]="'联系电话'" [fcAppid]="appId"  fcFieldCode="SCOMPANY_NAME" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入联系电话" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                                <!-- <fc-text [fcLabel]="'银行账号'" [fcAppid]="appId" fcFieldCode="SCOMPANY_NAME" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入银行账号" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                            </div>
                        </fc-layoutcol>
                    </fc-layoutpanel>
                    <fc-layoutpanel fccontent id="id3">
                        <fc-title fcLabel="注册信息" fcBorder="bottom" fcWidth="96%" fcheader></fc-title>
                        <fc-layoutcol fcSpans="1,1" fccontent>
                            <div fccontent1>
                                <fc-text [fcLabel]="'法定代表人'" [fcAppid]="appId" [(ngModel)]="mainObj.SREPRESENTATIVE" fcPlaceHolder="请输入法定代表人" name="SYSCOMPANY.SREPRESENTATIVE"></fc-text>
                                <!-- <fc-text [fcLabel]="'统一社会信用代码'" [(ngModel)]="mainObj.SSPELLING_CODE" fcPlaceHolder="请输入统一社会信用代码" name="SYSCOMPANY.SSPELLING_CODE"></fc-text> -->
                                <!-- <fc-text [fcLabel]="'注册资本(万元)'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入注册资本" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                                <fc-text [fcLabel]="'登记机关'" [fcAppid]="appId" [(ngModel)]="mainObj.SAPPROVING_COMPANY" fcPlaceHolder="请输入登记机关" name="SYSCOMPANY.SAPPROVING_COMPANY"></fc-text>
                                <!-- <fc-text [fcLabel]="'核准日期'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入核准日期" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                                <!-- <fc-text [fcLabel]="'营业期限'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入营业期限" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                            </div>
                            <div fccontent2>
                                <!-- <fc-text [fcLabel]="'实缴资本(万元)'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入实缴资本" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                                <!-- <fc-text [fcLabel]="'证照编号'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入证照编好" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                                <fc-text [fcLabel]="'企业类型'" [fcAppid]="appId" [(ngModel)]="mainObj.SCOMPANY_TYPE" fcPlaceHolder="请输入企业类型" name="SYSCOMPANY.SCOMPANY_TYPE"></fc-text>
                                <!-- <fc-text [fcLabel]="'注册地址'" [(ngModel)]="mainObj.SCOMPANY_NAME" fcPlaceHolder="请输入注册地址" name="SYSCOMPANY.SCOMPANY_NAME"></fc-text> -->
                            </div>
                        </fc-layoutcol>
                        <fc-layoutcol fcSpans="1,0" fccontent>
                            <div fccontent1>
                                <fc-textarea [fcLabel]="'经营范围'" fcCol="1" [fcAppid]="appId" [(ngModel)]="mainObj.SINVEST_TYPE" fcPlaceHolder="请输入经营范围" name="SYSCOMPANY.SINVEST_TYPE"></fc-textarea>
                            </div>
                        </fc-layoutcol>
                    </fc-layoutpanel>
                </form>
            </fc-layoutpanel>
            <div class="fastposition-content" style="top:120px;" fccontent2>
                <div class="aligncenter">

                </div>
                <div>
                    <fc-fastposition fccontent [fcLinks]="[{href:'id0','label':'基本信息'},{href:'id1','label':'上级单位'},{href:'id2','label':'开票信息'},{href:'id3','label':'注册信息'}]"></fc-fastposition>
                </div>
            </div>
        </fc-layoutcol>
    </fc-layoutrow>
</fc-layoutpanel>