<!-- 数据源编辑 -->
<fc-layoutpanel class="sys-card-pannel">
    <div fcheader>
        <fc-title fcLabel="数据源"></fc-title>
        <P>
            服务：FC基础服务平台的功能单元，开发者提供给终端用户的服务；与产品是多对一的关系；服务中包含接口、视图，默认模型 提供跨越设计与开发的体验解决方案。
        </P>
        <div class="sys-card-fast">
            <ul class="sys-fast-list">
                <li>
                    <fc-icon fcIcon="fc-icon-everyday" fcColor="#009DFF"></fc-icon>快速开始</li>
                <li>
                    <fc-icon fcIcon="fc-icon-definition" fcColor="#009DFF"></fc-icon>产品简介</li>
                <li>
                    <fc-icon fcIcon="fc-icon-update" fcColor="#009DFF"></fc-icon>产品文档</li>
            </ul>
        </div>
    </div>
    <!-- 基本信息 -->
    <fc-title fcLabel="基本信息" fcBorder="bottom" fccontent></fc-title>
    <fc-layoutcol fcSpans="1,1" fccontent>
        <fc-any fccontent1 fcLabel="产品名称" [fcAppid]="SYSPRODUCT" fcFieldCode="PID" [(ngModel)]="mainObj.PID" fcLabelCode="PNAME"
            fcValueCode="PID" name="SYSPRODUCT.PNAME"></fc-any>
        <fc-text fccontent1 fcLabel="数据源id" [fcAppid]="appId" fcFieldCode="DSID" [(ngModel)]="mainObj.DSID" [fcReadonly]="true" name="SYSDATASOURCE.DSID"></fc-text>
        <fc-text fccontent1 fcLabel="数据源名称" [fcAppid]="appId" fcFieldCode="DSID" [(ngModel)]="mainObj.DSID" [fcReadonly]="true" name="SYSDATASOURCE.DSID"></fc-text>
        <fc-long fccontent1 fcLabel="排序" [fcAppid]="appId" fcFieldCode="SORT" [(ngModel)]="mainObj.SORT" name="SYSDATASOURCE.SORT"></fc-long>
        <fc-radio fccontent1 fcLabel="是否启用" [fcAppid]="appId" fcFieldCode="ENABLE" [(ngModel)]="mainObj.ENABLE" name="SYSDATASOURCE.ENABLE"></fc-radio>
        <fc-textarea fccontent1 fcLabel="备注" [fcAppid]="appId" fcFieldCode="REMARK" [(ngModel)]="mainObj.REMARK" name="SYSDATASOURCE.REMARK"></fc-textarea>
    </fc-layoutcol>
    <!-- 数据源信息 -->
    <fc-title fcLabel="数据源信息" fcBorder="bottom" fccontent></fc-title>
    <fc-layoutcol fcSpans="1,1" fccontent>
        <fc-any fccontent1 fcLabel="数据源类型" [fcAppid]="appId" fcFieldCode="DSTYPE" [(ngModel)]="mainObj.DSTYPE" fcLabelCode="DICDESC"
            fcValueCode="DICVALUE" name="SYSPRODUCT.DSTYPE"></fc-any>
        <fc-text fccontent1 fcLabel="请url" [fcAppid]="appId" fcFieldCode="URL" [(ngModel)]="mainObj.URL" name="SYSDATASOURCE.URL"></fc-text>
        <fc-text fccontent1 fcLabel="数据源用户名" [fcAppid]="appId" fcFieldCode="USERNAME" [(ngModel)]="mainObj.USERNAME" name="SYSDATASOURCE.USERNAME"></fc-text>
        <fc-text fccontent1 fcLabel="数据源密码" [fcAppid]="appId" fcFieldCode="PASSWORD" [(ngModel)]="mainObj.PASSWORD" name="SYSDATASOURCE.PASSWORD"></fc-text>
    </fc-layoutcol>
    <!-- 其它信息 -->
    <fc-title fcLabel="其它信息" fcBorder="bottom" fccontent></fc-title>
    <fc-layoutcol fcSpans="1,1" fccontent>
        <fc-label fcLabel="数据源图标" fccontent1></fc-label>
        <div class="choose-icon" fccontent1>
            <fc-icon fcIcon="{{dataSourceIcon}}" fcFontSize="35"></fc-icon>
            <fc-button fcLabel="选择图标" (click)="chooseIcon();">
            </fc-button>
        </div>
    </fc-layoutcol>
    <div class="edit-footer-btn" fcfooter>
        <fc-button fcLabel="保存" (click)="cardSaveBack();" fcType="primary"></fc-button>
        <fc-button fcLabel="+模型" (click)="addModel();"></fc-button>
    </div>
</fc-layoutpanel>