<!-- 个人信息维护 -->
<fc-layoutpanel class="sysprofile" [fcFull]="true">
    <fc-layoutcol fcSpans="3,7" fccontent>
        <fc-layoutrow fcSpan="200" class="left" fccontent1>
            <div class="sys-card personel" fccontent1>
                <!-- 没有上传头像时 -->
                <div class="personel-avatar upload-avatar" *ngIf="false">
                    <fc-avatar fcSrc="" (click)="editAvatar()"></fc-avatar>
                </div>
                <!-- 修改头像时 -->
                <div class="personel-avatar edit-avatar" >
                    <fc-avatar [fcSrc]="userAvatar" (click)="uploadAvatar()"></fc-avatar>
                </div>
                <div class="text-center personel-user">
                    {{avaterUserName}} | {{avaterUserRemark}}
                    <p>上次登录:{{signinTime}}</p>
                </div>
            </div>
            <div fccontent2>
                <div class="sys-card" style="height:33.33%;margin-top: 10px;">
                    <!-- 待办 -->
                    <div class="widget widget1">
                        <div class="widget-circle widget-circle1">
                            <fc-icon fcIcon="fc-icon-picture" fcColor="#ffffff" fcFontSize="22px"></fc-icon>
                        </div>
                        <div class="widget-text">
                            <h3 class="widget-text-title">
                                <span class="widget-text-number" (click)="navToAssignment();">25</span> 项待办</h3>
                            <span>未处理</span>
                        </div>
                    </div>
                </div>
                <div class="sys-card" style="height:33.33%;margin-top: 10px;">
                    <!-- 未读消息 -->
                    <div class="widget widget2">
                        <div class="widget-circle widget-circle2">
                            <fc-icon fcIcon="fc-icon-information" fcColor="#ffffff" fcFontSize="22px"></fc-icon>
                        </div>
                        <div class="widget-text">
                            <h3 class="widget-text-title">
                                <span class="widget-text-number" (click)="navToMessage();">4038</span>条消息</h3>
                            <span>未读</span>
                        </div>
                    </div>
                </div>
                <div class="sys-card" style="height:33.33%;margin-top: 10px;">
                    <!-- 日志 -->
                    <div class="widget widget3">
                        <div class="widget-circle widget-circle3">
                            <fc-icon fcIcon="fc-icon-log" fcColor="#ffffff" fcFontSize="22px"></fc-icon>
                        </div>
                        <div class="widget-text">
                            <h3 class="widget-text-title">
                                <span class="widget-text-number" (click)="navToSyslog();">28577</span> 条</h3>
                            <span>操作日志</span>
                        </div>
                    </div>
                </div>
            </div>
        </fc-layoutrow>
        <div class="sys-card" style="height:100%;margin-left:10px;" fccontent2>
            <fc-tabmain [fcTabs]="tabmain" class="sysprofile-tab" style="height:100%;">
                <div class="sysprofile-list" fccontent1>
                    <!-- 待办任务 -->
                    <fc-list fcAppid="SYSASSIGNMENT" [fcFieldCode]="'TASKNAME'" fcIcon="fc-icon-picture" fcSubTitleCode="CREATETIME" fcStatusCode='STATUS'
                        [fcCheckValue]="{'processing':'processing','warning':'warning','error':'error','default':'default'}"
                        (fcEvent)="tasklistEvent($event)"></fc-list>
                    <fc-pagination [fcTotal]="taskPageTotal" [fcPageIndex]="taskPageNum" [fcPageSize]="taskPageSize" (fcEvent)="taskpaginationEvent($event)"></fc-pagination>
                </div>
                <div class="sysprofile-list" fccontent2>
                    <!-- 消息 -->
                    <fc-list fcAppid="SYSMESSAGE" [fcFieldCode]="'TITLE'" fcIcon="fc-icon-information" fcSubTitleCode="CONTENT" fcStatusCode='TYPE'
                        [fcCheckValue]="{'normal':'success','waring':'warning','danger':'error','default':'default'}" (fcEvent)="msglistEvent($event)"
                        [fcCondition]="msglistCondition"></fc-list>
                    <fc-pagination [fcTotal]="msgPageTotal" [fcPageIndex]="msgPageNum" [fcPageSize]="msgPageSize" (fcEvent)="msgpaginationEvent($event)"></fc-pagination>
                </div>
                <div class="personelinfo" fccontent3>
                    <!-- 个人信息 -->
                    <div class="view-personelinfo" [hidden]="personelEdit">
                        <div class="personelinfo-content">
                            <fc-title fcLabel="人员信息"></fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="工号" fcValue="20329887665" fccontent1></fc-label>
                                <fc-label fcLabel="姓名" fcValue="张三" fccontent2></fc-label>
                                <fc-label fcLabel="性别" fcValue="男" fccontent1></fc-label>
                                <fc-label fcLabel="年龄" fcValue="30" fccontent2></fc-label>
                                <fc-label fcLabel="证件类型" fcValue="身份证" fccontent1></fc-label>
                                <fc-label fcLabel="证件号码" fcValue="441881199505017218" fccontent2></fc-label>
                                <fc-label fcLabel="户口所在地" fcValue="北京" fccontent1></fc-label>
                                <fc-label fcLabel="婚姻状况" fcValue="已婚" fccontent2></fc-label>
                                <fc-label fcLabel="开始工作日期" fcValue="2010年6月30日" fccontent1></fc-label>
                            </fc-layoutcol>
                            <fc-title fcLabel="用户信息"></fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="用户编码" [fcValue]="sysuserObj.USERCODE" fccontent1></fc-label>
                                <fc-label fcLabel="用户名称" [fcValue]="sysuserObj.NAME" fccontent2></fc-label>
                                <fc-label fcLabel="有效期" [fcValue]="sysuserObj.AVAILABLEDATE" fccontent1></fc-label>
                                <fc-label fcLabel="失效期" [fcValue]="sysuserObj.DISABLEDATE" fccontent2></fc-label>
                            </fc-layoutcol>
                            <fc-title fcLabel="部门信息"></fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="部门编号" fcValue="201803298765" fccontent1></fc-label>
                                <fc-label fcLabel="部门名称" fcValue="开发实施部" fccontent2></fc-label>
                                <fc-label fcLabel="有效期" fcValue="2018-06-23" fccontent1></fc-label>
                                <fc-label fcLabel="失效期" fcValue="2018-12-31" fccontent2></fc-label>
                            </fc-layoutcol>
                            <fc-title fcLabel="单位信息"> </fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="单位编码" fcValue="2078472399876" fccontent1></fc-label>
                                <fc-label fcLabel="单位名称" fcValue="东软越通" fccontent2></fc-label>
                                <fc-label fcLabel="有效期" fcValue="2010-06-30" fccontent1></fc-label>
                                <fc-label fcLabel="失效期" fcValue="2020-12-31" fccontent2></fc-label>
                            </fc-layoutcol>
                        </div>
                        <div class="footer-btn">
                            <fc-button fcLabel="修改" (click)="editPersonelinfo()" fcIcon="fc-icon-amend" fcIconPositon="left" fcType="primary"></fc-button>
                        </div>
                    </div>
                    <form class="edit-personelinfo" [hidden]="!personelEdit">
                        <div class="personelinfo-content">
                            <fc-title fcLabel="人员信息"></fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="工号" fcValue="20329887665" fccontent1></fc-label>
                                <fc-label fcLabel="姓名" fcValue="张三" fccontent2></fc-label>
                                <fc-label fcLabel="性别" fcValue="男" fccontent1></fc-label>
                                <fc-label fcLabel="年龄" fcValue="30" fccontent2></fc-label>
                                <fc-label fcLabel="证件类型" fcValue="身份证" fccontent1></fc-label>
                                <fc-label fcLabel="证件号码" fcValue="441881199505017218" fccontent2></fc-label>
                                <fc-label fcLabel="户口所在地" fcValue="北京" fccontent1></fc-label>
                                <fc-label fcLabel="婚姻状况" fcValue="已婚" fccontent2></fc-label>
                                <fc-label fcLabel="开始工作日期" fcValue="2010-06-30" fccontent1></fc-label>
                            </fc-layoutcol>
                            <fc-title fcLabel="用户信息"></fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="用户编码" [fcValue]="sysuserObj.USERCODE" fccontent1></fc-label>
                                <fc-text fcLabel="用户名称" [(ngModel)]="sysuserObj.NAME" name="sysuserObj.NAME" fccontent2></fc-text>
                                <fc-label fcLabel="有效期" [fcValue]="sysuserObj.AVAILABLEDATE" fccontent1></fc-label>
                                <fc-label fcLabel="失效期" [fcValue]="sysuserObj.DISABLEDATE" fccontent2></fc-label>
                            </fc-layoutcol>
                            <fc-title fcLabel="部门信息"></fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="部门编号" fcValue="201803298765" fccontent1></fc-label>
                                <fc-label fcLabel="部门名称" fcValue="开发实施部" fccontent2></fc-label>
                                <fc-label fcLabel="有效期" fcValue="2018-06-23" fccontent1></fc-label>
                                <fc-label fcLabel="失效期" fcValue="2018-12-31" fccontent2></fc-label>
                            </fc-layoutcol>
                            <fc-title fcLabel="单位信息"> </fc-title>
                            <fc-layoutcol>
                                <fc-label fcLabel="单位编码" fcValue="2078472399876" fccontent1></fc-label>
                                <fc-label fcLabel="单位名称" fcValue="东软越通" fccontent2></fc-label>
                                <fc-label fcLabel="有效期" fcValue="2010-06-30" fccontent1></fc-label>
                                <fc-label fcLabel="失效期" fcValue="2020-12-31" fccontent2></fc-label>
                            </fc-layoutcol>
                        </div>
                        <div class="footer-btn">
                            <fc-button fcLabel="确认修改" (click)="savePersonelinfo()" fcIcon="fc-icon-save" fcIconPositon="left" fcType="primary"></fc-button>
                        </div>
                    </form>
                </div>
                <div fccontent4>
                    <!-- 快速导航 -->
                    <div class="fastcontent" style="margin-top: 40px;">
                        <fc-tag fcClose="true" *ngFor="let navLink of navLinks" style="float: left;margin-right: 20px;margin-bottom: 10px;" [fcLabel]="navLink.LABEL"
                            (fcEvent)="navLinkEvent($event,navLink)"></fc-tag>
                        <fc-button fcLabel="+ 添加" [fcSize]="'small'" [fcType]="'dashed'" (click)="addNavLinkTag(contentTpl_navLink,footerTpl_navLink)"
                            class="add"></fc-button>
                    </div>
                </div>
                <div fccontent5>
                    <!-- 密码 -->
                    <form class="edit-password" style="margin-top: 40px;">
                        <fc-text fcLabel="原密码" [fcRequired]="true" [(ngModel)]="lastPwd" [fcValid]="mainValid.lastPwd" name="lastpwd"></fc-text>
                        <fc-text fcLabel="重置密码" [fcRequired]="true" [(ngModel)]="newPwd" [fcValid]="mainValid.newPwd" name="resetpwd"></fc-text>
                        <div class="footer-btn">
                            <fc-button fcLabel="确认修改" fcType="primary" (click)="resetPwd()"></fc-button>
                        </div>
                    </form>
                </div>
                <!--日志 -->
                <div class="sysprofile-list" fccontent6>
                    <fc-list fcAppid="SYSLOG" [fcFieldCode]="'LOGID'" (fcEvent)="sysloglistEvent($event)"></fc-list>
                    <fc-pagination [fcTotal]="logPageTotal" [fcPageIndex]="logPageNum" [fcPageSize]="logPageSize" (fcEvent)="sysloglistEvent($event)"></fc-pagination>
                </div>
            </fc-tabmain>
        </div>
    </fc-layoutcol>
</fc-layoutpanel>
<ng-template #contentTpl_navLink>
    <div style="height:400px;width:100%">
        <fc-listdata #navLink_listdata fcAppid="SYSCHILDMENU" [fcCondition]="navLinkListCondition" [fcOption]="mainService.sysnavlinkService.listOptions"></fc-listdata>
    </div>
</ng-template>
<ng-template #footerTpl_navLink>
    <div>
        <fc-button (click)="handleAddNavLink_cancel(navLink_listdata)" fcLabel="取消"></fc-button>
        <fc-button [fcType]="'primary'" (click)="handleAddNavLink_ok($event)" fcLabel="确定"></fc-button>
    </div>
</ng-template>
