<!-- 个人信息维护 -->
<fc-layoutpanel class="sysprofile">
    <fc-layoutcol fcSpans="1,1" fccontent>
        <!-- 个人信息 -->
        <div fccontent1>
            <div clas="sys-card personel">
                <!-- 没有上传头像时 -->
                <div class="personel-avatar upload-avatar">
                    <fc-avatar fcSrc="" (click)="editAvatar()"></fc-avatar>
                </div>
                <!-- 修改头像时 -->
                <div class="personel-avatar edit-avatar" *ngIf="false">
                    <fc-avatar fcSrc="assets/img/github.jpg" (click)="uploadAvatar()"></fc-avatar>
                </div>
                <div class="text-center personel-user">
                    管理员
                    <fc-tooltip fcTitle="修改密码" fcPosition="bottom" style="cursor: pointer;">
                        <i class="icon iconfont fc-icon-jurisdiction" (click)="resetPassword()" fccontent></i>
                    </fc-tooltip>
                    <p>上次登录:2018-6-19 13:17:17</p>
                </div>
                <div class="flex-3">
                    <div class="flex-3-item">
                        <span class="personel-account">174315</span>
                        <span class="personel-text">登录</span>
                    </div>
                    <div class="flex-3-item">
                        <span class="personel-account">174315</span>
                        <span class="personel-text">登录</span>
                    </div>
                    <div class="flex-3-item">
                        <span class="personel-account">174315</span>
                        <span class="personel-text">登录</span>
                    </div>
                </div>
            </div>
        </div>
        <div fccontent2 style="padding-left: 20px;">
            <div class="sys-card">
                <div class="personel-title">
                    <span>基本信息</span>
                    <fc-tooltip fcTitle="修改基本信息" fcPosition="bottom" style="cursor: pointer;">
                        <i class="icon iconfont fc-icon-amend" (click)="editBasicPersonel()" fccontent></i>
                    </fc-tooltip>
                </div>
                <p class="label">单位：
                    <span class="label-detail">铁路总公司</span>
                </p>
                <p class="label">部门：
                    <span class="label-detail">实施部</span>
                </p>
                <p class="label">人员：
                    <span class="label-detail">小张</span>
                </p>
            </div>
            <!-- <fc-title fcLabel="快速导航" id="id0"></fc-title>
            <div style="width:calc(100% - 150px);">
                <div class="fastcontent" *ngFor="let navLink of navLinks">
                    <fc-tag fcClose="true" class="fastcontenttext" [fcLabel]="navLink.LABEL" (fcEvent)="navLinkEvent($event,navLink)"></fc-tag>
                </div>
                <fc-button fcLabel="+ 添加" [fcSize]="'small'" [fcType]="'dashed'" (click)="addNavLinkTag(contentTpl_navLink,footerTpl_navLink)"
                    class="add"></fc-button>
            </div>
            <fc-title fcLabel="消息" id="id1"></fc-title>
            <div style="width:calc(100% - 150px);height: 300px;padding-left: 10px;">
                <fc-listdata fcAppid="SYSMESSAGE"></fc-listdata>
            </div>
            <fc-title fcLabel="待办任务" id="id2"></fc-title>
            <div style="width:calc(100% - 150px);height: 300px;padding-left: 10px">
                <fc-listdata fcAppid="SYSASSIGNMENT"></fc-listdata>
            </div>
            <fc-title fcLabel="日志" id="id3"></fc-title>
            <div style="width:calc(100% - 150px);height: 300px;padding-left: 10px">
                <fc-listdata fcAppid="SYSLOG"></fc-listdata>
            </div> -->
        </div>
        <!-- 快速定位 -->
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="[{href:'id0','label':'快速导航'},{href:'id1','label':'消息'},{href:'id2','label':'待办任务'},{href:'id3','label':'日志'}]"></fc-fastposition>
        </div>
    </fc-layoutcol>
</fc-layoutpanel>