<fc-layoutpanel [fcFull]="true" class="templatetreetablist">
    <fc-layoutrow fcSpan="36" fccontent>
        <fc-tlblist [fcAppid]="appId" fccontent1 (fcEvent)="tlblistEvent($event);"></fc-tlblist>
        <fc-layoutcol fccontent2 fcSpans="2,7" class="tree-style">
            <fc-layoutrow fcSpan="35" fccontent1>
                <fc-title fcLabel="所有角色" fcHasLine="false" [fcBorder]="'bottom'" fcWidth="100%" fccontent1></fc-title>
                <fc-list [fcAppid]="'SYSROLE'" [fcFieldCode]="'ROLENAME'" fccontent2  [fcSelectedId]="selectRoleId" [fcCondition]="listCondition" (fcEvent)="listEvent($event)"></fc-list>
                <fc-icon class="fc-role-add" [fcIcon]="'fc-icon-keep'" [fcSize]="'large'" [fcColor]="'#108ee9'"></fc-icon>
            </fc-layoutrow>
            <fc-tabmain fccontent2 [fcTabs]="roleTab" class="template-tab-full">
                <div fccontent1>
                    <fc-tag *ngFor="let user of roleuserList" [fcLabel]="user.NAME" [fcValue]="user.USERCODE" fcColor="blue" [fcIcon]="'fc-icon-users'"
                        [fcClose]="true" (fcEvent)="tagEvent($event)" style="margin-top: 10px;display: inline-block;"></fc-tag>
                    <fc-button fcLabel="+ 添加" [fcSize]="'small'" [fcType]="'dashed'" (click)="modalMullist1.showModal()"></fc-button>
                    <fc-modallist #modalMullist1 fcTitle="请选择用户" [fcAppid]="'SYSUSER'" [fcType]="'multiple'" (fcEvent)="modallistEvent($event)"
                        [fcCondition]="mainService.userCondition"></fc-modallist>
                </div>
                <fc-layoutrow fccontent2 fcSpan="50" class="sysrole-hidden">
                    <fc-title fcLabel="当前角色拥有的权限" fccontent1></fc-title>
                    <fc-layoutcol fccontent2 fcSpans="3,7" class="sysrole-auth">
                        <fc-tree fccontent1 #tree class="sysrole-auth-tree" [fcOption]="mainService.menuTreeOptions" [fcNodes]="fcNodes" (fcEvent)="treeEvent($event);"></fc-tree>
                        <div fccontent2 class="sysrole-auth-content">
                            <fc-layoutgroup fcTitle="工具栏按钮授权">
                                <!-- <fc-check fccontent fcAppid="SYSAPPBUTTONS" fcShowLabel="false" fcFieldCode="BTNCODE" [fcCondition]="toolbarBtnCdc" fcLableCode="BTNNAME"
                                    fcValueCode="BTNCODE"></fc-check> -->
                            </fc-layoutgroup>
                            <fc-layoutgroup fcTitle="列表按钮授权">
                                <!-- <fc-check fccontent fcAppid="SYSAPPBUTTONS" fcShowLabel="false" fcFieldCode="BTNCODE" [fcCondition]="listCdc" fcLableCode="BTNNAME"
                                    fcValueCode="BTNCODE"></fc-check> -->
                            </fc-layoutgroup>
                            <fc-layoutgroup fcTitle="表单按钮授权">
                                <!-- <fc-check fccontent fcAppid="SYSAPPBUTTONS" fcShowLabel="false" fcFieldCode="BTNCODE" [fcCondition]="formContition" fcLableCode="BTNNAME"
                                    fcValueCode="BTNCODE"></fc-check> -->
                            </fc-layoutgroup>
                        </div>
                    </fc-layoutcol>
                </fc-layoutrow>
            </fc-tabmain>
        </fc-layoutcol>
    </fc-layoutrow>
</fc-layoutpanel>
