<fc-layoutpanel fcFull="true">
    <fc-layoutcol fcSpans="2,9" style="height:100%;" fccontent>
        <div class="left" fccontent1>
            <fc-title fcLabel="所有角色" fcHasLine="false" [fcBorder]="'bottom'"></fc-title>
            <fc-list [fcAppid]="'SYSROLE'" [fcFieldCode]="'ROLENAME'" [fcCondition]="listCondition" (fcEvent)="listEvent($event)"></fc-list>
            <fc-icon class="fc-role-add" [fcIcon]="'fc-icon-keep'" [fcSize]="'large'" [fcColor]="'#108ee9'"></fc-icon>
        </div>
        <fc-tabmain fccontent2 [fcTabs]="roleTab" class="role-tab">
            <div style="border-top:1px solid #e9e9e9;" fccontent1>
                <fc-tag *ngFor="let user of roleuserList" [fcLabel]="user.NAME" [fcValue]="user.USERC" fcColor="blue" [fcIcon]="'fc-icon-users'" [fcClose]="true" (fcEvent)="tagEvent($event)"></fc-tag>
                <fc-button fcLabel="+ 添加" [fcSize]="'small'" [fcType]="'dashed'" (click)="modalMullist1.showModal()"></fc-button>
                <fc-modallist #modalMullist1 fcTitle="请选择用户" [fcAppid]="'SYSUSER'" [fcType]="'multiple'" (fcEvent)="modallistEvent($event)"
                    [fcCondition]="mainService.userCondition"></fc-modallist>
            </div>
            <fc-layoutpanel fccontent2>
                <fc-title fcLabel="当前角色拥有的权限" fcheader></fc-title>
                <fc-layoutcol fccontent fcSpans="2,3">
                    <fc-tree fccontent1 [fcOption]="mainService.menuTreeOptions" (fcEvent)="treeEvent($event);"></fc-tree>
                </fc-layoutcol>
            </fc-layoutpanel>
        </fc-tabmain>
    </fc-layoutcol>
</fc-layoutpanel>