<fc-layoutpanel class="sys-card-pannel">
    <div class="sys-card-pannel-header" fcheader>
        <fc-title fcLabel="服务" class="sys-card-pannel-title" [fcHasLine]="false"></fc-title>
        <P class="sys-card-pannel-smarks">
            服务：FC基础服务平台的功能单元，开发者提供给终端用户的服务；与产品是多对一的关系；服务中包含接口、视图，默认模型 提供跨越设计与开发的体验解决方案。
            <div class="sys-card-fast">
                <ul class="sys-fast-list">
                    <li>
                        <fc-icon fcIcon="fc-icon-wiki" fcColor="#009DFF"></fc-icon>查看接口</li>
                    <li>
                        <fc-icon fcIcon="fc-icon-backtrack" fcColor="#009DFF" (click)="backToList()"></fc-icon>返回列表</li>
                </ul>
            </div>
            <img class="sys-card-bg" src="assets/img/system-bg.png" />
    </div>
    <div class="sys-card-pannel-edit" fccontent>
        <fc-layoutcol fcSpans="6,4">
            <fc-title fccontent1 fcLabel="基本信息" [fcHasLine]="false"></fc-title>
            <fc-layoutcol fccontent1 fcSpans="9,1">
                <fc-combo fccontent1 fcLabel="产品名称" [(ngModel)]="mainObj.PID" (ngModelChange)="event('PID',$event)" [fcOption]="pidOption" name="SERVICENAME"></fc-combo>
                <fc-text fccontent1 fcLabel="服务编码" [(ngModel)]="ruleCode" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME" [fcDisabled]="true"></fc-text>
                <fc-text fccontent1 fcLabel="服务名称" [(ngModel)]="mainObj.SERVICENAME" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
                <fc-text fccontent1 fcLabel="监听类" [(ngModel)]="mainObj.SERVICECLASS" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
                <fc-text fccontent1 fcLabel="默认模型" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
                <div fccontent2 class="place-div"></div>
                <div fccontent2 class="place-div"></div>
                <div fccontent2 class="place-div"></div>
                <div fccontent2 class="place-div"></div>
                <div class="last-btn" fccontent2>
                    <fc-button fccontent2 fcLabel="切换模型" (click)="event('DEFAULTAPPID')"></fc-button>
                </div>
            </fc-layoutcol>
        </fc-layoutcol>
        <fc-layoutcol fcSpans="6,4">
            <fc-title fccontent1 fcLabel="其他信息" [fcHasLine]="false"></fc-title>
            <fc-layoutcol fccontent1 fcSpans="9,1">
                <fc-text fccontent1 fcLabel="排序" [(ngModel)]="mainObj.SORT" [fcAppid]="appId" fcFieldCode="SORT" name="SORT"></fc-text>
                <fc-radio fccontent1 [(ngModel)]="mainObj.ISUSE" [fcAppid]="appId" fcFieldCode="ISUSE" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="ISUSE"></fc-radio>
                <fc-textarea fccontent1 fcPlaceHolder="请输入备注" [fcAppid]="appId" fcFieldCode='REMARK' [(ngModel)]="mainObj.REMARK" name="REMARK"></fc-textarea>
                <fc-tlbform fccontent1 fcType="primary" [fcAppid]="appId" fcLayout="center" (fcEvent)="tlbformEvent($event)"></fc-tlbform>
            </fc-layoutcol>
        </fc-layoutcol>
    </div>
</fc-layoutpanel>
<!-- 视图入口-视图卡片 -->
<fc-layoutpanel class="sys-card-pannel">
    <div class="sys-card-pannel-header" fcheader>
        <fc-title fcLabel="视图" class="sys-card-pannel-title" [fcHasLine]="false"></fc-title>
        <P class="sys-card-pannel-smarks">
            服务：FC基础服务平台的功能单元，开发者提供给终端用户的服务；与产品是多对一的关系；服务中包含接口、视图，默认模型 提供跨越设计与开发的体验解决方案。
        </P>
        <div class="sys-card-fast">
            <ul class="sys-fast-list">
                <li>
                    <fc-icon fcIcon="fc-icon-everyday" fcColor="#009DFF"></fc-icon>快速开始</li>
                <li>
                    <fc-icon fcIcon="fc-icon-definition" fcColor="#009DFF"></fc-icon>视图简介</li>
                <li>
                    <fc-icon fcIcon="fc-icon-update" fcColor="#009DFF"></fc-icon>视图简介</li>
            </ul>
            <fc-tlblist class="sys-fast-tlblist" fcSize="small" [fcButtons]="fastsearchWords" (fcEvent)="tlblistEvent($event);"></fc-tlblist>
        </div>
        <img class="sys-card-bg" src="assets/img/system-bg.png" />
    </div>
    <div nz-row [nzGutter]="10" fccontent>
        <!-- 新增卡片操作 -->
        <div nz-col [nzSpan]="6" class="sys-card sys-card-add">
            <nz-card (click)="addView();">
                <ng-template #body>
                    <fc-icon fcIcon="fc-icon-add" fcFontSize="30" class="sys-card-addicon"></fc-icon>
                    <p class="sys-card-addtext">新增视图</p>
                </ng-template>
            </nz-card>
        </div>
        <!-- 视图列表循环 -->
        <div nz-col [nzSpan]="6" class="sys-card" *ngFor="let sysView of sysViews">
            <nz-card (click)="listEdit(sysView);">
                <ng-template #body>
                    <div class="sys-card-content">
                        <!-- 操作按钮 -->
                        <div class="sys-card-tbl">
                            <!-- 默认显示两个 -->
                            <fc-tooltip class="sys-card-tbl-every" fcTitle="{{btn.BTNNAME}}" *ngFor="let btn of btnlistOnes">
                                <fc-icon [fcIcon]="btn.BTNICON" (click)="btnCardEvent(btn.BTNCODE,sysView)" fcFontSize="18px" fccontent></fc-icon>
                            </fc-tooltip>
                            <!-- 超出2个后显示 -->
                            <div class="sys-card-tbl-more" *ngIf="btnlistMores.length!==0">
                                <nz-dropdown>
                                    <fc-icon fcIcon="fc-icon-bglist" nz-dropdown></fc-icon>
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item *ngFor="let btn of btnlistMores">
                                            <fc-tooltip fcTitle="{{btn.BTNNAME}}">
                                                <fc-icon [fcIcon]="btn.BTNICON" (click)="btnCardEvent(btn.BTNCODE)" fcFontSize="18px" fccontent></fc-icon>
                                            </fc-tooltip>
                                        </li>
                                    </ul>
                                </nz-dropdown>
                            </div>
                        </div>
                        <span class="sys-card-mark">
                            {{sysView.VIEWID|slice:0:1}}
                        </span>
                        <div class="sys-card-text">
                            <div class="sys-card-title">
                                {{sysView.VIEWID}}-{{sysView.VIEWNAME}}
                            </div>
                            <p class="sys-card-smarks">{{sysView.CATAGORY}}</p>
                        </div>
                    </div>
                    <div class="sys-card-footer">
                        <fc-tooltip class="sys-card-btn" fcTitle="点赞">
                            <fc-icon fcIcon="fc-icon-everyday" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" fcTitle="下载zip">
                            <fc-icon fcIcon="fc-icon-get" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" fcTitle="评价">
                            <fc-icon fcIcon="fc-icon-chat" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" fcTitle="统计图">
                            <fc-icon fcIcon="fc-icon-bgdimensionality" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                    </div>
                </ng-template>
            </nz-card>
        </div>
    </div>
</fc-layoutpanel>
<!-- 接口入口-接口卡片 -->
<fc-layoutpanel class="sys-card-pannel">
    <div class="sys-card-pannel-header" fcheader>
        <fc-title fcLabel="接口" class="sys-card-pannel-title" [fcHasLine]="false"></fc-title>
        <P class="sys-card-pannel-smarks">
            接口：FC基础服务平台的功能单元，提供给开发者提供调用接口，自定义接口；
        </P>
        <div class="sys-card-fast">
            <ul class="sys-fast-list">
                <li>
                    <fc-icon fcIcon="fc-icon-everyday" fcColor="#009DFF"></fc-icon>快速开始</li>
                <li>
                    <fc-icon fcIcon="fc-icon-definition" fcColor="#009DFF"></fc-icon>接口简介</li>
                <li>
                    <fc-icon fcIcon="fc-icon-update" fcColor="#009DFF"></fc-icon>接口简介</li>
            </ul>
            <fc-tlblist class="sys-fast-tlblist" fcSize="small" [fcButtons]="fastsearchWords" (fcEvent)="tlblistEvent($event);"></fc-tlblist>
        </div>
    </div>
    <div nz-row [nzGutter]="10" fccontent>
        <!-- 新增卡片操作 -->
        <div nz-col [nzSpan]="6" class="sys-card sys-card-add">
            <nz-card (click)="addInterface();">
                <ng-template #body>
                    <fc-icon fcIcon="fc-icon-add" fcFontSize="30" class="sys-card-addicon"></fc-icon>
                    <p class="sys-card-addtext">新增接口</p>
                </ng-template>
            </nz-card>
        </div>
        <!-- 接口列表循环 -->
        <div nz-col [nzSpan]="6" class="sys-card" *ngFor="let sysInterface of sysInterfaces">
            <nz-card (click)="listEdit(sysInterface);">
                <ng-template #body>
                    <div class="sys-card-content">
                        <!-- 操作按钮 -->
                        <div class="sys-card-tbl">
                            <!-- 默认显示两个 -->
                            <fc-tooltip class="sys-card-tbl-every" fcTitle="{{btn.BTNNAME}}" *ngFor="let btn of btnlistOnes">
                                <fc-icon [fcIcon]="btn.BTNICON" (click)="btnCardEvent(btn.BTNCODE,sysInterface)" fcFontSize="18px" fccontent></fc-icon>
                            </fc-tooltip>
                            <!-- 超出2个后显示 -->
                            <div class="sys-card-tbl-more" *ngIf="btnlistMores.length!==0">
                                <nz-dropdown>
                                    <fc-icon fcIcon="fc-icon-bglist" nz-dropdown></fc-icon>
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item *ngFor="let btn of btnlistMores">
                                            <fc-tooltip fcTitle="{{btn.BTNNAME}}">
                                                <fc-icon [fcIcon]="btn.BTNICON" (click)="btnCardEvent(btn.BTNCODE)" fcFontSize="18px" fccontent></fc-icon>
                                            </fc-tooltip>
                                        </li>
                                    </ul>
                                </nz-dropdown>
                            </div>
                        </div>
                        <span class="sys-card-mark">
                            {{sysInterface.APPID|slice:0:1}}
                        </span>
                        <div class="sys-card-text">
                            <div class="sys-card-title">
                                {{sysInterface.APPID}}-{{sysInterface.IMPLNAME}}
                            </div>
                            <p class="sys-card-smarks">{{sysInterface.REMARK}}</p>
                        </div>
                    </div>
                    <div class="sys-card-footer">
                        <fc-tooltip class="sys-card-btn" fcTitle="点赞">
                            <fc-icon fcIcon="fc-icon-everyday" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" fcTitle="下载zip">
                            <fc-icon fcIcon="fc-icon-get" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" fcTitle="评价">
                            <fc-icon fcIcon="fc-icon-chat" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" fcTitle="统计图">
                            <fc-icon fcIcon="fc-icon-bgdimensionality" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                    </div>
                </ng-template>
            </nz-card>
        </div>
    </div>
</fc-layoutpanel>