<!-- 服务入口 -->
<fc-layoutpanel class="sys-card-pannel">
    <div class="sys-card-pannel-header" fcheader>
        <fc-title fcLabel="服务" class="sys-card-pannel-title" [fcHasLine]="false"></fc-title>
        <P class="sys-card-pannel-smarks">
            服务：FC基础服务平台的功能单元，开发者提供给终端用户的服务；与产品是多对一的关系；服务中包含接口、视图，默认模型 提供跨越设计与开发的体验解决方案。
        </P>
        <div class="sys-card-fast">
            <ul class="sys-fast-list">
                <li>
                    <fc-icon fcIcon="fc-icon-definition" fcColor="#009DFF"></fc-icon>导入</li>
                <li>
                    <fc-icon fcIcon="fc-icon-update" fcColor="#009DFF"></fc-icon>帮助</li>
            </ul>
            <div class="sys-fast-select">
                <fc-combo [fcShowLabel]="false" [fcOption]="productOptions" [(ngModel)]="product" fcPlaceHolder="请选择产品" fcAppid="SYSPRODUCT"
                    (ngModelChange)="chooseProduct($event)" name="SYSPRODUCT.PID" name="SYSPRODUCT.PID"></fc-combo>
            </div>
            <div class="sys-fast-byword">
                <span *ngFor="let item of fastsearchWords" [ngClass]="{'active':searchWord===item.ACTCODE}" (click)="fastSearch(item)">{{item.BTNNAME}}</span>
            </div>
        </div>
        <img class="sys-card-bg" src="assets/img/system-bg.png" />
    </div>
    <div nz-row [nzGutter]="10" fccontent>
        <div *ngIf="noResult" class="sys-noresult" fccontent1>
            <fc-icon fcIcon="fc-icon-bgsearch" fcColor="#BDC5D1" fcFontSize="30px"></fc-icon>
            <span class="noResult-title">没有任何数据</span>
            <span class="noResult-smarks">
                请选择产品和数据源过滤服务!
            </span>
        </div>
        <!-- 新增卡片操作 -->
        <div nz-col [nzSpan]="6" class="sys-card sys-card-add" *ngIf="pageList&&pageList.length!==0">
            <nz-card (click)="listAdd($event);">
                <ng-template #body>
                    <fc-icon fcIcon="fc-icon-add" fcFontSize="16px" class="sys-card-addicon"></fc-icon>
                    <p class="sys-card-addtext">新增服务</p>
                </ng-template>
            </nz-card>
        </div>
        <!-- 产品列表循环 -->
        <div nz-col [nzSpan]="6" class="sys-card" *ngFor="let sysservice of pageList">
            <nz-card (click)="listEdit(sysservice);">
                <ng-template #body>
                    <div class="sys-card-content">
                        <!-- 操作按钮 -->
                        <div class="sys-card-tbl">
                            <!-- 默认显示两个 -->
                            <fc-tooltip class="sys-card-tbl-every" fcTitle="{{btn.BTNNAME}}" *ngFor="let btn of btnlistOnes">
                                <fc-icon [fcIcon]="btn.BTNICON" (click)="btnCardEvent(btn,product)" fcFontSize="18px" fccontent></fc-icon>
                            </fc-tooltip>
                            <!-- 超出2个后显示 -->
                            <div class="sys-card-tbl-more" *ngIf="btnlistMores.length!==0">
                                <nz-dropdown>
                                    <fc-icon fcIcon="fc-icon-bglist" nz-dropdown></fc-icon>
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item *ngFor="let btn of btnlistMores">
                                            <fc-tooltip fcTitle="{{btn.BTNNAME}}">
                                                <fc-icon [fcIcon]="btn.BTNICON" (click)="btnCardEvent(btn,product)" fcFontSize="18px" fccontent></fc-icon>
                                            </fc-tooltip>
                                        </li>
                                    </ul>
                                </nz-dropdown>
                            </div>
                        </div>
                        <span class="sys-card-mark">
                            {{sysservice.APPID|slice:0:1}}
                        </span>
                        <div class="sys-card-text">
                            <div class="sys-card-title">
                                {{sysservice.SERVICEID}}-{{sysservice.SERVICENAME}}
                            </div>
                            <p class="sys-card-smarks">{{sysservice.REMARK}}</p>
                        </div>
                    </div>
                    <div class="sys-card-footer">
                        <fc-tooltip class="sys-card-btn" (click)="thumbUp()" fcTitle="点赞">
                            <fc-icon fcIcon="fc-icon-everyday" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" (click)="download()" fcTitle="下载zip">
                            <fc-icon fcIcon="fc-icon-get" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" (click)="evaluate()" fcTitle="评价">
                            <fc-icon fcIcon="fc-icon-chat" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                        <fc-tooltip class="sys-card-btn" (click)="count()" fcTitle="统计图">
                            <fc-icon fcIcon="fc-icon-bgdimensionality" fcFontSize="30px" fccontent></fc-icon>
                        </fc-tooltip>
                    </div>
                </ng-template>
            </nz-card>
        </div>
    </div>
</fc-layoutpanel>