<fc-layoutpanel class="sys-card-pannel">
    <fc-title fccontent fcLabel="元素-编辑" fcBorder="bottom"></fc-title>
    <h3 fccontent>编辑：编辑模型功能，配置视图元素：包含字段信息、模型信息、样式信息</h3>
    <fc-tlblist fccontent [fcAppid]="appId" (fcEvent)="tlblistEvent($event)"></fc-tlblist>
    <fc-title fccontent fcLabel="基本信息" fcBorder="bottom"></fc-title>
    <fc-layoutcol fccontent>
        <fc-layoutcol fccontent1 fcSpans="9,1">
            <fc-text fccontent1 fcLabel="服务名称" [(ngModel)]="mainObj.PID" (ngModelChange)="event('PID',$event)" [fcOption]="pidOption" name="SERVICENAME"></fc-text>
            <fc-text fccontent1 fcLabel="元素编码" [(ngModel)]="mainObj.SERVICENAME" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
            <fc-text fccontent1 fcLabel="默认模型" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            <fc-text fccontent1 fcLabel="数据类型" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            <fc-radio fccontent1 fcLabel="主键" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
            <fc-text fccontent1 fcLabel="长度" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            <div class="place-div" fccontent2></div>
            <div class="place-div" fccontent2></div>
            <div class="last-btn" fccontent2>
                <fc-button fccontent2 fcLabel="切换模型" (click)="event('DEFAULTAPPID')"></fc-button>
            </div>
        </fc-layoutcol>
        <fc-layoutcol fccontent2 fcSpans="9,1">
            <fc-text fccontent1 fcLabel="视图名称" [(ngModel)]="ruleCode" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME" [fcDisabled]="true"></fc-text>
            <fc-text fccontent1 fcLabel="元素名称" [(ngModel)]="mainObj.SERVICECLASS" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
            <fc-text fccontent1 fcLabel="模型字段" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            <fc-radio fccontent1 fcLabel="是否启用" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
            <fc-radio fccontent1 fcLabel="可为空" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
            <fc-text fccontent1 fcLabel="小数点位数" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
        </fc-layoutcol>
    </fc-layoutcol>
    <fc-title fccontent fcLabel="输入配置" fcBorder="bottom"></fc-title>
    <fc-layoutcol fccontent>
        <fc-layoutcol fccontent1 fcSpans="9,1">
            <fc-text fccontent1 fcLabel="数据字典" [(ngModel)]="mainObj.PID" (ngModelChange)="event('PID',$event)" [fcOption]="pidOption" name="SERVICENAME"></fc-text>
            <fc-text fccontent1 fcLabel="默认值" [(ngModel)]="mainObj.SERVICENAME" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
            <fc-text fccontent1 fcLabel="输入规则" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            <fc-layoutcol>
                <fc-text fccontent1 fcLabel="跨行数" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
                <fc-text fccontent2 fcLabel="跨列数" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            </fc-layoutcol>
        </fc-layoutcol>
        <fc-layoutcol fccontent2 fcSpans="9,1">
            <fc-text fccontent1 fcLabel="编码规则" [(ngModel)]="ruleCode" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME" [fcDisabled]="true"></fc-text>
            <fc-text fccontent1 fcLabel="输入组件" [(ngModel)]="mainObj.SERVICECLASS" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
            <fc-radio fccontent1 fcLabel="可为空" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
            <fc-radio fccontent1 fcLabel="可编辑" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
            <div class="last-btn" fccontent2>
                <fc-button fccontent2 fcLabel="+" (click)="event('DEFAULTAPPID')"></fc-button>
            </div>
        </fc-layoutcol>
    </fc-layoutcol>
    <fc-title fccontent fcLabel="输出配置" fcBorder="bottom"></fc-title>
    <fc-layoutcol fccontent>
        <fc-layoutcol fccontent1 fcSpans="9,1">
            <fc-text fccontent1 fcLabel="排序" [(ngModel)]="mainObj.PID" (ngModelChange)="event('PID',$event)" [fcOption]="pidOption" name="SERVICENAME"></fc-text>
            <fc-text fccontent1 fcLabel="样式" [(ngModel)]="mainObj.SERVICENAME" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
            <fc-text fccontent1 fcLabel="行内样式" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            <fc-radio fccontent1 fcLabel="列锁定" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
            <fc-layoutcol>
                <fc-text fccontent1 fcLabel="列最长显示" [(ngModel)]="mainObj.DEFAULTAPPID" [fcAppid]="appId" fcFieldCode="DEFAULTAPPID" name="DEFAULTAPPID" [fcDisabled]="true"></fc-text>
            </fc-layoutcol>
        </fc-layoutcol>
        <fc-layoutcol fccontent2 fcSpans="9,1">
            <fc-text fccontent1 fcLabel="显示前缀" [(ngModel)]="ruleCode" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME" [fcDisabled]="true"></fc-text>
            <fc-text fccontent1 fcLabel="显示格式" [(ngModel)]="mainObj.SERVICECLASS" [fcAppid]="appId" fcFieldCode="SERVICENAME" name="SERVICENAME"></fc-text>
            <fc-radio fccontent1 fcLabel="显示格式" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
            <fc-radio fccontent1 fcLabel="文本提示" [(ngModel)]="mainObj.CATAGORY" [fcAppid]="appId" fcFieldCode="CATAGORY" fcLabelCode="DICDESC" fcValueCode="DICVALUE" name="CATAGORY"></fc-radio>
        </fc-layoutcol>
    </fc-layoutcol>
    <fc-title fccontent fcLabel="其他信息" fcBorder="bottom"></fc-title>
    <fc-textarea fccontent fcPlaceHolder="请输入备注" [fcAppid]="appId" fcFieldCode='REMARK' [(ngModel)]="mainObj.REMARK" name="REMARK"></fc-textarea>
</fc-layoutpanel>