<!-- 评分 fc-rate -->
<fc-layoutpanel>
    <!-- 快速定位 -->
    <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="评分" fccontent1 fcSubtitle="评分组件" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="对评价进行展示。对事物进行快速的评级操作。" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-rate fcText="评分" [(ngModel)]="rateValue"></fc-rate>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="基本的显示。" 
                    fcview='<fc-rate fcText="评分" [(ngModel)]="rateValue"></fc-rate>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent2>
                    <div fccontent>
                        <fc-rate fcText="评分" fcDisabled="true"></fc-rate>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态"
                    fcview='<fc-rate fcText="评分" fcDisabled="true"></fc-rate>'
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="half" fcTitle="半星" fccontent1>
                    <div fccontent>
                        <fc-rate fcText="评分" fcCount="0.5"></fc-rate>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="只展示半星"
                    fcview='<fc-rate fcText="评分" fcCount="0.5"></fc-rate>'
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol> 
        </fc-layoutpanel>  
        <!-- API -->
        <fc-layoutpanel fccontent>
            <fc-title id="attributesAPI" fcLabel="属性" fcheader> </fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
            <fc-title id="eventAPI" fcLabel="事件" fcheader> </fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
                [
                {href:'basic','label':'基本'},
                {href:'disabled','label':'禁用'},
                {href:'half','label':'半星'},
                {href:'attributesAPI','label':'属性API'},
                {href:'eventAPI','label':'事件API'}
                ]">
            </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->
        
    
    
    
    
</fc-layoutpanel>