<!-- 气泡 fc-popover -->
<fc-layoutpanel>
    <fc-title fcLabel="气泡" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcButton="滑过"></fc-popover>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="三种触发方式" fccontent1>
            <div fccontent>
                <label>鼠标移入、聚集、点击。</label>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="滑过" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="focus" fcButton="聚焦" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="click" fcButton="点击" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="位置有十二个方向" fccontent2>
            <div fccontent>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="上" fcPlacement="top" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="左" fcPlacement="left" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="右" fcPlacement="right" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="下" fcPlacement="bottom" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="上左" fcPlacement="topLeft" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="上右" fcPlacement="topRight" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="下左" fcPlacement="bottomLeft" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="下右" fcPlacement="bottomRight" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="左下" fcPlacement="leftTop" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="左下" fcPlacement="leftBottom" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="右上" fcPlacement="rightTop" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
                <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="右下" fcPlacement="rightBottom" style="margin-right:24px;margin-top:24px;display: inline-block;"></fc-popover>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="更多" fccontent1>
            <div fccontent>
                待开发
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
</fc-layoutpanel>