<!-- 气泡 fc-popover -->
<fc-layoutpanel>
    <!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="气泡卡片" fcheader fcSubtitle="点击/鼠标移入元素，弹出气泡式的卡片浮层。" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fcheader fcSubtitle="当目标元素有进一步的描述和相关操作时，可以收纳到卡片中，根据用户的操作行为进行展现。" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fcheader fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容" fcButton="滑过"></fc-popover>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" 
                    fcview='<fc-popover fcTitle="气泡标题" fcContent="气泡内容" fcButton="滑过"></fc-popover>' 
                    [fccode]="basicjs">
                   </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="trigger" fcTitle="触发方式" fccontent2>
                    <div fccontent>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="滑过" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="聚焦"  class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="点击"  class="triggerview"></fc-popover>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="气泡卡片触发方式。" 
                    [fcview]="triggerview"
                    [fccode]="basicjs"[fcstyle]="basicstyle"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="close" fcTitle="关闭" fccontent1>
                    <div fccontent>
                        <fc-popover fcShowClose="true" fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="滑过" class="triggerview"></fc-popover>
                        <fc-popover fcShowClose="true" fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="聚焦" class="triggerview"></fc-popover>
                        <fc-popover fcShowClose="true" fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="点击" class="triggerview"></fc-popover>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="关闭卡片" 
                    [fcview]="closeview"
                    [fccode]="basicjs"[fcstyle]="basicstyle"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="position" fcTitle="位置方向" fccontent2>
                    <div fccontent>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="上" fcPlacement="top" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="左" fcPlacement="left" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="右" fcPlacement="right" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="下" fcPlacement="bottom" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="上左" fcPlacement="topLeft" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="上右" fcPlacement="topRight" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="下左" fcPlacement="bottomLeft" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="下右" fcPlacement="bottomRight" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="左下" fcPlacement="leftTop" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="左下" fcPlacement="leftBottom" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="右上" fcPlacement="rightTop" class="triggerview"></fc-popover>
                        <fc-popover fcTitle="气泡标题" fcContent="气泡内容气泡内容气泡内容" fcTrigger="hover" fcButton="右下" fcPlacement="rightBottom" class="triggerview"></fc-popover>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="气泡卡片位置12个方向" 
                    [fcview]="positionview"
                    [fccode]="basicjs"[fcstyle]="basicstyle"></fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
            <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
        <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'trigger','label':'触发方式'},
            {href:'close','label':'关闭'},
            {href:'position','label':'位置方向'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
        </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
    
    
   
   
</fc-layoutpanel>