<!-- 纵向 fc-layoutrow -->
<fc-layoutpanel>
  <fc-title fcLabel="纵向" fcheader></fc-title>
  <fc-layoutcol fccontent fcSpans="1,1">
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <div style="height:400px;border:1px solid #1890ff;">
          <fc-layoutrow>
            <div style="background-color:#E6F7FF;" fccontent1>
              fcSpan默认高度为50,fc-layoutrow父元素需要设置宽高，fc-layoutrow的宽高为100%,fcSpan设置fccontent1的高度,fccontent2为400px-50px的剩余高度
            </div>
            <div style="background-color:#BAE7FF;height: 100%;" fccontent2>
              fccontent2为400px-80px的剩余高度
            </div>
          </fc-layoutrow>
        </div>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="类型" fccontent2>
      <div fccontent>
        正在开发中
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="大小" fccontent1>
      <div fccontent>
        正在开发中
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="剩余高度" fccontent2>
      <div fccontent>
        <div style="height:400px;border:1px solid #1890ff;">
          <fc-layoutrow fcSpan="280">
            <div style="background-color:#E6F7FF;" fccontent1>
              fc-layoutrow父元素需要设置宽高，fc-layoutrow的宽高为100%,fcSpan设置fccontent1的高度,fccontent2为400px-80px的剩余高度
            </div>
            <div style="background-color:#BAE7FF;height:100%;" fccontent2>
              fccontent2为400px-280px的剩余高度
            </div>
          </fc-layoutrow>
        </div>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="更多" fccontent1>
      <div fccontent>
        待开发
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
  <!-- API -->
  <fc-layoutpanel fccontent>
    <fc-title fcLabel="属性" fcheader> </fc-title>
    <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
  </fc-layoutpanel>
  <fc-layoutpanel fccontent>
    <fc-title fcLabel="事件" fcheader> </fc-title>
    <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
  </fc-layoutpanel>
</fc-layoutpanel>