<!-- 纵向 fc-layoutrow -->
<fc-layoutpanel class="templatefastposition samples">
    <!-- 快速定位 -->
    <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="纵向定位" fccontent1 fcSubtitle="纵向定位布局" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="纵向布局可以设置占模板的比例高度" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>  
        <!-- 组件内容开始 -->
        <fc-layoutcol fccontent fcSpans="1,1">
          <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
            <div fccontent class="all" style="margin-bottom: 10px;">
                <fc-layoutrow fcSpan="70" fccontent>
                  <div fccontent1 class="text">第一部分</div>
                  <div fccontent2 class="text">第二部分</div>
                </fc-layoutrow>
            </div>
            <fc-adcode fcfooter fcTitle="描述" 
                fcRemark="最基本的用法"
                [fcview]='basicview'
                [fccode]="basicjs"
                [fcstyle]="basicstyle">
            </fc-adcode>
          </fc-layoutgroup>
          <fc-layoutgroup id="remain" fcTitle="剩余高度" fccontent2>
            <div fccontent class="all"  style="margin-bottom: 10px;">
              <fc-layoutrow fcSpan="70" fccontent>
                <div fccontent1 class="text">第一部分</div>
                <div fccontent2 class="text">第二部分</div>
              </fc-layoutrow>
          </div>
          <fc-adcode fcfooter fcTitle="描述" 
              fcRemark="使用纵向布局时，外层需要给一个高度，fc-layoutrow高度为100%, fcSpan='70'设置第一部分为70px高度，第二部分为剩余高度"
              [fcview]='basicview'
              [fccode]="basicjs"
              [fcstyle]="basicstyle">
          </fc-adcode>
        </fc-layoutgroup>
        </fc-layoutcol>
          <!-- API -->
        <fc-layoutpanel fccontent>
              <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
              <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
          <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'remain','label':'剩余高度'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
          </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->
</fc-layoutpanel>