<!-- 列 fc-list -->
<fc-layoutpanel class="list">
    <fc-title fcLabel="fc-list组件" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1">
        <fc-layoutgroup fcTitle="基本" fccontent1 style="height:150px;margin-top: 20px;" >
            <!-- fc-list组件 -->
            <fc-list [fcAppid]="'SYSCOMPONENT'" fccontent fcFieldCode="APPNAME"  (fcEvent)="listEvent($event)"></fc-list>
            <div>列表使用：元数据配置[fcAppid]="'SYSCOMPONENT'" fccontent fcFieldCode="APPNAME"  (fcEvent)="listEvent($event)"</div>
        </fc-layoutgroup>
    </fc-layoutcol>
</fc-layoutpanel>
  <!-- API -->
  <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
</fc-layoutpanel>
<fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
</fc-layoutpanel>