<!-- 列 fc-list -->
<fc-layoutpanel class="templatefastposition list samples">
    <!-- 快速定位 -->
   <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="列表" fcheader fcSubtitle="列表组件" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fcheader fcSubtitle="需要一个数据列表时，可以用元数据配置" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fcheader fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1  >
                    <div fccontent style="height:150px;margin-top: 20px;overflow: hidden;margin-bottom: 10px;">
                        <fc-list [fcAppid]="'SYSCOMPONENT'" fccontent fcFieldCode="APPNAME"></fc-list>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" 
                    [fcview]="basicview" [fccode]="basicjs">
                    </fc-adcode>
                    <!-- fc-list组件 -->
                </fc-layoutgroup>
                <fc-layoutgroup id="sys" fcTitle="基本" fccontent1  >
                        <div fccontent style="height:150px;margin-top: 20px;overflow: hidden;margin-bottom: 10px;">
                            <fc-list [fcAppid]="'SYSCOMPONENT'" fccontent fcFieldCode="APPNAME"></fc-list>
                        </div>
                        <fc-adcode fcfooter fcTitle="描述" fcRemark="通过元数据配置列表" 
                        fcview='<fc-list [fcAppid]="SYSCOMPONENT" fccontent fcFieldCode="APPNAME"></fc-list>' [fccode]="basicjs">
                        </fc-adcode>
                        <!-- fc-list组件 -->
                </fc-layoutgroup>
            </fc-layoutcol>    
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
            <fc-title id="listjs" fcLabel="点击事件" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1">
                <fc-layoutgroup fcTitle="事件" fccontent1  >
                    <div fccontent style="height:150px;margin-top: 20px;overflow: hidden;margin-bottom: 10px;">
                        <fc-list [fcAppid]="'SYSCOMPONENT'" fccontent fcFieldCode="APPNAME"  (fcEvent)="listEvent($event)"></fc-list>
                    </div>
                    <!-- fc-list组件 -->
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" 
                    [fcview]="listview" [fccode]="listjs">
                    </fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>    
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
        <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'sys','label':'列标用法'},
            {href:'listjs','label':'点击事件'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->
</fc-layoutpanel>
  