<!-- 标签 fc-tag -->
<fc-layoutpanel>
    <fc-title fcLabel="标签" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-tag fcTitle="管理员" fcColor="blue" fcIcon="fc-line"></fc-tag>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="加图标" fccontent2>
            <div fccontent>
                <fc-tag  fcColor="blue" fcIcon="fc-icon-method" fcSize="large"></fc-tag>
                <div style="margin-top: 10px;">图标：fcIcon="fc-icon-method"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="标签是否可关闭" fccontent1>
            <div fccontent>
                <fc-tag  fcColor="blue" fcIcon="fc-icon-method" fcSize="large" fcClose="true"></fc-tag>
                <fc-tag  fcColor="blue" fcIcon="fc-icon-method" fcSize="large" fcClose="true"></fc-tag>
                <fc-tag  fcColor="blue" fcIcon="fc-icon-method" fcSize="large" fcClose="true"></fc-tag>
                <fc-tag  fcColor="blue" fcIcon="fc-icon-method" fcSize="large" fcClose="true"></fc-tag>
                <div style="margin-top: 10px;">标签是否可关闭：fcClose="true"/默认是false</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
              正在开发
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="实现类似Checkbox效果" fccontent2>
            <div fccontent>
                正在开发
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
</fc-layoutpanel>