<!-- 按钮 fc-button -->
<fc-layoutpanel>
    <fc-title fcLabel="按钮" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-avatar fcIcon="user" fcSize="small" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" fcSize="large" style="margin-right: 24px;"></fc-avatar>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="方形" fccontent2>
            <div fccontent>
                <fc-avatar fcIcon="user" fcShape="square" fcSize="small" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" fcShape="square" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" fcShape="square" fcSize="large" style="margin-right: 24px;"></fc-avatar>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="头像大小" fccontent1>
            <div fccontent>
                <fc-avatar fcIcon="user" fcSize="small" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" fcSize="default" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" fcSize="large" style="margin-right: 24px;"></fc-avatar>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="字符类型" fccontent2>
            <div fccontent>
                <label> 自定义图标颜色及背景色 </label>
                <fc-avatar fcText="PLH" fcShape="square" fcSize="large" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcText="PLH" fcShape="square" fcSize="large" fcColor="blue" fcBgColor="#000000" style="margin-right: 24px;"></fc-avatar>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="带徽标的头像" fccontent2>
            <div fccontent>
                <fc-avatar fcCount="5" fcIcon="user" fcSize="small" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcCount="5" fcIcon="user" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcCount="5" fcIcon="user" fcSize="large" style="margin-right: 24px;"></fc-avatar>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="圆点" fccontent2>
            <div fccontent>
                <fc-avatar fcIcon="user" fcSize="small" fcMode="DOT" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" fcHasDot="true" fcMode="DOT" style="margin-right: 24px;"></fc-avatar>
                <fc-avatar fcIcon="user" fcSize="large" fcMode="DOT" style="margin-right: 24px;"></fc-avatar>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="更多" fccontent1>
            <div fccontent>
                待开发
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
</fc-layoutpanel>