<!-- 日历 fc-calendar -->
<fc-layoutpanel>
    <!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="日历" fccontent1 fcSubtitle="按照日历形式展示数据的容器" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="当数据是日期或按照日期划分时，例如日程、课表、价格日历等，农历等。目前支持年/月切换。" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-calendar></fc-calendar>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-calendar></fc-calendar>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="full" fcTitle="不全屏" fccontent2>
                    <div fccontent>
                        <fc-calendar fcFullscreen="true"></fc-calendar>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="不全屏显示日历组件"
                    fcview='<fc-calendar fcFullscreen="true"></fc-calendar>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="mode" fcTitle="模式" fccontent1>
                    <div fccontent>
                        <fc-calendar fcFullscreen="true" fcMode="month"></fc-calendar>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="日历模式显示为月模式"
                    fcview='<fc-calendar fcFullscreen="true" fcMode="month"></fc-calendar>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
            <!-- API -->
        <fc-layoutpanel fccontent>
                <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
                [
                {href:'basic','label':'基本'},
                {href:'full','label':'不全屏'},
                {href:'mode','label':'模式'},
                {href:'attributesAPI','label':'属性API'},
                {href:'eventAPI','label':'事件API'}
                ]">
        </fc-fastposition>
        </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
    
    
    
    
    
    
    
</fc-layoutpanel>