<!-- 日历 fc-calendar -->
<fc-layoutpanel>
    <fc-title fcLabel="日历" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-calendar></fc-calendar>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="是否全屏显示" fccontent2>
            <div fccontent>
                <fc-calendar fcFullscreen="true"></fc-calendar>
                <div style="margin-top:10px;">是否全屏显示fcFullscreen="true"不全屏显示/false为全屏显示</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="模式" fccontent1>
            <div fccontent>
                <fc-calendar fcFullscreen="true" fcMode="month"></fc-calendar>
                <div style="margin-top:10px;">模式:月模式 fcMode="month" /默认模式为月模式</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="天模式自定义显示模板" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="月模式自定义显示模板" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="国际化" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
     <!-- API -->
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
</fc-layoutpanel>