<!-- 列表模板 -->
<fc-layoutpanel class='full' fcFull="true" class="templatelist">
    <fc-layoutrow fcSpan="140" style="height:100%;" fccontent>
        <ng-container fccontent1>
            <fc-tlblist [fcAppid]="appId" (fcEvent)="customListEvent($event)"></fc-tlblist>
            <form class="list-search" name="searchForm1" #searchForm>
                <fc-layoutcol fcSpans="5,2">
                    <fc-layoutcol fccontent1 fcSpans="1,1">
                        <fc-layoutpanel fccontent1>
                            <fc-combo [fcLabel]="'客户名称'" fccontent [(ngModel)]="comboValue" [fcOption]="comboOptions" name="comboname"></fc-combo>
                            <fc-date [fcLabel]="'日期'" fccontent name="datename1" class="datestart"></fc-date>
                        </fc-layoutpanel>
                        <fc-layoutpanel fccontent2>
                            <fc-radio [fcLabel]="'我的客户'" fccontent [(ngModel)]="radioValue" [fcOption]="radioOptions" name="radioname"></fc-radio>
                            <fc-date [fcLabel]="'-'" fccontent name="datename1"></fc-date>
                        </fc-layoutpanel>
                    </fc-layoutcol>
                    <fc-layoutpanel fccontent2>
                        <fc-button fcLabel="查询" fccontent fcType="primary" (click)="clickSearch()" name="buttonname1"></fc-button>
                        <fc-button fccontent fcLabel="清空" fcType="default" (click)="searchForm.reset()" name="buttonname2"></fc-button>
                    </fc-layoutpanel>
                </fc-layoutcol>
            </form>
        </ng-container>
        <fc-listdata fccontent2 [fcAppid]="appId" [fcOption]="fcListdataOptions" (fcEvent)="listdataEvent($event)" [fcCondition]="listDataCustomCondition"></fc-listdata>
    </fc-layoutrow>
</fc-layoutpanel>