<!-- 多选 fc-check -->
<fc-layoutpanel class="templatefastposition samples">
    <!-- 快速定位 -->
        <fc-layoutcol fcSpans="9,1" fccontent>
            <fc-title fcLabel="多选按钮" fccontent1 fcSubtitle="多选框。" fcHasline="false"></fc-title>
            <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="在一组可选项中进行多项选择时；单独使用可以表示两种状态之间的切换，和 switch 类似。区别在于切换 switch 会直接触发状态改变，而checkbox一般用于状态标记。" fcHasline="false"></fc-title>
            <fc-title fcLabel="代码演示" fcheader fcHasline="false"></fc-title>
            <fc-layoutpanel fccontent1>
            <!-- 组件内容开始 -->
                <fc-layoutpanel fccontent>
                    <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
                    <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                            <div fccontent>
                                <fc-check [fcLabel]="'基本'" [(ngModel)]="checkValue"  [fcOption]="checkOptions"></fc-check>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" 
                            fcRemark="最基本的用法。" 
                            fcview='<fc-check [fcLabel]="基本" [(ngModel)]="checkValue"  [fcOption]="checkOptions"></fc-check>'
                            [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="single" fcTitle="单独使用" fccontent2>
                            <div fccontent>
                                <fc-check [fcLabel]="'单独使用'" [(ngModel)]="checkValue"  [fcOption]="checkOption"></fc-check>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" 
                            fcRemark="复选框单独使用" 
                            [fcview]="single"
                            [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="readonlyview" fcTitle="只读" fccontent1>
                            <div fccontent>
                                <fc-check [fcLabel]="'只读'"  [fcReadonly]="true" [(ngModel)]="checkValue" [fcOption]="checkOptionsreadonly"></fc-check>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="只能读不能点击"
                                [fcview]="readonlyview"
                                [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="singledisabled" fcTitle="单独禁用" fccontent2>
                            <div fccontent>
                                <fc-check [fcLabel]="'单独禁用'" [(ngModel)]="checkValue" [fcOption]="checkOptionsDisabled"></fc-check>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="单独禁用状态"
                            [fcview]="singledisabledview"
                            [fccode]="basicjs">
                        </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent1>
                            <div fccontent>
                                <fc-check [fcLabel]="'禁用'" fcDisabled="true" [(ngModel)]="checkValue" [fcOption]="checkOptionsDisabled"></fc-check>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态"
                            [fcview]="disabledview"
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="noshowlabel" fcTitle="不占位" fccontent2>
                            <div fccontent>
                                <fc-check  [fcShowLabel]="false"  [(ngModel)]="checkValue"  [fcOption]="checkOptions">
                                </fc-check>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="不占位时显示的效果"
                            fcview='<fc-check  [fcShowLabel]="false"  [(ngModel)]="checkValue"  [fcOption]="checkOptions"></fc-check>'
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                    </fc-layoutcol>   
                </fc-layoutpanel>
                <!-- API -->
                <fc-layoutpanel fccontent>
                    <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
                <fc-layoutpanel fccontent>
                    <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
            <!-- 组件内容结束 -->
            </fc-layoutpanel>
            <div class="fastposition-content" fccontent2>
                <fc-fastposition  [fcLinks]="
                    [
                    {href:'basic','label':'基本'},
                    {href:'single','label':'单独使用'},
                    {href:'readonly','label':'只读'},
                    {href:'singledisabled','label':'禁用'},
                    {href:'disabled','label':'禁用'},
                    {href:'noshowlabel','label':'不占位'},
                    {href:'attributesAPI','label':'属性API'},
                    {href:'eventAPI','label':'事件API'}
                    ]">
                </fc-fastposition>
            </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->  
</fc-layoutpanel>