<!-- 多选 fc-check -->
<fc-layoutpanel>
    <fc-title fcLabel="多选" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <label>{{checkValue}}</label>
                <fc-check [(ngModel)]="checkValue"  [fcOption]="checkOptions"></fc-check>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent1>
            <div fccontent>
                <fc-check [(ngModel)]="checkValue" [fcOption]="checkOptionsDisabled"></fc-check>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>