<!-- 自定义查询展开收起 fc-collapse -->
<fc-layoutpanel>
    <fc-title fcLabel="自定义查询展开收起" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-collapse>
                    <div fcshow1>
                        <fc-text fcLabel="应收金额"></fc-text>
                    </div>
                    <div fcshow2>
                        <fc-text fcLabel="应收金额"></fc-text>
                    </div>
                    <div fchide1>
                        <fc-text fcLabel="应收金额"></fc-text>
                    </div>
                    <div fchide2>
                        <fc-text fcLabel="应收金额"></fc-text>
                    </div>
                    <div fchide3>
                        <fc-text fcLabel="应收金额"></fc-text>
                    </div>
                    <div fcbutton>
                        <fc-button fcLabel="查询" fcType="primary"></fc-button>
                        <fc-button fcLabel="清空" fcType="default"></fc-button>
                    </div>
                </fc-collapse>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
</fc-layoutpanel>