<!-- 整数 fc-long -->
<fc-layoutpanel>
    <fc-title fcLabel="整数" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-long [(ngModel)]="longValue"></fc-long>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-long [(ngModel)]="longValue" fcSize="small"></fc-long>
                </div>
                <div style="margin-top:24px;">
                    <fc-long [(ngModel)]="longValue" fcSize="default"></fc-long>
                </div>
                <div style="margin-top:24px;">
                    <fc-long [(ngModel)]="longValue" fcSize="large"></fc-long>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-long fcDisabled="true"></fc-long>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="最小值" fccontent2>
            <div fccontent>
                <fc-long fcMinValue="3"></fc-long>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="最大值" fccontent2>
            <div fccontent>
                <fc-long fcMaxValue="10"></fc-long>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="步数" fccontent1>
            <div fccontent>
                <fc-long fcStep="5"></fc-long>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>