<!-- 日期 fc-date -->
<fc-layoutpanel>
    <fc-title fcLabel="日期" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-date [fcLabel]="'内容为空'"></fc-date>
                <fc-date [fcLabel]="'显示日期'" [(ngModel)]="now"></fc-date>
                <fc-date [fcLabel]="'基本'" fcMode='month' style="margin-top: 24px;display:block;"></fc-date>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="只读" fccontent1>
            <div fccontent>
                <fc-date [fcLabel]="'只读'" [(ngModel)]="now" [fcReadonly]="true"></fc-date>
                <div style="margin-left:79px;">只读：[fcReadonly]="true"/默认为false</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent1>
            <div fccontent>
                <fc-date [fcLabel]="'禁用'" [(ngModel)]="now" fcDisabled="true"></fc-date>
                <div style="margin-left:79px;">禁用：fcDisabled="true"/默认为false</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-date [fcLabel]="'小'" [(ngModel)]="now" fcSize="small"></fc-date>
                    <div style="margin-left:81px;">小：fcSize="small"</div>
                </div>
                <div style="margin-top:24px;" style="margin-top:24px;">
                    <fc-date [fcLabel]="'默认'" [(ngModel)]="now" fcSize="default"></fc-date>
                    <div style="margin-left:81px;">默认：fcSize="default"</div>
                </div>
                <div style="margin-top:24px;">
                    <fc-date [fcLabel]="'大'" [(ngModel)]="now" fcSize="large"></fc-date>
                    <div style="margin-left:81px;">大：fcSize="large"</div>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="fcShowLabel是否占位" fccontent2>
            <div fccontent>
                <fc-date [fcLabel]="'占位时'" [fcShowLabel]="true"[(ngModel)]="now">
                </fc-date>
                <div style="margin-left:69px;">占位时：[fcShowLabel]="true"/默认为true</div>
                不占位时：
                <fc-date [fcShowLabel]="false" [(ngModel)]="now">
                </fc-date>
                <div style="margin-left:59px;">不占位时：[fcShowLabel]="false"/默认为true</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="年月日格式" fccontent2>
            <div fccontent>
                <fc-date [fcLabel]="'年月日格式'" [(ngModel)]="now"></fc-date>
                <fc-date [fcLabel]="'年月日期格式'" [(ngModel)]="now" fcFormat="YYYY/MM/DD"></fc-date>
                <div style="margin-left:55px;">显示类型：fcFormat="YYYY/MM/DD"</div>
                <fc-date [fcLabel]="'年月日期格式'" [(ngModel)]="now" fcFormat="YYYY年MM月DD日" style="margin-top: 24px;display:block;"></fc-date>
                <div style="margin-left:55px;">显示类型： fcFormat="YYYY年MM月DD日"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="年月格式" fccontent2>
            <div fccontent>
                <fc-date [fcLabel]="'年月格式'" [(ngModel)]="now" fcMode="month"></fc-date>
                <fc-date [fcLabel]="'年月格式'" [(ngModel)]="now" fcMode="month" fcFormat="YYYY/MM"></fc-date>
                <div style="margin-left:30px;">月份日期格式： fcFormat="YYYY/MM"</div>
                <fc-date [fcLabel]="'年月格式'" [(ngModel)]="now" fcMode="month" fcFormat="YYYY年MM月" style="margin-top: 24px;display:block;"></fc-date>
                <div style="margin-left:30px;">月份日期格式： fcFormat="YYYY年MM月"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="输入提示符" fccontent2>
            <div fccontent>
                <fc-date [fcLabel]="'输入提示符'" fcPlaceHolder="这是输入提示符参数"></fc-date>
                <div style="margin-left:21px;">输入提示符参数： fcPlaceHolder="这是输入提示符参数"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="某天之前" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="某天之后" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
  <!-- API -->
     <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
</fc-layoutpanel>