<!-- 日期 fc-date -->
<fc-layoutpanel>
    <fc-title fcLabel="日期" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-date></fc-date>
                <fc-date [(ngModel)]="now"></fc-date>
                <fc-date fcMode='month' style="margin-top: 24px;display:block;"></fc-date>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-date [(ngModel)]="now" fcSize="small"></fc-date>
                </div>
                <div style="margin-top:24px;" style="margin-top:24px;">
                    <fc-date [(ngModel)]="now" fcSize="default"></fc-date>
                </div>
                <div style="margin-top:24px;">
                    <fc-date [(ngModel)]="now" fcSize="large"></fc-date>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-date [(ngModel)]="now" fcDisabled="true"></fc-date>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="月份日期格式" fccontent1>
            <div fccontent>
                <fc-date [(ngModel)]="now"></fc-date>
                <fc-date [(ngModel)]="now" fcFormat="YYYY/MM/DD"></fc-date>
                <fc-date [(ngModel)]="now" fcFormat="YYYY年MM月DD日" style="margin-top: 24px;display:block;"></fc-date>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="月份日期时间格式" fccontent2>
            <div fccontent>
                <fc-date [(ngModel)]="now" fcMode="month"></fc-date>
                <fc-date [(ngModel)]="now" fcMode="month" fcFormat="YYYY/MM"></fc-date>
                <fc-date [(ngModel)]="now" fcMode="month" fcFormat="YYYY年MM月" style="margin-top: 24px;display:block;"></fc-date>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="某天之前" fccontent1>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="某天之后" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="输入提示符" fccontent2>
            <div fccontent>
                <fc-date fcPlaceHolder="这是输入提示符参数"></fc-date>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>