<!--文件上传 fc-upload -->
<fc-layoutpanel>
    <!-- 快速定位 -->
    <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-title fcLabel="上传" fccontent1 fcSubtitle="文件选择上传和拖拽上传控件" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="上传是将信息（网页、文字、图片、视频等）通过网页或者上传工具发布到远程服务器上的过程。" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-upload  [fcLabel]="'基本'" (fcEvent)="fileEvent($event)" [fcOption]="{FILETYPE:'PIC',SOURCEID:'dd90c093667947c4a4265e001602b9cd',SOURCEAID:'SYSAPP','SOURCEFIELD':'APPURL','RESTITLE':''}">
                        </fc-upload>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" 
                    fcRemark="最基本的用法。" 
                    [fcview]="basicview"
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="readonly" fcTitle="只读" fccontent2>
                        <div fccontent>
                            <fc-upload  [fcLabel]="'只读'" [fcReadonly]="true" (fcEvent)="fileEvent($event)" [fcOption]="{FILETYPE:'PIC',SOURCEID:'dd90c093667947c4a4265e001602b9cd',SOURCEAID:'SYSAPP','SOURCEFIELD':'APPURL','RESTITLE':''}">
                            </fc-upload>
                        </div>
                        <fc-adcode fcfooter fcTitle="描述" 
                        fcRemark="只能读不能点击" 
                        [fcview]="readonlyview"
                        [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent1>
                    <div fccontent>
                        <fc-upload  [fcLabel]="'禁用'" [fcListType]="'picture-card'" (fcEvent)="fileEvent($event)" [fcOption]="{FILETYPE:'PIC',SOURCEID:'dd90c093667947c4a4265e001602b9cd',SOURCEAID:'SYSAPP','SOURCEFIELD':'APPURL','RESTITLE':''}"
                        fcDisabled="true">
                        </fc-upload>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" 
                    fcRemark="禁用状态" 
                    [fcview]="disabledview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="list" fcTitle="图片列表" fccontent2>
                    <div fccontent>
                        <fc-upload  [fcLabel]="'图片列表'" fcListType="text" (fcEvent)="fileEvent($event)" [fcOption]="{FILETYPE:'PIC',SOURCEID:'dd90c093667947c4a4265e001602b9cd',SOURCEAID:'SYSAPP','SOURCEFIELD':'APPURL','RESTITLE':''}">
                        </fc-upload>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" 
                    fcRemark="图片列表样式" 
                    [fcview]="listview"
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="picture" fcTitle="照片墙" fccontent2>
                    <div fccontent>
                        <fc-upload  [fcLabel]="'照片墙'" [fcListType]="'picture-card'" (fcEvent)="fileEvent($event)" [fcOption]="{FILETYPE:'PIC',SOURCEID:'dd90c093667947c4a4265e001602b9cd',SOURCEAID:'SYSAPP','SOURCEFIELD':'APPURL','RESTITLE':''}">
                        </fc-upload>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" 
                    fcRemark="图片列表样式" 
                    [fcview]="pictureview"
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-adcode fcfooter fcTitle="描述" 
                fcRemark="图片列表样式" 
                [fcview]="pictureview"
                [fccode]="basicjs">
                </fc-adcode>
            </fc-layoutcol>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="list" fcTitle="图片列表" fccontent1>
                        <div fccontent>
                            <fc-upload  [fcLabel]="'图片列表'" (fcEvent)="fileEvent($event)" fcListType="text"  [fcOption]="{FILETYPE:'PIC',SOURCEID:'dd90c093667947c4a4265e001602b9cd',SOURCEAID:'SYSAPP','SOURCEFIELD':'APPURL','RESTITLE':''}">
                            </fc-upload>
                        </div>
                        <fc-adcode fcfooter fcTitle="描述" 
                        fcRemark="图片列表样式" 
                        [fcview]="listview"
                        [fccode]="filejs">
                        </fc-adcode>
                    </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader> </fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader> </fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
                [
                {href:'basic','label':'基本'},
                {href:'readonly','label':'只读'},
                {href:'disabled','label':'禁用'},
                {href:'list','label':'图片列表'},
                {href:'picture','label':'照片墙'},
                {href:'readonly','label':'只读'},
                {href:'noshowlabel','label':'不占位'},
                {href:'attributesAPI','label':'属性API'},
                {href:'eventAPI','label':'事件API'}
                ]">
            </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->  
</fc-layoutpanel>