<!-- 下拉单选 fc-comob -->
<fc-layoutpanel>
    <fc-title fcLabel="下拉单选" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <label>{{comboValue}}</label>
                <fc-combo [(ngModel)]="comboValue"  [fcOption]="comboOptions">
                </fc-combo>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="参照字典" fccontent2>
            <div fccontent>
                <fc-combo fcheader fcLabel="任意元数据作为下拉" fcAppid="SYSAPP" fcFieldCode="IMPLFIELDS" fcLabelCode="FIELDNAME" fcValueCode="FIELDCODE"></fc-combo>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-combo [(ngModel)]="comboValue"  fcSize="default" [fcOption]="comboOptions"></fc-combo>
                </div>
                <div style="margin-top:24px;">
                    <fc-combo [(ngModel)]="comboValue"  fcSize="large" [fcOption]="comboOptions"></fc-combo>
                </div>
                <div style="margin-top:24px;">
                    <fc-combo [(ngModel)]="comboValue"  fcSize="small" [fcOption]="comboOptions"></fc-combo>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-combo [(ngModel)]="comboValue"  [fcOption]="comboOptionsDisabled">
                </fc-combo>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="下拉单选可搜索" fccontent2>
            <div fccontent>
                <fc-combo fcShowSearch="true" [(ngModel)]="comboValue"  [fcOption]="comboOptionsDisabled">
                </fc-combo>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="未找到时的内容显示" fccontent2>
            <div fccontent>
                <fc-combo fcNotFoundContent="未找到时的提示内容" [(ngModel)]="comboValue"  [fcOption]="comboOptionsDisabled">
                </fc-combo>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>