<!-- 日期时间 fc-datetime -->
<fc-layoutpanel>
    <fc-title fcLabel="日期时间" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-datetime></fc-datetime>
                <fc-datetime [(ngModel)]="now"></fc-datetime>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-datetime [(ngModel)]="now" fcSize="small"></fc-datetime>
                </div>
                <div style="margin-top:24px;">
                    <fc-datetime [(ngModel)]="now" fcSize="default"></fc-datetime>
                </div>
                <div style="margin-top:24px;">
                    <fc-datetime [(ngModel)]="now" fcSize="large"></fc-datetime>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="日期时间禁用" fccontent2>
            <div fccontent>
                <fc-datetime [(ngModel)]="now" fcDisabled="true"></fc-datetime>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="日期时间格式" fccontent1>
            <div fccontent>
                <fc-datetime [(ngModel)]="now" fcFormat="YYYY/MM/DD HH"></fc-datetime>
                <fc-datetime [(ngModel)]="now" fcFormat="YYYY年MM月DD日 HH:mm" style="margin-top: 24px;display:block;"></fc-datetime>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="输入提示符" fccontent2>
            <div fccontent>
                <fc-datetime fcPlaceHolder="这是输入提示符参数"></fc-datetime>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="某天之前" fccontent1>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="某天之后" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>