<!-- 按钮案例 fc-button -->
<fc-layoutpanel>
  <fc-title fcTitle="按钮组件" fcSize="large" fcheader></fc-title>
  <fc-layoutcol fccontent fcSpan="1,1">
    <fc-layoutgroup fcTitle="按钮大小" fccontent1>
      <div fccontent>
        <fc-button fcLabel="按钮" fcSize="large"></fc-button>
        <fc-button fcLabel="按钮" fcSize="default"></fc-button>
        <fc-button fcLabel="按钮" fcSize="small"></fc-button>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="按钮样式" fccontent2>
      <div fccontent>
        <fc-button fcLabel="按钮" fcType="primary"></fc-button>
        <fc-button fcLabel="按钮" fcType="default"></fc-button>
        <fc-button fcLabel="按钮" fcType="dashed"></fc-button>
        <fc-button fcLabel="按钮" fcType="danger"></fc-button>
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
</fc-layoutpanel>
<!-- 开关 fc-switch -->
<fc-layoutpanel>
  <fc-title fcTitle="开关组件" fcheader></fc-title>
  <fc-layoutcol fccontent>
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <fc-switch fcCheckValue="Y" fcOptions='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]'></fc-switch>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="开关大小" fccontent2>
      <div fccontent>
        <fc-switch fcCheckValue="Y" fcOptions='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' fcSize="default"></fc-switch>
        <fc-switch fcCheckValue="Y" fcOptions='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' fcSize="small"></fc-switch>
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
</fc-layoutpanel>
<!-- 日期月份 fc-date -->
<fc-layoutpanel>
  <fc-title fcTitle="月份日期" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <fc-date></fc-date>
          <fc-date [(ngModel)]="now"></fc-date>
          <fc-date fcMode='month'></fc-date>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="月份日期禁用" fccontent2>
        <div fccontent>
          <fc-date [(ngModel)]="now"></fc-date>
          <fc-date [(ngModel)]="now" fcDisabled="true"></fc-date>
          <fc-date [(ngModel)]="now" fcMode="month" fcDisabled="true"></fc-date>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="月份日期格式" fccontent1>
        <fc-date [(ngModel)]="now"></fc-date>
        <fc-date [(ngModel)]="now" fcFormat="YYYY/MM/DD"></fc-date>
        <fc-date [(ngModel)]="now" fcFormat="YYYY年MM月DD日"></fc-date>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="月份日期时间格式" fccontent2>
        <fc-date [(ngModel)]="now" fcMode="month"></fc-date>
        <fc-date [(ngModel)]="now" fcMode="month" fcFormat="YYYY/MM"></fc-date>
        <fc-date [(ngModel)]="now" fcMode="month" fcFormat="YYYY年MM月"></fc-date>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 日期时间 fc-datetime -->
<fc-layoutpanel>
  <fc-title fcTitle="日期时间" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <fc-datetime></fc-datetime>
          <fc-datetime [(ngModel)]="now"></fc-datetime>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="日期时间禁用" fccontent2>
        <div fccontent>
          <fc-datetime [(ngModel)]="now"></fc-datetime>
          <fc-datetime [(ngModel)]="now" fcDisabled="true"></fc-datetime>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="日期时间格式" fccontent1>
        <div fccontent>
          <fc-datetime [(ngModel)]="now"></fc-datetime>
          <fc-datetime [(ngModel)]="now" fcFormat="YYYY/MM/DD HH"></fc-datetime>
          <fc-datetime [(ngModel)]="now" fcFormat="YYYY年MM月DD日 HH:mm"></fc-datetime>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 时间 fc-datetime -->
<fc-layoutpanel>
  <fc-title fcTitle="时间" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <fc-time></fc-time>
          <fc-time [(ngModel)]="now"></fc-time>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="时间禁用" fccontent2>
        <div fccontent>
          <fc-time [(ngModel)]="now"></fc-time>
          <fc-time [(ngModel)]="now" fcDisabled="true"></fc-time>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="时间格式" fccontent1>
        <div fccontent>
          <fc-time [(ngModel)]="now"></fc-time>
          <fc-time [(ngModel)]="now" fcFormat="HH"></fc-time>
          <fc-time [(ngModel)]="now" fcFormat="HH:mm"></fc-time>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 文本 fc-text -->
<fc-layoutpanel>
  <fc-title fcTitle="文本" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{content}}</label>
          <fc-text fcPlaceHolder="请输入"></fc-text>
          <fc-text [(ngModel)]="content"></fc-text>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="大小" fccontent2>
        <div fccontent>
          <fc-text [(ngModel)]="content" fcSize="default"></fc-text>
          <fc-text [(ngModel)]="content" fcSize="large"></fc-text>
          <fc-text [(ngModel)]="content" fcSize="small"></fc-text>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="禁用" fccontent1>
        <div fccontent>
          <fc-text [(ngModel)]="content"></fc-text>
          <fc-text [(ngModel)]="content" fcDisabled="true"></fc-text>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="类型" fccontent2>
        <div fccontent>
          <fc-text fcType="password" [(ngModel)]="content"></fc-text>
          <fc-text fcType="search" fcPlaceHolder="请输入查询条件"></fc-text>
          <fc-text fcType="hidden"></fc-text>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 大文本 fc-textarea -->
<fc-layoutpanel>
  <fc-title fcTitle="大文本" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{content}}</label>
          <fc-textarea fcPlaceHolder="请输入"></fc-textarea>
          <fc-textarea [(ngModel)]="content"></fc-textarea>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="大小" fccontent2>
        <div fccontent>
          <fc-textarea [(ngModel)]="content" fcSize="default"></fc-textarea>
          <fc-textarea [(ngModel)]="content" fcSize="large"></fc-textarea>
          <fc-textarea [(ngModel)]="content" fcSize="small"></fc-textarea>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="禁用" fccontent1>
        <div fccontent>
          <fc-textarea [(ngModel)]="content"></fc-textarea>
          <fc-textarea [(ngModel)]="content" fcDisabled="true"></fc-textarea>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="类型" fccontent2>
        <div fccontent>
          <fc-textarea fcType="password" [(ngModel)]="content"></fc-textarea>
          <fc-textarea fcType="search" fcPlaceHolder="请输入查询条件"></fc-textarea>
          <fc-textarea fcType="hidden"></fc-textarea>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 单选 fc-radio -->
<fc-layoutpanel>
  <fc-title fcTitle="单选框" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{radioValue}}</label>
          <fc-radio></fc-radio>
          <fc-radio [(ngModel)]="radioValue" [fcOptions]="radioOptions"></fc-radio>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="大小" fccontent2>
        <div fccontent>
          <fc-radio fcSize="default"></fc-radio>
          <fc-radio [(ngModel)]="radioValue" fcSize="large" [fcOptions]="radioOptions"></fc-radio>
          <fc-radio [(ngModel)]="radioValue" fcSize="small" [fcOptions]="radioOptions"></fc-radio>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="禁用" fccontent1>
        <div fccontent>
          <fc-radio [(ngModel)]="radioValue" [fcOptions]="radioOptions"></fc-radio>
          <fc-radio [(ngModel)]="radioValue" fcDisabled="true" [fcOptions]="radioOptionsDisabled"></fc-radio>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="类型" fccontent2>
        <div fccontent>
          <fc-radio fcType="radio" [(ngModel)]="radioValue" [fcOptions]="radioOptions"></fc-radio>
          <fc-radio fcType="button" [(ngModel)]="radioValue" [fcOptions]="radioOptions"></fc-radio>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 多选 fc-check -->
<fc-layoutpanel>
  <fc-title fcTitle="多选" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{checkValue}}</label>
          <fc-check [(ngModel)]="checkValue" [fcDefaultValue]="checkValue" [fcOptions]="checkOptions"></fc-check>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="禁用" fccontent2>
        <div fccontent>
          <fc-check [(ngModel)]="checkValue" [fcDefaultValue]="checkValue" [fcOptions]="checkOptionsDisabled"></fc-check>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 下拉单选 fc-combo -->
<fc-layoutpanel>
  <fc-title fcTitle="下拉单选" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{comboValue}}</label>
          <fc-combo [(ngModel)]="comboValue" [fcDefaultValue]="comboValue" [fcOptions]="comboOptions">
          </fc-combo>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="大小" fccontent2>
        <div fccontent>
          <fc-combo [(ngModel)]="comboValue" [fcDefaultValue]="comboValue" fcSize="default" [fcOptions]="comboOptions"></fc-combo>
          <fc-combo [(ngModel)]="comboValue" [fcDefaultValue]="comboValue" fcSize="large" [fcOptions]="comboOptions"></fc-combo>
          <fc-combo [(ngModel)]="comboValue" [fcDefaultValue]="comboValue" fcSize="small" [fcOptions]="comboOptions"></fc-combo>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="禁用" fccontent1>
        <div fccontent>
          <fc-combo [(ngModel)]="comboValue" [fcDefaultValue]="comboValue" [fcOptions]="comboOptionsDisabled">
          </fc-combo>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 下拉多选 fc-chosen -->
<fc-layoutpanel>
  <fc-title fcTitle="下拉多选" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{chosenValue}}</label>
          <fc-chosen [(ngModel)]="chosenValue" [fcDefaultValue]="chosenValue" [fcOptions]="chosenOptions"></fc-chosen>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="大小" fccontent2>
        <div fccontent>
          <fc-chosen [(ngModel)]="chosenValue" [fcDefaultValue]="chosenValue" fcSize="default" [fcOptions]="chosenOptions"></fc-chosen>
          <fc-chosen [(ngModel)]="chosenValue" [fcDefaultValue]="chosenValue" fcSize="large" [fcOptions]="chosenOptions"></fc-chosen>
          <fc-chosen [(ngModel)]="chosenValue" [fcDefaultValue]="chosenValue" fcSize="small" [fcOptions]="chosenOptions"></fc-chosen>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="禁用" fccontent1>
        <div fccontent>
          <fc-chosen [(ngModel)]="chosenValue" [fcDefaultValue]="chosenValue" [fcOptions]="chosenOptionsDisabled"></fc-chosen>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 下拉单选对象 fc-any -->
<fc-layoutpanel>
  <fc-title fcTitle="下拉单选对象" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{anyValue|json}}</label>
          <fc-any [(ngModel)]="anyValue" fcDefaultValue="a" [fcOptions]="anyOptions">
          </fc-any>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="大小" fccontent2>
        <div fccontent>
          <fc-any [(ngModel)]="anyValue" fcDefaultValue="a" fcSize="default" [fcOptions]="anyOptions"></fc-any>
          <fc-any [(ngModel)]="anyValue" fcDefaultValue="b" fcSize="large" [fcOptions]="anyOptions"></fc-any>
          <fc-any [(ngModel)]="anyValue" fcDefaultValue="c" fcSize="small" [fcOptions]="anyOptions"></fc-any>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="禁用" fccontent1>
        <div fccontent>
          <fc-any [(ngModel)]="anyValue" fcDefaultValue="a" [fcOptions]="anyOptionsDisabled">
          </fc-any>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>
<!-- 下拉多选 fc-many -->
<fc-layoutpanel>
  <fc-title fcTitle="下拉多选对象" fcheader></fc-title>
  <div fccontent>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="基本" fccontent1>
        <div fccontent>
          <label>{{manyValue|json}}</label>
          <fc-many [(ngModel)]="manyValue" fcDefaultValue="a" [fcOptions]="manyOptions"></fc-many>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="大小" fccontent2>
        <div fccontent>
          <fc-many [(ngModel)]="manyValue" fcDefaultValue="a" fcSize="default" [fcOptions]="manyOptions"></fc-many>
          <fc-many [(ngModel)]="manyValue" fcDefaultValue="a" fcSize="large" [fcOptions]="manyOptions"></fc-many>
          <fc-many [(ngModel)]="manyValue" fcDefaultValue="a" fcSize="small" [fcOptions]="manyOptions"></fc-many>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fcSpans="1,1">
      <fc-layoutgroup fcTitle="禁用" fccontent1>
        <div fccontent>
          <fc-many [(ngModel)]="manyValue" fcDefaultValue="a" [fcOptions]="manyOptionsDisabled"></fc-many>
        </div>
      </fc-layoutgroup>
    </fc-layoutcol>
  </div>
</fc-layoutpanel>

<!-- 富文本 fc-editor -->
<fc-layoutpanel>
  <fc-title fcTitle="富文本" fcheader></fc-title>
  <fc-layoutcol fccontent>
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <label>{{content}}</label>
        <!-- <fc-editor [(ngModel)]="content"></fc-editor> -->
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="禁用" fccontent2>
      <div fccontent>
        <!-- <fc-editor [(ngModel)]="content" fcDisabled="true"></fc-editor> -->
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
</fc-layoutpanel>
<!-- 文件上传 fc-upload -->
<fc-layoutpanel>
  <fc-title fcTitle="文件上传" fcheader></fc-title>
  <fc-layoutcol fccontent>
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <label>{{content}}</label>
        <!-- <fc-editor [(ngModel)]="content"></fc-editor> -->
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="禁用" fccontent2>
      <div fccontent>
        <!-- <fc-editor [(ngModel)]="content" fcDisabled="true"></fc-editor> -->
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
</fc-layoutpanel>
<!-- 树形 fc-tree-->
<fc-layoutpanel>
  <fc-title fcTitle="树形" fcheader></fc-title>
  <fc-layoutcol fccontent>
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <label (click)="treeFlesh()">{{treeSelectObj|json}}</label>
        <fc-tree [(ngModel)]="treeSelectObj" [fcOptions]="treeOptions" #tree></fc-tree>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="事件" fccontent2>
      <div fccontent>
        <fc-tree [(ngModel)]="treeSelectObj" [fcOptions]="treeOptions" (frDraged)="treeDraged($event);" (fcBlur)="treeBlur($event);"
          (fcFocus)="treeFocus($event);" (fcCheck)="treeCheck($event);"></fc-tree>
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
</fc-layoutpanel>
<fc-row fcSpans="49,510">
  <fc-layoutpanel>
    <fc-title fcTitle="字典多选" fcheader></fc-title>
    <div fccontent>
      <fc-layoutcol fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
          <div fccontent>
            <label>{{chosenValue}}</label>
            <fc-check [(ngModel)]="checkValue" [fcDefaultValue]="checkValue" [fcOptions]="checkOptions"></fc-check>
          </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
          <div fccontent>
            <fc-check [(ngModel)]="checkValue" [fcDefaultValue]="checkValue" [fcOptions]="checkOptionsDisabled"></fc-check>
          </div>
        </fc-layoutgroup>
      </fc-layoutcol>
    </div>
  </fc-layoutpanel>
  <fc-layoutpanel>
    <fc-title fcTitle="字典多选" fcheader></fc-title>
    <div fccontent>
      <fc-layoutcol fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
          <div fccontent>
            <label>{{checkValue}}</label>
            <fc-check [(ngModel)]="checkValue" [fcDefaultValue]="checkValue" [fcOptions]="checkOptions"></fc-check>
          </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
          <div fccontent>
            <fc-check [(ngModel)]="checkValue" [fcDefaultValue]="checkValue" [fcOptions]="checkOptionsDisabled"></fc-check>
          </div>
        </fc-layoutgroup>
      </fc-layoutcol>
    </div>
  </fc-layoutpanel>
</fc-row>
<fc-layoutcol fcSpans="99999,1">
  <fc-layoutgroup fccontent1>
    <fc-adform fccontent [fcId]="'23471a18d4164f02a26d3b5f283d0a41'" fcAppid="SYSAPP" [fcFormConfig]="formConfig"></fc-adform>
  </fc-layoutgroup>
</fc-layoutcol>
<fc-layoutcol fcSpans="1,1">
  <fc-layoutgroup fccontent1>
    <fc-navmenu fccontent [(ngModel)]="menuSelectObj" [fcOptions]="menuOptions" (fcBlur)="menuBlur($event);" (fcFocus)="menuFocus($event);"
      (fcSelect)="menuSelect($event);"></fc-navmenu>
  </fc-layoutgroup>
  <fc-layoutgroup fccontent2>
    <fc-navmenu fccontent [(ngModel)]="menuSelectObj" [fcOptions]="menuOptions" (fcBlur)="menuBlur($event);" fcTheme="dark" (fcFocus)="menuFocus($event);"
      (fcSelect)="menuSelect($event);"></fc-navmenu>
  </fc-layoutgroup>
</fc-layoutcol>