<!-- 时间轴 fc-timeline -->
<fc-layoutpanel>
    <!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="时间轴" fcheader fcSubtitle="垂直展示的时间流信息。" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fcheader fcSubtitle="当有一系列信息需要从上至下按时间排列时；需要有一条时间轴进行视觉上的串联时；" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fcheader fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-timeline [fcOption]="timeline1"></fc-timeline>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" 
                     fcview='<fc-timeline [fcOption]="timeline1"></fc-timeline>' 
                     [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="left" fcTitle="label居左" fccontent2>
                    <div fccontent>
                        <fc-timeline [fcOption]="timeline1" fcLabelPosition="left"></fc-timeline>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="文字居左显示" 
                     fcview='<fc-timeline [fcOption]="timeline1" fcLabelPosition="left"></fc-timeline>' 
                     [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="color" fcTitle="圆圈颜色" fccontent1>
                    <div fccontent>
                        <fc-timeline [fcOption]="timelineColor"></fc-timeline>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="文字居左显示" 
                     fcview='<fc-timeline [fcOption]="timelineColor"></fc-timeline>' 
                     [fccode]="colorjs">
                    </fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        
        <!-- API -->
        <fc-layoutpanel fccontent>
                <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
                [
                {href:'basic','label':'基本'},
                {href:'left','label':'文字居左'},
                {href:'color','label':'圆圈颜色'},
                {href:'attributesAPI','label':'属性API'},
                {href:'eventAPI','label':'事件API'}
                ]">
            </fc-fastposition>
        </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
    
    
    
    
</fc-layoutpanel>