<!-- 首页模板 -->
<fc-layoutpanel>
    <fc-layoutcol fcSpans="7,3" fccontent>
        <fc-layoutpanel fccontent1>
            <div fccontent class="messages-notices">
                <fc-tag fcLabel="消息" fcColor="blue"></fc-tag>
                <fc-tag fcLabel="公告" fcColor="blue"></fc-tag>
            </div>
            <fc-title fcLabel="公告" fcBorder="bottom" fcheader fcWidth="95%"></fc-title>
            <fc-tabmain [fcTabs]="_tabmain" fccontent fcType="line" class="home-tab">
                <div fccontent1 class="all">
                    <span class="railway">
                        <fc-icon fcIcon="fc-icon-notice" fcColor="#69d389" fcSize="large"></fc-icon>
                    </span>
                    <div class="detailcontent">
                        <p>
                            <fc-link fcLabel="2018-3-18管理中心'债券业务'tab中的付费分析功能进行了优化" class="viewdetail"></fc-link>
                        </p>
                        <p>
                            <fc-link fcLabel="2018-3-18支付接入申请新增'分区配置环节'。" class="viewdetail"></fc-link>
                        </p>
                        <p>
                            <fc-link fcLabel="2018-3-18管理中心'债券业务'tab中的付费分析功能进行了优化，新增对付费信息的详细说明。" class="viewdetail"></fc-link>
                        </p>
                    </div>
                </div>
                <div fccontent2 class="all">
                    <span class="railway">
                        <fc-icon fcIcon="fc-icon-notice" fcColor="#69d389" fcSize="large"></fc-icon>
                    </span>
                    <div class="detailcontent">
                        <p>
                            <fc-link fcLabel="2018-3-18管理中心'债券业务'tab中的付费分析功能进行了优化" class="viewdetail"></fc-link>
                        </p>
                        <p>
                            <fc-link fcLabel="2018-3-18支付接入申请新增'分区配置环节'。" class="viewdetail"></fc-link>
                        </p>
                        <p>
                            <fc-link fcLabel="2018-3-18管理中心'债券业务'tab中的付费分析功能进行了优化，新增对付费信息的详细说明。" class="viewdetail"></fc-link>
                        </p>
                    </div>
                </div>
            </fc-tabmain>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent1>
            <div fccontent class="messages-notices">
                <fc-tag [fcCheckable]="true" fcLabel="今日"></fc-tag>
                <fc-tag [fcCheckable]="true" fcLabel="本周"></fc-tag>
                <fc-tag [fcCheckable]="true" fcLabel="本月"></fc-tag>
                <fc-tag [fcCheckable]="true" fcLabel="全年"></fc-tag>
            </div>
            <fc-title fcLabel="统计" fcBorder="bottom" fcheader fcWidth="95%"></fc-title>
            <fc-tabmain [fcTabs]="_tabmain2" fccontent>
                <div fccontent1>
                    <fc-layoutcol fcSpans="7,4">
                        <div fccontent1>
                            <fc-title fcLabel="数据统计" fcHasLine="false"></fc-title>
                            <fc-chartbar [fcOption]="_barLabels" [fcData]="_barData" (fcEvent)="chartbarEvent($event)"></fc-chartbar>
                        </div>
                        <div fccontent2 class="piechart">
                            <div style="margin-top:40px;">
                                <fc-chartpie [fcOption]="_pieLabels" [fcData]="_pieData" (fcEvent)="chartpieEvent($event)"></fc-chartpie>
                            </div>
                        </div>
                    </fc-layoutcol>
                </div>
                <div fccontent2 style="height:321px;">
                    <div>
                        正在开发中
                    </div>
                </div>
                <div fccontent3 style="height:321px;">
                    <div>
                        正在开发中
                    </div>
                </div>
            </fc-tabmain>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent1>
            <fc-layoutcol fcSpans="6,4" fccontent>
                <div fccontent1>
                    <fc-title fcLabel="待办任务" fcBorder="bottom">
                        <div fcextra>
                            <fc-badge fcStatus="error" fcStatusMode="CIRCLE" fcText="急需"></fc-badge>
                            <fc-badge fcStatus="success" fcStatusMode="CIRCLE" fcText="特急"></fc-badge>
                            <fc-badge fcStatus="processing" fcStatusMode="CIRCLE" fcText="默认"></fc-badge>
                            <fc-badge fcStatus="warning" fcStatusMode="CIRCLE" fcText="滞缓"></fc-badge>
                            <fc-badge fcStatus="default" fcStatusMode="CIRCLE" fcText="待做"></fc-badge>
                        </div>
                    </fc-title>
                    <div class="home-list">
                        <!-- <fc-list [fcOption]="waitWork" [fcIcon]="'fc-icon-wiki'"></fc-list> -->
                        <div style="margin-top: -10px;" fccontent class="main_contain">
                            <ul class="contact">
                                <li>
                                    <fc-badge fcStatus="success" fcStatusMode="CIRCLE" fcToolTip="特急" style="display:inline-block;"></fc-badge>
                                    <span>2018.03.26-项目元数据框架构建；</span>
                                </li>
                                <li>
                                    <fc-badge fcStatus="error" fcStatusMode="CIRCLE" fcToolTip="急需" style="display:inline-block;"></fc-badge>
                                    <span>2018.03.26-元数据组件开发；项目内容尽快完成数据组件开发</span>
                                </li>
                                <li>
                                    <fc-badge fcStatus="default" fcStatusMode="CIRCLE" fcToolTip="待做" style="display:inline-block;"></fc-badge>
                                    <span>2018.03.26-开始进行元数据方法的呈现方式</span>
                                </li>
                                <li>
                                    <fc-badge fcStatus="success" fcStatusMode="CIRCLE" fcToolTip="特急" style="display:inline-block;"></fc-badge>
                                    <span>2018.03.26-项目元数据框架构建</span>
                                </li>
                                <li>
                                    <fc-badge fcStatus="processing" fcStatusMode="CIRCLE" fcToolTip="默认" style="display:inline-block;"></fc-badge>
                                    <span>2018.03.26-元数据组件开发</span>
                                </li>
                                <li>
                                    <fc-badge fcStatus="warning" fcStatusMode="CIRCLE" fcToolTip="滞缓" style="display:inline-block;"></fc-badge>
                                    <span>2018.03.26-元数据组件开发；项目内容尽快完成数据组件开发</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="padding-left:10px;" fccontent2>
                    <fc-title fcLabel="系统版本" fcBorder="bottom"></fc-title>
                    <div style="width:100%;height:300px;padding-left:20px;">
                        <fc-timeline [fcOption]="timeline1" fcLabelPosition="left" fcLeft="38%" fclabelLeft="-39%"></fc-timeline>
                    </div>
                </div>
            </fc-layoutcol>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent2>
            <fc-layoutpanel fccontent>
                <fc-title fcLabel="工作计划" fcheader fcBorder="bottom"></fc-title>
                <fc-calendar class="home-calendar" fccontent></fc-calendar>
            </fc-layoutpanel>
            <fc-layoutpanel fccontent>
                <fc-title fcLabel="快速开始/便捷导航" fcHasLine="false" fcheader fcBorder="bottom"></fc-title>
                <div fccontent class="fastcontent">
                    <fc-tag fcLabel="元数据管理" (click)="navTo('sysappList')" fcColor="blue" fcIcon="fc-line" style="display:inline-block;margin-top:5px;"></fc-tag>
                    <fc-tag fcLabel="系统授权" (click)="navTo('sysroleList')" fcColor="blue" fcIcon="fc-line" style="display:inline-block;margin-top:5px;"></fc-tag>
                    <fc-tag fcLabel="产品管理" (click)="navTo('sysproductList')" fcColor="blue" fcIcon="fc-line" style="display:inline-block;margin-top:5px;"></fc-tag>
                    <fc-tag fcLabel="客户信息维护" (click)="navTo('ar09ARCustomList')" fcColor="blue" fcIcon="fc-line" style="display:inline-block;margin-top:5px;"></fc-tag>
                    <fc-tag fcLabel="客户变更审批" (click)="navTo('ar09ARCustomAuditList')" fcColor="blue" fcIcon="fc-line" style="display:inline-block;margin-top:5px;"></fc-tag>
                    <fc-tag fcLabel="客户动态查询" (click)="navTo('ar09ARCustomStatsList')" fcColor="blue" fcIcon="fc-line" style="display:inline-block;margin-top:5px;"></fc-tag>
                    <fc-tag fcLabel="客户信息查询" (click)="navTo('ar09ARCustomQueryList')" fcColor="blue" fcIcon="fc-line" style="display:inline-block;margin-top:5px;"></fc-tag>
                    <fc-button fcLabel="+ 添加" [fcSize]="'small'" [fcType]="'dashed'" (click)="addStart()" style="display:inline-block;" class="add"></fc-button>
                </div>
            </fc-layoutpanel>
            <fc-layoutpanel fccontent>
                <fc-title fcLabel="常用联系人" fcHasLine="false" fcheader fcBorder="bottom"></fc-title>
                <div style="margin-top: -10px;" fccontent class="main_contain">
                    <ul class="contact">
                        <li>
                            <span>王五</span>
                            <fc-link fcLabel="17600606775" class="contact_right"></fc-link>
                            <span class="telephone" style="position: absolute;right: 0;">
                                <fc-icon fcIcon="fc-icon-chat" fcColor="#5c92ff" fcSize="default" class="contacticon" (click)="showchat=true;"></fc-icon>
                            </span>
                        </li>
                        <li>
                            <span>王五</span>
                            <fc-link fcLabel="17600606775" class="contact_right"></fc-link>
                            <span class="telephone" style="position: absolute;right: 0;">
                                <fc-icon fcIcon="fc-icon-chat" fcColor="#5c92ff" fcSize="default" class="contacticon" (click)="showchat=true;"></fc-icon>
                            </span>
                        </li>
                        <li>
                            <span>王五</span>
                            <fc-link fcLabel="17600606775" class="contact_right"></fc-link>
                            <span class="telephone" style="position: absolute;right: 0;">
                                <fc-icon fcIcon="fc-icon-chat" fcColor="#5c92ff" fcSize="default" class="contacticon" (click)="showchat=true;"></fc-icon>
                            </span>
                        </li>
                        <li>
                            <span>王五</span>
                            <fc-link fcLabel="17600606775" class="contact_right"></fc-link>
                            <span class="telephone" style="position: absolute;right: 0;">
                                <fc-icon fcIcon="fc-icon-chat" fcColor="#5c92ff" fcSize="default" class="contacticon" (click)="showchat=true;"></fc-icon>
                            </span>
                        </li>
                        <li>
                            <span>王五</span>
                            <fc-link fcLabel="17600606775" class="contact_right"></fc-link>
                            <span class="telephone" style="position: absolute;right: 0;">
                                <fc-icon fcIcon="fc-icon-chat" fcColor="#5c92ff" fcSize="default" class="contacticon" (click)="showchat=true;"></fc-icon>
                            </span>
                        </li>
                        <li>
                            <span>王五</span>
                            <fc-link fcLabel="17600606775" class="contact_right"></fc-link>
                            <span class="telephone" style="position: absolute;right: 0;">
                                <fc-icon fcIcon="fc-icon-chat" fcColor="#5c92ff" fcSize="default" class="contacticon" (click)="showchart=true;"></fc-icon>
                            </span>
                        </li>
                    </ul>
                </div>
            </fc-layoutpanel>
        </fc-layoutpanel>
    </fc-layoutcol>
</fc-layoutpanel>
<div class="chat-wrap" [ngClass]="{'chat-show-wrap':showchat}">
    <fc-button [fcType]="'primary'" [fcIconPositon]="'left'" [fcShape]="'circle'" [fcIcon]="'fc-icon-dialogue'" class="chatButton"
        (click)="showchat=true;"></fc-button>
    <fc-chat class="fc-chatbox" (fcEvent)="chatEvent($event)"></fc-chat>
</div>