<!-- 开关 fc-switch -->
<fc-layoutpanel>
    <!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
    <fc-title fcLabel="开关" fccontent1 fcSubtitle="开关选择器" fcHasline="false"></fc-title>
    <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="需要表示开关状态/两种状态之间的切换时；和 checkbox的区别是，切换 switch 会直接触发状态改变，而 checkbox 一般用于状态标记，需要和提交操作配合。" fcHasline="false"></fc-title>
    <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
    <fc-layoutpanel fccontent1>
    <!-- 组件内容开始 -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
        <fc-layoutcol fccontent fcSpans="1,1">
            <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                <div fccontent>
                    <fc-switch [fcLabel]="'基本'" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]'></fc-switch>
                </div>
                <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法"
                [fcview]="sizeview"
                [fccode]="basicjs"></fc-adcode>
            </fc-layoutgroup>
            <fc-layoutgroup id="size" fcTitle="大小" fccontent2>
                <div fccontent>
                    <fc-switch [fcLabel]="'小'" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' fcSize="small"></fc-switch>
                    <fc-switch [fcLabel]="'默认'" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' fcSize="default"></fc-switch>
                    <fc-switch [fcLabel]="'大'" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' fcSize="large"></fc-switch>
                </div>
                <fc-adcode fcfooter fcTitle="描述" fcRemark="数值组件有三种大小:大(large)、默认(default)、小(small)。"
                [fcview]="sizeview"
                [fccode]="basicjs"></fc-adcode>
            </fc-layoutgroup>
            <fc-layoutgroup id="readonly" fcTitle="只读" fccontent1>
                <div fccontent>
                    <fc-switch [fcLabel]="'只读'" fcCheckValue="Y" [fcReadonly]="true" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]'></fc-switch>
                </div>
                <fc-adcode fcfooter fcTitle="描述" fcRemark="只能读不能点击" 
                [fcview]="readonlyview"
                [fccode]="basicjs"></fc-adcode>
            </fc-layoutgroup>
            <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent2>
                <div fccontent>
                    <fc-switch [fcLabel]="'禁用'" fcCheckValue="Y" fcDisabled="true" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]'></fc-switch>
                </div>
                <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态" 
                [fcview]="disabledview"
                [fccode]="basicjs"></fc-adcode>
            </fc-layoutgroup>
            <fc-layoutgroup id="text" fcTitle="文案显示" fccontent1>
                <div fccontent>
                    <fc-switch [fcLabel]="'文案显示'" fcCheckValue="Y" [fcShowText]="true" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]'></fc-switch>
                </div>
                <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态" 
                [fcview]="textview"
                [fccode]="basicjs"></fc-adcode>
            </fc-layoutgroup>
            <fc-layoutgroup id="noshowlabel" fcTitle="不占位" fccontent2>
                <div fccontent>
                    <fc-switch [fcShowLabel]="false" fcCheckValue="Y" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]'>
                    </fc-switch>
                </div>
                <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态" 
                [fcview]="noshowlabelview"
                [fccode]="basicjs"></fc-adcode>
            </fc-layoutgroup>
        </fc-layoutcol>
    </fc-layoutpanel>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <!-- 组件内容结束 -->
    </fc-layoutpanel>
    <div class="fastposition-content" fccontent2>
        <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'size','label':'大小'},
            {href:'readonly','label':'只读'},
            {href:'disabled','label':'禁用'},
            {href:'text','label':'文案展示'},
            {href:'noshowlabel','label':'不占位'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
    </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->  
</fc-layoutpanel>