<!-- 工具栏子列表 fc-tlblistitem-->
<fc-layoutpanel>
    <!-- 快速定位 -->
    <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="工具栏子列表" fccontent1 fcSubtitle="工具栏子列表组件" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="工具栏子列表组件需要工具栏和列表配合使用" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                  <div fccontent>
                     <fc-tlblistitem [fcAppid]="'SYSCOMPONENT'" (fcEvent)="listitem($event)"></fc-tlblistitem>
                     <div style="height: 200px;">
                        <fc-listdata [fcAppid]="'SYSCOMPONENT'" [fcOption]="fcListdataOptions" [fcCondition]="_condition"></fc-listdata>
                    </div>
                  </div>
                  <fc-adcode fcfooter fcTitle="描述" fcRemark="基本的用法"
                    [fcview]="basicview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
              </fc-layoutcol>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="listevent" fcTitle="基本" fccontent1>
                  <div fccontent>
                     <fc-tlblistitem [fcAppid]="'SYSCOMPONENT'" (fcEvent)="listitem($event)"></fc-tlblistitem>
                     <div style="height: 200px;">
                        <fc-listdata [fcAppid]="'SYSCOMPONENT'" [fcOption]="fcListdataOptions" [fcCondition]="_condition"></fc-listdata>
                    </div>
                  </div>
                  <fc-adcode fcfooter fcTitle="描述" fcRemark="工具栏事件"
                    [fcview]="basicview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
              <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
              <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
              [
              {href:'basic','label':'基本'},
              {href:'listevent','label':'工具栏事件'},
              {href:'attributesAPI','label':'属性API'},
              {href:'eventAPI','label':'事件API'}
              ]">
            </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->

  
</fc-layoutpanel>
  