<!-- 面板 fc-layoutpanel -->
<fc-layoutpanel class="templatefastposition samples">
  <!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
    <fc-title fcLabel="面板" fccontent1 fcSubtitle="面板组件" fcHasline="false"></fc-title>
    <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="面板布局" fcHasline="false"></fc-title>
    <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
    <fc-layoutpanel fccontent1>
    <!-- 组件内容开始 -->
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
          <div fccontent style="margin-bottom: 10px;">
            <fc-layoutpanel>
              <div class="header" fcheader>面板的标题</div>
              <div fctoolbar>
                <fc-button fcLabel="新增"></fc-button>
                <fc-button fcLabel="修改"></fc-button>
                <fc-button fcLabel="保存"></fc-button>
                <fc-button fcLabel="删除"></fc-button>
              </div>
              <div class="content" fccontent>面板的内容区</div>
              <div class="footer" fccontent>面板的底部区</div>
            </fc-layoutpanel>
          </div>
          <fc-adcode fcfooter fcTitle="描述" 
              fcRemark="最基本的用法"
              [fcview]='basicview'
              [fccode]="basicjs"
              [fcstyle]="basicstyle">
          </fc-adcode>
        </fc-layoutgroup>
    </fc-layoutcol>
      <!-- API -->
    <fc-layoutpanel fccontent>
          <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
          <div style="height:450px;" fccontent>
              <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
          </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
          <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
          <div style="height:450px;" fccontent>
              <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
          </div>
    </fc-layoutpanel>
    <!-- 组件内容结束 -->
    </fc-layoutpanel>
    <div class="fastposition-content" fccontent2>
      <fc-fastposition [fcLinks]="
          [
          {href:'basic','label':'基本'},
          {href:'attributesAPI','label':'属性API'},
          {href:'eventAPI','label':'事件API'}
          ]">
      </fc-fastposition>
    </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->
 
</fc-layoutpanel>