<!-- 面板 fc-layoutpanel -->
<fc-layoutpanel>
  <fc-title fcLabel="面板" fcheader></fc-title>
  <fc-layoutcol fccontent fcSpans="1,1">
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <fc-layoutpanel>
          <div style="height:40px;line-height:40px;background-color:#91d5ff;" fcheader>fcheader表示是面板的标题</div>
          <div fctoolbar>
            <fc-button fcLabel="新增"></fc-button>
            <fc-button fcLabel="修改"></fc-button>
            <fc-button fcLabel="保存"></fc-button>
            <fc-button fcLabel="删除"></fc-button>
          </div>
          <div style="height:400px;background-color:#bae7ff;" fccontent>fccontent表示面板的内容区</div>
          <div style="height:80px;background-color:#e6f7ff;" fccontent>fccontent表示面板的底部区</div>
        </fc-layoutpanel>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="类型" fccontent2>
      <div fccontent>
        正在开发中
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="大小" fccontent1>
      <div fccontent>
        正在开发中
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="更多" fccontent2>
      <div fccontent>
        待开发
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
  <!-- API -->
  <fc-layoutpanel fccontent>
    <fc-title fcLabel="属性" fcheader> </fc-title>
    <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
  </fc-layoutpanel>
  <fc-layoutpanel fccontent>
    <fc-title fcLabel="事件" fcheader> </fc-title>
    <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
  </fc-layoutpanel>
</fc-layoutpanel>