<!-- 图标 fc-icon -->
<fc-layoutpanel>
    <fc-title fcLabel="图标" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-icon fcIcon="fc-leave"></fc-icon>
                <fc-icon fcIcon="fc-withdraw"></fc-icon>
                <fc-icon fcIcon="fc-everyday"></fc-icon>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="图标大小" fccontent2>
            <div fccontent>
                <fc-icon fcIcon="fc-leave" fcSize="small" fcToolTip="small"></fc-icon>
                <fc-icon fcIcon="fc-module" fcSize="small" fcToolTip="small"></fc-icon>
                <fc-icon fcIcon="fc-withdraw" fcSize="default" fcToolTip="default"></fc-icon>
                <fc-icon fcIcon="fc-introductions" fcSize="default" fcToolTip="default"></fc-icon>
                <fc-icon fcIcon="fc-everyday" fcSize="large" fcToolTip="large"></fc-icon>
                <fc-icon fcIcon="fc-clear" fcSize="large" fcToolTip="large"></fc-icon>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="图标带文字提示" fccontent2>
            <div fccontent>
                <fc-icon fcIcon="fc-leave" fcToolTip="删除" fcColor="red"></fc-icon>
                <fc-icon fcIcon="fc-withdraw" fcToolTip="返回" fcColor="rgb(16, 142, 233)"></fc-icon>
                <fc-icon fcIcon="fc-everyday" fcToolTip="审核通过"></fc-icon>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="设置图标颜色" fccontent2>
            <div fccontent>
                <fc-icon fcIcon="fc-leave" fcColor="red"></fc-icon>
                <fc-icon fcIcon="fc-withdraw" fcColor="rgb(16, 142, 233)"></fc-icon>
                <fc-icon fcIcon="fc-everyday" fcColor="yellow"></fc-icon>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="如何使用" fccontent1>
            <div fccontent>
                <div>从图标库中把代码粘贴到fcIcon中</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="图标命名规范" fccontent2>
            <div fccontent>
                fc-图标名 ，命名规则如下:
                <ul>
                    <li style="list-style-type: circle;">图标命名需语义化的命名,命名长度尽量短小且易读；</li>
                    <li style="list-style-type: circle;"> 命名顺序：fc-图标语义化英文</li>
                </ul>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="图标库" fccontent1>
            <div fccontent>
                图标需导入到数据库中
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>