<!-- 图标 fc-icon -->
<fc-layoutpanel>
    <fc-title fcLabel="图标" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1">
        <fc-layoutgroup fcTitle="图标库" fccontent1>
            <div fccontent>
                    <span *ngFor="let icon of icons" 
                            class="fc_icon_layout">
                        <fc-icon [fcIcon]="icon.DICVALUE"></fc-icon>
                        <span>{{icon.DICDESC}}</span>
                    </span>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>    
    <fc-layoutcol fccontent fcSpans="1,1">
            <fc-layoutgroup fcTitle="基本" fccontent1>
                <div fccontent>
                    <fc-icon fcIcon="fc-leave"></fc-icon>
                    <fc-icon fcIcon="fc-withdraw"></fc-icon>
                    <fc-icon fcIcon="fc-everyday"></fc-icon>
                </div>
            </fc-layoutgroup>
            <fc-layoutgroup fcTitle="图标大小" fccontent1>
                <div fccontent>
                    <div>
                        <fc-icon fcIcon="fc-icon-notice" fcSize="small" fcToolTip="small"></fc-icon>
                        <div style="margin-top:10px">设置图标大小：小：fcSize="small" </div>
                    </div>
                    <div>
                        <fc-icon fcIcon="fc-icon-notice" fcSize="default" fcToolTip="default"></fc-icon>
                        <div style="margin-top:10px">设置图标大小：默认：fcSize="default" </div>
                    </div>
                    <div>
                        <fc-icon fcIcon="fc-icon-notice" fcSize="large" fcToolTip="large"></fc-icon>
                        <div style="margin-top:10px">设置图标大小：大：fcSize="large" </div>
                    </div>
                </div>
            </fc-layoutgroup>
            <fc-layoutgroup fcTitle="图标带文字提示" fccontent1>
                <div fccontent>
                   正在开发
                </div>
            </fc-layoutgroup>
            <fc-layoutgroup fcTitle="设置图标颜色" fccontent2>
                <div fccontent>
                    正在开发
                </div>
            </fc-layoutgroup>
            <fc-layoutgroup fcTitle="如何使用" fccontent1>
                <div fccontent>
                    <div>从图标库中把代码粘贴到fcIcon中</div>
                </div>
            </fc-layoutgroup>
            <fc-layoutgroup fcTitle="设置图标定位" fccontent1>
                <div fccontent>
                    <div>正在开发</div>
                </div>
            </fc-layoutgroup>
    </fc-layoutcol>        
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>