<fc-layoutrow>
    <!-- 顶部工具栏 fc-navbar-->
    <fc-navbar fccontent1 [fcTitle]="_projectName" fcFull="true" fcIcon="icon iconfont icon-logo" (fcEvent)="navbarEvent($event)"
        [fcStatus]="_navbarStatus"></fc-navbar>
    <fc-layoutcol fccontent2 [fcSpans]="_layoutSpans" fcFull="true" class="content-wrap">
        <!-- 菜单导航 fc-navmenu-->
        <fc-navmenu fccontent1 #fcnavmenu fcTheme="blue" [fcOption]="_menuOptions" [fcMenus]="_menus" [fcSelected]="_navmenuSelected"
            (fcEvent)="navmenuEvent($event);" fcFull="true">
        </fc-navmenu>
        <!-- 选项卡导航 -->
        <fc-navtab class="nav-tab" #fcnavtab fccontent2 (fcEvent)="navtabEvent($event)" fcShowPagination="true"></fc-navtab>
        <!-- 路由入口 -->
        <div class="content-main" fccontent2>
            <router-outlet [ngStyle]="{'height':'100%'}"></router-outlet>
        </div>
    </fc-layoutcol>
</fc-layoutrow>
<!-- 消息侧边栏 fc-navside-->
<fc-navside [fcOption]="_navSideOption" [fcStatus]="_navbarStatus" (fcEvent)="navsideEvent($event)"></fc-navside>
<!-- 让表单样式生效 -->
<fc-adform [hidden]="true" fcAppid="SYSAPP" [fcOption]="{}"></fc-adform>
<fc-modalconfirm [fcTitle]="'操作提示'" [fcContent]="'是否确定删除本行数据？'" #confirmmodal></fc-modalconfirm>
<!-- 加载条 -->
<div class="layout-progress-wrap" *ngIf="1!=1">
    <div class="layout-progress-out">
        <fc-progresscircle class="layout-progress-inner" fcModel="50" [fcSize]="'large'"></fc-progresscircle>
    </div>
</div>
<!-- <div [ngClass]="{'body-mask':_providers.msgService.loadingid!==''}"></div> -->