<!-- 下拉多选 fc-chosen -->
<fc-layoutpanel>
    <fc-title fcLabel="下拉多选" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <label>{{chosenValue}}</label>
                <fc-chosen [(ngModel)]="chosenValue" [fcOption]="chosenOptions"></fc-chosen>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <fc-chosen [(ngModel)]="chosenValue" fcSize="default" [fcOption]="chosenOptions"></fc-chosen>
                <fc-chosen [(ngModel)]="chosenValue" fcSize="large" [fcOption]="chosenOptions"></fc-chosen>
                <fc-chosen [(ngModel)]="chosenValue" fcSize="small" [fcOption]="chosenOptions"></fc-chosen>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-chosen [(ngModel)]="chosenValue" [fcOption]="chosenOptionsDisabled"></fc-chosen>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="下拉多选带搜索" fccontent1>
            <div fccontent>
                默认带搜索，可关闭带搜索:
                <fc-chosen [(ngModel)]="chosenValue" fcShowSearch="false" [fcOption]="chosenOptionsDisabled"></fc-chosen>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="当下拉列表为空时显示的内容" fccontent2>
            <div fccontent>
                <fc-chosen [(ngModel)]="chosenValue" fcNotFoundContent="当下拉列表为空时显示的内容" [fcOption]="chosenOptionsDisabled"></fc-chosen>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
</fc-layoutpanel>