<!-- 列表查询 fc-searchbox -->
<fc-layoutpanel class="searchobx">
  <fc-title fcLabel="列表查询" fcheader></fc-title>
  <fc-layoutcol fccontent fcSpans="1">
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
          <fc-searchlist  [fcAppid]="'SYSCOMPONENT'"  (fcEvent)="searchlistEvent($event)"></fc-searchlist>
          <div style="height: 200px;">
              <fc-listdata [fcAppid]="'SYSCOMPONENT'" [fcOption]="fcListdataOptions" [fcCondition]="_condition"></fc-listdata>
          </div>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="使用介绍" fccontent1>
        <div fccontent>
            使用时：fc-searchlist需要和fc-listdata配合使用
            fc-listdata使用元数据配置参数显示出列表,fc-searchlist使用(fcEvent)="searchlistEvent($event)"触发事件
        </div>
     </fc-layoutgroup>
  </fc-layoutcol>

</fc-layoutpanel>
    <!-- API -->
<fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
</fc-layoutpanel>
<fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
</fc-layoutpanel>