<!-- 表单组件  -->
<fc-layoutpanel>
    <!-- 快速定位 -->
    <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="表单组件" fccontent1 fcSubtitle="高级表单组件" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="表单填写数据信息" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,0">
                <fc-layoutgroup id="data" fcTitle="自定义表单-静态数据" fccontent1>
                  <fc-layoutcol fccontent>
                    <form nz-form fccontent1>
                      <fc-switch fcCheckValue="Y" fcLabel="开关label" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' name="11"></fc-switch>
                      <div style="margin-left:83px;">开关：fcCheckValue="Y"/Y是关闭,N是开启和fcOption配合使用</div>
                      <fc-any [(ngModel)]="anyValue" fcLabel="下拉单选对象label" [fcOption]="anyOptions" name="12"></fc-any>
                      <div style="margin-left:36px;">下拉单选对象：[fcOption]="anyOptions" [(ngModel)]="anyValue"/其中anyValue、anyOptions</div>
                      <fc-check [(ngModel)]="checkValue" fcLabel="多选框label" [fcOption]="checkOptions" name="13"></fc-check>
                      <div style="margin-left: 71px;">多选框： [(ngModel)]="checkValue" [fcOption]="checkOptions"/其中checkValue、checkOptions是配置参数</div>
                      <fc-chosen [(ngModel)]="chosenValue" fcLabel="下拉多选label" [fcOption]="chosenOptions" name="14"></fc-chosen>
                      <div style="margin-left: 62px;">下拉多选:[(ngModel)]="chosenValue"[fcOption]="chosenOptions" /其中chosenValue、chosenOptions是配置参数</div>
                      <fc-combo [(ngModel)]="comboValue" fcLabel="下拉单选label" fcRequired="true" [fcOption]="comboOptions" name="15"></fc-combo>
                      <div style="margin-left: 59px;">下拉单选：[(ngModel)]="comboValue"[fcOption]="comboOptions"/其中comboValue、comboOptions是配置参数s </div>
                      <fc-date [(ngModel)]="now" fcLabel="日期label" name="16"></fc-date>
                      <div style="margin-left: 82px;">年月：[(ngModel)]="now"</div>
                      <fc-datetime [(ngModel)]="now" fcLabel="时间日期label" name="17"></fc-datetime>
                      <fc-double [(ngModel)]="inputNumber" fcLabel="数值label" name="18"></fc-double>
                      <div style="margin-left: 82px;">数值：[(ngModel)]="inputNumber"/inputNumber是配置参数</div>
                    </form>
                    <div fccontent2>
                      <fc-long [(ngModel)]="inputNumber" fcLabel="整数label"></fc-long>
                      <div style="margin-left:83px;">整数：[(ngModel)]="inputNumber"/inputNumber是配置参数</div>
                      <fc-many [(ngModel)]="manyValue" fcLabel="下拉多选对象label" fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" fcValueCode='DICVALUE'
                        fcLabelCode='DICDESC'></fc-many>
                      <div style="margin-left:39px;">下拉多选对象：[(ngModel)]="manyValue"  元数据：fcAppid="SYSAPP"、元数据字段：fcFieldCode="ENABLECACHE"、元数据值：fcValueCode='DICVALUE'/manyValue是配置参数</div> 
                      <fc-radio fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" [(ngModel)]="radioValue" fcValueCode='DICVALUE' fcLabelCode='DICDESC'></fc-radio>
                      <div style="margin-left: 62px;">单选按钮：配置元数据fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" [(ngModel)]="radioValue" fcValueCode='DICVALUE' fcLabelCode='DICDESC'/其中radioValue是自定义</div>
                      <fc-text fcAppid="SYSAPP" fcFieldCode='APPNAME' fcPlaceHolder="请输入" fcLabel="文本框label"></fc-text>
                      <div style="margin-left: 40px;">文本框：fcPlaceHolder="请输入"/文本框默认内容</div>
                      <fc-textarea fcPlaceHolder="请输入" fcLabel="大文本框label"></fc-textarea>
                      <div style="margin-left: 63px;">大文本框：fcPlaceHolder="请输入"/大文本框默认内容</div>
                    </div>
                  </fc-layoutcol>
                  <fc-tlbform fccontent [fcButtons]="[{BTNNAME:'查询'},{BTNNAME:'清空',BTNTYPE:'default'}]" fcLayout="center"></fc-tlbform>
                  <fc-adcode fcfooter fcTitle="描述" fcRemark="基本的用法"
                  [fcview]="basicview"
                  [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="readonly" fcTitle="只读" fccontent1>
                  <div fccontent>
                      <fc-layoutcol fccontent>
                          <div fccontent1>
                            <form nz-form>
                              <fc-switch fcCheckValue="Y" fcLabel="开关label" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' name="11"></fc-switch>
                              <div style="margin-left:83px;">开关：fcCheckValue="Y"/Y是关闭,N是开启和fcOption配合使用</div>
                              <fc-any [(ngModel)]="anyValue" fcLabel="下拉单选对象label" fcDisabledCode="true" [fcOption]="anyOptions" name="12"></fc-any>
                              <div style="margin-left:36px;">下拉单选对象：[fcOption]="anyOptions" [(ngModel)]="anyValue"/其中anyValue、anyOptions</div>
                              <div style="margin-left:83px;">下拉单选对象：</div>
                              <fc-check [(ngModel)]="checkValue" fcLabel="多选框label" [fcOption]="checkOptions" name="13"></fc-check>
                              <div style="margin-left:36px;">下拉单选对象：[fcOption]="anyOptions" [(ngModel)]="anyValue"</div>
                              <fc-chosen [(ngModel)]="chosenValue" fcLabel="下拉多选label" [fcOption]="chosenOptions" name="14"></fc-chosen>
                              <div style="margin-left: 62px;">下拉多选:[(ngModel)]="chosenValue"[fcOption]="chosenOptions" /其中chosenValue、chosenOptions是配置参数</div>
                              <fc-combo [(ngModel)]="comboValue" fcLabel="下拉单选label" fcRequired="true" [fcOption]="comboOptions" name="15"></fc-combo>
                              <div style="margin-left: 59px;">下拉单选：[(ngModel)]="comboValue"[fcOption]="comboOptions"/其中comboValue、comboOptions是配置参数s </div>
                              <fc-date [(ngModel)]="now" fcLabel="日期label" name="16"></fc-date>
                              <div style="margin-left: 82px;">年月：[(ngModel)]="now"</div>
                              <fc-datetime [(ngModel)]="now" fcLabel="时间日期label" name="17"></fc-datetime>
                              <div style="margin-left: 47px;">年月日时间：[(ngModel)]="now"</div>
                              <div style="margin-left: 47px;">年月日时间：[(ngModel)]="now"</div>
                              <fc-double [(ngModel)]="inputNumber" fcLabel="数值label" name="18"></fc-double>
                              <div style="margin-left: 82px;">数值：[(ngModel)]="inputNumber"/inputNumber是配置参数</div>
                            </form>
                          </div>
                          <div fccontent2>
                            <fc-long [(ngModel)]="inputNumber" fcLabel="整数label"></fc-long>
                            <div style="margin-left:83px;">整数：[(ngModel)]="inputNumber"/inputNumber是配置参数</div>
                            <fc-many [(ngModel)]="manyValue" fcLabel="下拉多选对象label" fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" fcValueCode='DICVALUE'
                              fcLabelCode='DICDESC'></fc-many>
                            <div style="margin-left:39px;">下拉多选对象：[(ngModel)]="manyValue"  元数据：fcAppid="SYSAPP"、元数据字段：fcFieldCode="ENABLECACHE"、元数据值：fcValueCode='DICVALUE'/manyValue是配置参数</div>
                            <fc-radio fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" [(ngModel)]="radioValue" fcValueCode='DICVALUE' fcLabelCode='DICDESC'></fc-radio>
                            <div style="margin-left: 62px;">单选按钮：配置元数据fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" [(ngModel)]="radioValue" fcValueCode='DICVALUE' fcLabelCode='DICDESC'/其中radioValue是自定义</div>
                            <fc-text fcPlaceHolder="请输入" fcLabel="文本框label" fcReadonly="true"></fc-text>
                            <div style="margin-left: 40px;">文本框：fcPlaceHolder="请输入"/文本框默认内容</div>
                            <fc-textarea fcPlaceHolder="请输入" fcLabel="大文本框label" fcReadonly="true"></fc-textarea>
                            <div style="margin-left: 63px;">大文本框：fcPlaceHolder="请输入"/大文本框默认内容</div>
                          </div>
                      </fc-layoutcol>
                  </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="只能读不能点击"
                    [fcview]="readonlyview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent1>
                  <div fccontent>
                    <fc-layoutcol fccontent>
                      <div fccontent1>
                        <form nz-form>
                          <fc-switch fcCheckValue="Y" fcLabel="开关label" fcOption='[{"label":"是","value":"Y"},{"label":"否","value":"N"}]' name="11"></fc-switch>
                          <div style="margin-left:83px;">开关：fcCheckValue="Y"/Y是关闭,N是开启和fcOption配合使用</div>
                          <fc-any [(ngModel)]="anyValue" fcLabel="下拉单选对象label" [fcOption]="anyOptions" name="12"></fc-any>
                          <div style="margin-left:36px;">下拉单选对象：[fcOption]="anyOptions" [(ngModel)]="anyValue"/其中anyValue、anyOptions</div>
                          <fc-check [(ngModel)]="checkValue" fcLabel="多选框label" [fcOption]="checkOptions" name="13"></fc-check>
                          <div style="margin-left:36px;">下拉单选对象：[fcOption]="anyOptions" [(ngModel)]="anyValue"</div>
                          <fc-chosen [(ngModel)]="chosenValue" fcLabel="下拉多选label" [fcOption]="chosenOptions" name="14"></fc-chosen>
                          <div style="margin-left: 62px;">下拉多选:[(ngModel)]="chosenValue"[fcOption]="chosenOptions" /其中chosenValue、chosenOptions是配置参数</div>
                          <fc-combo [(ngModel)]="comboValue" fcLabel="下拉单选label" fcRequired="true" [fcOption]="comboOptions" name="15"></fc-combo>
                          <div style="margin-left: 59px;">下拉单选：[(ngModel)]="comboValue"[fcOption]="comboOptions"/其中comboValue、comboOptions是配置参数s </div>
                          <fc-date [(ngModel)]="now" fcLabel="日期label" name="16"></fc-date>
                          <div style="margin-left: 82px;">年月：[(ngModel)]="now"</div>
                          <fc-datetime [(ngModel)]="now" fcLabel="时间日期label" name="17"></fc-datetime>
                          <div style="margin-left: 47px;">年月日时间：[(ngModel)]="now"</div>
                          <fc-double [(ngModel)]="inputNumber" fcLabel="数值label" name="18"></fc-double>
                          <div style="margin-left: 82px;">数值：[(ngModel)]="inputNumber"/inputNumber是配置参数</div>
                        </form>
                      </div>
                      <div fccontent2>
                        <fc-long [(ngModel)]="inputNumber" fcLabel="整数label"></fc-long>
                        <div style="margin-left:83px;">整数：[(ngModel)]="inputNumber"/inputNumber是配置参数</div>
                        <fc-many [(ngModel)]="manyValue" fcLabel="下拉多选对象label" fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" fcValueCode='DICVALUE'
                          fcLabelCode='DICDESC'></fc-many>
                          <div style="margin-left:39px;">下拉多选对象：[(ngModel)]="manyValue"  元数据：fcAppid="SYSAPP"、元数据字段：fcFieldCode="ENABLECACHE"、元数据值：fcValueCode='DICVALUE'/manyValue是配置参数</div>
                        <fc-radio fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" [(ngModel)]="radioValue" fcValueCode='DICVALUE' fcLabelCode='DICDESC'></fc-radio>
                        <div style="margin-left: 62px;">单选按钮：配置元数据fcAppid="SYSAPP" fcFieldCode="ENABLECACHE" [(ngModel)]="radioValue" fcValueCode='DICVALUE' fcLabelCode='DICDESC'/其中radioValue是自定义</div>
                        <fc-text fcPlaceHolder="请输入" fcDisabled="true" fcLabel="文本框label" [(ngModel)]="content"></fc-text>
                        <div style="margin-left: 40px;">文本框：fcPlaceHolder="请输入"/文本框默认内容</div>
                        <fc-textarea fcPlaceHolder="请输入" fcDisabled="true" fcLabel="大文本框label" [(ngModel)]="content"></fc-textarea>
                        <div style="margin-left: 63px;">大文本框：fcPlaceHolder="请输入"/大文本框默认内容</div>
                      </div>
                    </fc-layoutcol>
                  </div>
                  <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态"
                    [fcview]="disabledview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="sys" fcTitle="元数据表单" fccontent1>
                  <div fccontent>
                      <fc-adform fccontent [fcId]="'23471a18d4164f02a26d3b5f283d0a41'" fcAppid="AR01TARCOMPANY" [fcOption]="formConfig"></fc-adform>
                  </div>
                  <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态"
                  fcview='<fc-adform fccontent [fcId]="23471a18d4164f02a26d3b5f283d0a41" fcAppid="AR01TARCOMPANY" [fcOption]="formConfig"></fc-adform>'
                  [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
              </fc-layoutcol>
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
              <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
              <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
              [
              {href:'data','label':'静态资源'},
              {href:'readonly','label':'只读'},
              {href:'disabled','label':'禁用'},
              {href:'sys','label':'元数据表单'},
              {href:'attributesAPI','label':'属性API'},
              {href:'eventAPI','label':'事件API'}
              ]">
            </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->

  
</fc-layoutpanel>
  