<!-- 文本 fc-text -->
<fc-layoutpanel>
    <fc-title fcTitle="文本" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <label>{{content}}</label>
                <fc-text fcPlaceHolder="请输入"></fc-text>
                <fc-text [(ngModel)]="content" style="display:block;margin-top:24px;"></fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                <fc-text fcType="text" [(ngModel)]="content"></fc-text>
                <fc-text fcType="password" [(ngModel)]="content" style="display:block;margin-top:24px;"></fc-text>
                <fc-text fcType="search" fcPlaceHolder="请输入查询条件" style="display:block;margin-top:24px;"></fc-text>
                <fc-text fcType="hidden" style="display:block;margin-top:24px;"></fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <fc-text [(ngModel)]="content" fcSize="default"></fc-text>
                <fc-text [(ngModel)]="content" fcSize="large" style="display:block;margin-top:24px;"></fc-text>
                <fc-text [(ngModel)]="content" fcSize="small" style="display:block;margin-top:24px;"></fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-text [(ngModel)]="content" fcDisabled="true"></fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="前置标签" fccontent1>
            <div fccontent>
                <fc-text [(ngModel)]="addonbefore">
                    <div fcAddonBefore>https://</div>
                </fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="后置标签" fccontent2>
            <div fccontent>
                <fc-text [(ngModel)]="addonbefore" fcAddonAfter="anticon anticon-like-o">
                </fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="内部前缀" fccontent1>
            <div fccontent>
                <fc-text [(ngModel)]="content">
                    <i class="anticon anticon-like-o" fcPrefix></i>
                </fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="内部后缀" fccontent2>
            <div fccontent>
                <fc-text [(ngModel)]="content">
                    <i class="anticon anticon-like-o" fcSuffix></i>
                </fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="更多" fccontent1>
            <div fccontent>
                待开发
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
</fc-layoutpanel>
<!-- API -->
<fc-layoutpanel>
    <fc-title fcTitle="属性" fcheader> </fc-title>
    <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
</fc-layoutpanel>
<fc-layoutpanel>
    <fc-title fcTitle="事件" fcheader> </fc-title>
    <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
</fc-layoutpanel>