<!-- 文本 fc-text -->
<fc-layoutpanel>
    <fc-title fcLabel="文本" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-text [fcLabel]="'点击输入文本内容'" [(ngModel)]="content"></fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="只读" fccontent1>
            <div fccontent>
                <fc-text [fcLabel]="'只读'" [(ngModel)]="content" [fcReadonly]="true"></fc-text>
                <div style="margin-left:79px;">只读：[fcReadonly]="true"/默认为false</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent1>
            <div fccontent>
                <fc-text [fcLabel]="'禁用'" [(ngModel)]="content" fcDisabled="true"></fc-text>
                <div style="margin-left:79px;">禁用：fcDisabled="true"/默认为false</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-text [fcLabel]="'默认'" [(ngModel)]="content" fcSize="default"></fc-text>
                    <div style="margin-left:81px;">默认：fcSize="default"</div>
                </div>
                <div style="display:block;margin-top:24px;">
                    <fc-text [fcLabel]="'大'" [(ngModel)]="content" fcSize="large"></fc-text>
                    <div style="margin-left:92px;">大：fcSize="large"</div>
                </div>
                <div style="display:block;margin-top:24px;">
                    <fc-text [fcLabel]="'小'" [(ngModel)]="content" fcSize="small"></fc-text>
                    <div style="margin-left:92px;">小：fcSize="small"</div>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="fcShowLabel是否占位" fccontent2>
            <div fccontent>
                <fc-text [fcLabel]="'占位时'" [fcShowLabel]="true" [(ngModel)]="content">
                </fc-text>
                <div style="margin-left:69px;">占位时：[fcShowLabel]="true"/默认为true</div>
                不占位时：
                <fc-text [fcShowLabel]="false" [(ngModel)]="content">
                </fc-text>
                <div style="margin-left:69px;">不占位时：[fcShowLabel]="false"/默认为true</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                <div>
                    <fc-text [fcLabel]="'文本类型'" fcType="text" [(ngModel)]="content"></fc-text>
                    <div style="margin-left:79px;">文本：fcType="text"</div>
                </div>
                <div style="display:block;margin-top:24px;">
                    <fc-text [fcLabel]="'查询'" fcType="search" fcPlaceHolder="请输入查询条件"></fc-text>
                    <div style="margin-left:79px;">查询：fcType="search"</div>
                </div>
                <div style="display:block;margin-top:24px;">
                    <fc-text [fcLabel]="'隐藏'" fcType="hidden"></fc-text>
                    <div style="margin-left:79px;">隐藏：fcType="hidden"</div>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="联想输入" fccontent2>
            <div fccontent>
                <fc-text fcLabel="联想输入测试" [fcAppid]="'SYSAPP'" [(ngModel)]="content" fcFieldCode='APPNAME' fcAppid='SYSAPP' name="fuzzy"></fc-text>
                <div style="margin-left:31px;">联想输入测试：fcType="text"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="内部前缀" fccontent2>
            <div fccontent>
                <fc-text  [fcLabel]="'内部前缀'" [(ngModel)]="addonbefore" [fcPrefix]="'fc-icon-line'">
                </fc-text>
                <div style="margin-left:56px;">在输入框上添加内部前缀[fcPrefix]="'fc-icon-line'"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="内部后缀" fccontent2>
            <div fccontent>
                <fc-text [fcLabel]="'内部后缀'" [(ngModel)]="addonbefore" [fcSuffix]="'fc-icon-unit'">
                </fc-text>
                <div style="margin-left:56px;">在输入框上添加内部后缀[fcSuffix]="'fc-icon-line'"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="前置标签正在开发中" fccontent1>
            <div fccontent>
                <fc-text [fcLabel]="'前置标签'" [(ngModel)]="addonbefore" [fcAddonBefore]="'fc-icon-dialogue'">
                </fc-text>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="后置标签" fccontent1>
            <div fccontent>
                <fc-text [fcLabel]="'后置标签'" [(ngModel)]="addonbefore" [fcAddonAfter]="'fc-icon-line'">
                </fc-text>
                <div style="margin-left:56px;">在输入框上添加后置标签[fcAddonAfter]="'fc-icon-line'"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="后置标签选择" fccontent1>
            <div fccontent>
                <fc-text [fcLabel]="'后置标签选择'" [(ngModel)]="addonbefore" [fcAddonAfter]="'fc-icon-line'">
                </fc-text>
                <div style="margin-left:56px;">在输入框上添加后置标签[fcAddonAfter]="'fc-icon-line'"</div>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>