<!-- 标题 fc-title -->
<fc-layoutpanel>
    <fc-title fcLabel="标题" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-title fcLabel="这是一个标题"></fc-title>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <fc-title fcLabel="这是一个标题" fcSize="small"></fc-title>
                <fc-title fcLabel="这是一个标题" fcSize="default"></fc-title>
                <fc-title fcLabel="这是一个标题" fcSize="large"></fc-title>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="没有左侧竖条" fccontent2>
            <div fccontent>
                <fc-title fcLabel="这是一个标题" fcHasLine="false"></fc-title>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <fc-layoutcol fccontent fcSpans="1">
        <fc-layoutgroup fcTitle="标题居中" fccontent1>
            <div fccontent>
                <fc-title fcLabel="债权清收登记" fcLayout="center" fcheader>
                    <div class="subtitle" fcsubtitle>
                        <div class="subtitle-item">
                            <label>单位:</label>
                            <span>上海</span>
                        </div>
                        <div class="subtitle-item">
                            <label>部门:</label>
                            <span>财务科</span>
                        </div>
                        <div class="subtitle-item">
                            <label>登记人:</label>
                            <span>王五</span>
                        </div>
                        <div class="subtitle-item">
                            <label>登记日期:</label>
                            <span>2017年12月25日</span>
                        </div>
                        <div class="subtitle-item">
                            <label>收款单状态:</label>
                            <fc-tag fcTitle="未提交" fcColor="blue"></fc-tag>
                        </div>
                    </div>
                </fc-title>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>