<!-- 标题 fc-title -->
<fc-layoutpanel class="templatefastposition samples">
        <!-- 快速定位 -->
        <fc-layoutcol fcSpans="9,1" fccontent>
            <fc-title fcLabel="标题" fccontent1 fcSubtitle="一个标题组件" fcHasline="false"></fc-title>
            <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="需要提示一个区域或文章内容时的标题。" fcHasline="false"></fc-title>
            <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
            <fc-layoutpanel fccontent1>
                <!-- 组件内容开始 -->
                <fc-layoutpanel fccontent>
                    <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
                    <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                            <div fccontent>
                                <fc-title fcLabel="这是一个标题"></fc-title>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。" fcview='<fc-title fcLabel="这是一个标题"></fc-title>' [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="size" fcTitle="大小" fccontent2>
                            <div fccontent>
                                <fc-title fcLabel="这是一个标题" fcSize="small"></fc-title>
                                <fc-title fcLabel="这是一个标题" fcSize="default"></fc-title>
                                <fc-title fcLabel="这是一个标题" fcSize="large"></fc-title>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="标题有三种大小:大(large)、默认(default)、小(small)。" [fcview]="sizeview" [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="hasline" fcTitle="左侧竖条" fccontent1>
                            <div fccontent>
                                <fc-title fcLabel="这是一个标题" fcHasLine="false"></fc-title>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="标题左侧没有竖条" fcview='<fc-title fcLabel="这是一个标题" fcHasLine="false"></fc-title>' [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="border" fcTitle="下边框" fccontent2>
                            <div fccontent style="width:200px;">
                                <fc-title fcLabel="这是一个标题" fcBorder="false" fcBorder="bottom"></fc-title>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="标题没有下边框" fcview='<fc-title fcLabel="这是一个标题" fcHasLine="false"></fc-title>' [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="subtitle" fcTitle="副标题显示" fccontent1>
                            <div fccontent>
                                <fc-title fcLabel="这是一个标题" fcHasLine="false" fcSubtitle="副标题内容显示"></fc-title>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="副标题显示的内容" fcview='<fc-title fcLabel="这是一个标题" fcHasLine="false" fcSubtitle="副标题内容显示"></fc-title>'
                                [fccode]="subtitlejs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="position" fcTitle="标题居中" fccontent2>
                            <div fccontent>
                                <fc-title fcLabel="债权清收登记" fcLayout="center" fcheader>
                                    <div class="subtitle" fcsubtitle>
                                        <div class="subtitle-item">
                                        <label>单位:</label>
                                        <span>上海</span>
                                        </div>
                                        <div class="subtitle-item">
                                        <label>部门:</label>
                                        <span>财务科</span>
                                        </div>
                                        <div class="subtitle-item">
                                        <label>登记人:</label>
                                        <span>王五</span>
                                        </div>
                                        <div class="subtitle-item">
                                        <label>登记日期:</label>
                                        <span>2017年12月25日</span>
                                        </div>
                                        <div class="subtitle-item">
                                        <label>收款单状态:</label>
                                        <fc-tag fcTitle="未提交" fcColor="blue"></fc-tag>
                                        </div>
                                    </div>
                                </fc-title>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="表题居中显示。"
                            [fcview]="positionview"
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="width" fcTitle="宽度" fccontent1>
                            <div fccontent>
                                <fc-title fcLabel="这是一个标题" fcWidth="70%" fcBorder="false" fcBorder="bottom"></fc-title>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="标题宽度设置" 
                            fcview='<fc-title fcLabel="这是一个标题" fcWidth="70%" fcBorder="false" fcBorder="bottom"></fc-title>' 
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                    </fc-layoutcol>
                </fc-layoutpanel>                  
                <!-- API -->
                <fc-layoutpanel fccontent>
                    <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
                <fc-layoutpanel fccontent>
                    <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
                <!-- 组件内容结束 -->
            </fc-layoutpanel>    
            <div class="fastposition-content" fccontent2>
                <fc-fastposition [fcLinks]="
                    [
                    {href:'basic','label':'基本'},
                    {href:'size','label':'大小'},
                    {href:'hasline','label':'左侧竖条'},
                    {href:'border','label':'下边框'},
                    {href:'subtitle','label':'副标题'},
                    {href:'position','label':'居中'},
                    {href:'width','label':'宽度'},
                    {href:'attributesAPI','label':'属性API'},
                    {href:'eventAPI','label':'事件API'}
                    ]">
                </fc-fastposition>
            </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
    </fc-layoutpanel>