<!-- 模态框-消息 fc-modalinfo -->
<fc-layoutpanel>
    <!-- 快速定位 -->
    <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="模态框" fccontent1 fcSubtitle="模态框组件" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="点击按钮弹出模态框消息弹窗" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                  <div fccontent class="all">
                    <fc-button fcLabel="打开消息弹窗" fcType="primary" (click)="modalinfo.showModal()"></fc-button>
                    <fc-modalinfo #modalinfo fcTitle="这是一条通知信息" fcContent="一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息"></fc-modalinfo>
                  </div>
                  <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                  [fcview]="basicview"
                  [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="type" fcTitle="类型" fccontent2>
                    <div fccontent class="all">
                      <fc-button fcLabel="打开消息弹窗" fcType="primary" (click)="modalinfo.showModal()"></fc-button>
                      <fc-modalinfo #modalinfo fcTitle="这是一条通知信息" fcContent="一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息"></fc-modalinfo>
                      <div>按钮类型：fcType="primary"</div>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="按钮类型"
                    [fcview]="basicview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="content" fcTitle="附加信息" fccontent1>
                    <div fccontent class="all">
                      <fc-button fcLabel="打开消息弹窗" fcType="primary" (click)="modalinfo.showModal()"></fc-button>
                      <fc-modalinfo #modalinfo fcTitle="这是一条通知信息" fcContent="一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息"></fc-modalinfo>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="模态框附加信息"
                    [fcview]="contentview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="event"  fcTitle="事件" fccontent2>
                    <div fccontent class="all">
                      <fc-button fcLabel="打开消息弹窗" fcType="primary" (click)="modalinfo.showModal()"></fc-button>
                      <fc-modalinfo #modalinfo fcTitle="这是一条通知信息" fcContent="一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息一些附加信息"></fc-modalinfo>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="弹出模态框可以点击取消或确定"
                    [fcview]="basicview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
              <fc-title fcLabel="属性" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
              <fc-title fcLabel="事件" fcheader></fc-title>
              <div style="height:450px;" fccontent>
                  <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
              </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
              [
              {href:'basic','label':'基本'},
              {href:'type','label':'类型'},
              {href:'content','label':'附加信息'},
              {href:'event','label':'弹窗事件'},
              {href:'attributesAPI','label':'属性API'},
              {href:'eventAPI','label':'事件API'}
              ]">
            </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->

  
</fc-layoutpanel>
  