<!-- 数值 fc-double -->
<fc-layoutpanel>
    <fc-title fcLabel="数值" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-double [(ngModel)]="doubleValue"></fc-double>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-double [(ngModel)]="doubleValue" fcSize="small"></fc-double>
                </div>
                <div style="margin-top:24px;">
                    <fc-double [(ngModel)]="doubleValue" fcSize="default"></fc-double>
                </div>
                <div style="margin-top:24px;">
                    <fc-double [(ngModel)]="doubleValue" fcSize="large"></fc-double>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-double fcDisabled="true"></fc-double>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="最小值" fccontent1>
            <div fccontent>
                <fc-double fcMinValue="3"></fc-double>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="最大值" fccontent2>
            <div fccontent>
                <fc-double fcMinValue="10"></fc-double>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="步数" fccontent1>
            <div fccontent>
                <fc-double fcStep="0.1"></fc-double>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="输入提示符" fccontent2>
            <div fccontent>
                <fc-double fcPlaceHolder="请输入"></fc-double>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>