<!-- 单选 fc-radio -->
<fc-layoutpanel class="templatefastposition samples">
    <!-- 快速定位 -->
        <fc-layoutcol fcSpans="9,1" fccontent>
            <fc-title fcLabel="单选按钮" fccontent1 fcSubtitle="按钮用于开始一个即时操作" fcHasline="false"></fc-title>
            <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="标记了一个（或封装一组）操作命令，响应用户点击行为，触发相应的业务逻辑。" fcHasline="false"></fc-title>
            <fc-title fcLabel="代码演示" fcheader fcHasline="false"></fc-title>
            <fc-layoutpanel fccontent1>
            <!-- 组件内容开始 -->
            <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-radio [fcLabel]="'基本'" [(ngModel)]="radioValue" [fcOption]="radioOptions"></fc-radio>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                        fcview='<fc-radio [fcLabel]="基本" [(ngModel)]="radioValue" [fcOption]="radioOptions"></fc-radio>'
                        [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="size" fcTitle="大小" fccontent2>
                    <div fccontent>
                        <fc-radio [fcLabel]="'小'" fcType="button" fcSize="small" [(ngModel)]="radioValue" [fcOption]="radioOptions" class="radio" ></fc-radio>                       
                        <fc-radio [fcLabel]="'默认'" fcType="button" fcSize="default" [(ngModel)]="radioValue" [fcOption]="radioOptionsDisabled" class="radio"></fc-radio>                     
                        <fc-radio [fcLabel]="'大'" fcType="button" fcSize="large" [(ngModel)]="radioValue" [fcOption]="radioOptionsDisabled" class="radio"></fc-radio>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="按钮有三种大小:大(large)、默认(default)、小(small)。" 
                    [fcview]='sizeview' [fccode]="basicjs" [fcstyle]="radioSize">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="readonly" fcTitle="只读" fccontent1>
                    <div fccontent>
                        <fc-radio [fcLabel]="'只读'" [(ngModel)]="radioValueSingle" [fcOption]="radioOptionsReadonly" [fcReadonly]="true"></fc-radio>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="只能读不能点击按钮" 
                    [fcview]='readonlyview' [fccode]="basicjs" [fcstyle]="radioSize">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent2>
                    <div fccontent>
                        <fc-radio [fcLabel]="'禁用'" [fcDisabled]="true" [(ngModel)]="radioValue" [fcOption]="radioOptionsDisabled"></fc-radio>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态" 
                    [fcview]='disabledview' [fccode]="basicjs" [fcstyle]="radioSize">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="type" fcTitle="类型" fccontent1>
                    <div fccontent>
                        <fc-radio [fcLabel]="'radio按钮'" fcType="radio" [(ngModel)]="radioValue" [fcOption]="radioOptions"></fc-radio>
                        <fc-radio [fcLabel]="'button按钮'" fcType="button" [(ngModel)]="radioValue" [fcOption]="radioOptions"></fc-radio>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="设置按钮形状，可选值为 radio/button" 
                    [fcview]='typeview' [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="single" fcTitle="单独使用" fccontent2>
                    <div fccontent>
                        <fc-radio [fcLabel]="'单独使用'" [(ngModel)]="radioValueSingle" [fcOption]="radioOption"></fc-radio>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="单独使用"
                    fcview='<fc-radio [fcLabel]="单独使用" [(ngModel)]="radioValueSingle" [fcOption]="radioOption"></fc-radio>'
                    [fccode]="basicjs">
                </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="noshowlabel" fcTitle="不占位" fccontent1>
                    <div fccontent>
                        <fc-radio [fcShowLabel]="false" [(ngModel)]="radioValue" [fcOption]="radioOptions">
                        </fc-radio>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="不占位时显示的效果"
                    fcview='<fc-radio [fcShowLabel]="false" [(ngModel)]="radioValue" [fcOption]="radioOptions"></fc-radio>' 
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol> 
    </fc-layoutpanel>
    
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
            <!-- 组件内容结束 -->
            </fc-layoutpanel>
            <div class="fastposition-content" fccontent2>
                <fc-fastposition  [fcLinks]="
                    [
                    {href:'basic','label':'基本'},
                    {href:'size','label':'大小'},
                    {href:'readonly','label':'只读'},
                    {href:'disabled','label':'禁用'},
                    {href:'type','label':'类型'},
                    {href:'single','label':'单独使用'},
                    {href:'noshowlabel','label':'不占位'},
                    {href:'attributesAPI','label':'属性API'},
                    {href:'eventAPI','label':'事件API'}
                    ]">
                </fc-fastposition>
            </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->
  
  
  
  
    
    
</fc-layoutpanel>