<!-- 按钮 fc-button -->
<fc-layoutpanel class="tabmain">
  <fc-title fcLabel="按钮" fcheader></fc-title>
  <fc-layoutcol fccontent fcSpans="1,1">
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        <fc-tabmain [fcTabs]="tabmain" [fcSelectedIndex]="tabIndex">
          <div fccontent1>fccontent1</div>
          <div fccontent2>fccontent2</div>
          <div fccontent3>fccontent3</div>
        </fc-tabmain>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="类型" fccontent2>
        <div fccontent >
            <fc-tabmain [fcTabs]="tabmain" [fcSelectedIndex]="tabIndex"[fcType]="card">
                <div fccontent1>fccontent1</div>
                <div fccontent2>fccontent2</div>
                <div fccontent3>fccontent3</div>
              </fc-tabmain>
              <div style="margin-top: 20px;">类型：[fcType]="card"/不显示线</div>
        </div>
      </fc-layoutgroup>
      <fc-layoutgroup fcTitle="标题" fccontent1>
        <div fccontent>
          <fc-tabmain [fcTabs]="tabmain" [fcSelectedIndex]="tabIndex">
            <div fccontent1>fccontent1</div>
            <div fccontent2>fccontent2</div>
            <div fccontent3>fccontent3</div>
          </fc-tabmain>
          <div style="margin-top: 20px;">标题：[fcTabs]="tabmain"/tabmain是配置参数</div>
        </div>
      </fc-layoutgroup>
    <fc-layoutgroup fcTitle="选中索引" fccontent2>
      <div fccontent>
          <fc-tabmain [fcTabs]="tabmain" [fcSelectedIndex]="1">
              <div fccontent1>fccontent1</div>
              <div fccontent2>fccontent2</div>
              <div fccontent3>fccontent3</div>
            </fc-tabmain>
            <div style="margin-top: 20px;">选中索引： [fcSelectedIndex]="1"</div>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="选项卡定位" fccontent1>
      <div fccontent >
          <fc-tabmain [fcTabs]="tabmain" [fcSelectedIndex]="tabIndex" [fcPosition]="top">
              <div fccontent1>fccontent1</div>
              <div fccontent2>fccontent2</div>
              <div fccontent3>fccontent3</div>
            </fc-tabmain>
            <div style="margin-top: 20px;">选项卡定位： [fcPosition]="top"/值有 top、right、left、center</div> 
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="超出高度后是否显示滑动按钮" fccontent2>
        <div fccontent>
            <fc-tabmain [fcTabs]="tabmain" [fcSelectedIndex]="tabIndex"[fcShowPagination]="true">
                <div fccontent1>fccontent1</div>
                <div fccontent2>fccontent2</div>
                <div fccontent3>fccontent3</div>
              </fc-tabmain>
              <div style="margin-top: 20px;">超出高度后是否显示滑动按钮:[fcShowPagination]="true"/true显示/false不显示默认为false</div>
        </div>
      </fc-layoutgroup>
    <fc-layoutgroup fcTitle="大小" fccontent1>
      <div fccontent>
        正在开发中
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="更多" fccontent2>
      <div fccontent>
        待开发
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
</fc-layoutpanel>
    <!-- API -->
<fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
</fc-layoutpanel>
<fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
</fc-layoutpanel>