<!-- 按钮 fc-button -->
<fc-layoutpanel class="templatefastposition samples">
    <fc-title class="fc-header" fcLabel="按钮" fcheader fcSubtitle="按钮用于开始一个即时操作" fcHasline="false"></fc-title>
    <fc-title class="fc-header" fcLabel="何时使用" fcheader fcSubtitle="标记了一个（或封装一组）操作命令，响应用户点击行为，触发相应的业务逻辑。" fcHasline="false"></fc-title>
    <fc-title class="fc-header" fcLabel="代码演示" fcheader fcHasline="false"></fc-title>
    <!-- 快速定位 -->
    <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-button fcLabel="按钮" fcSize="default"></fc-button>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-button fcLabel="按钮" fcSize="default"></fc-button>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="size" fcTitle="大小" fccontent2>
                    <div fccontent>
                        <fc-button [fcLabel]="'大'" fcLabel="large" fcSize="large"></fc-button>
                        <fc-button [fcLabel]="'默认'" fcLabel="default" fcSize="default"></fc-button>
                        <fc-button [fcLabel]="'小'"fcLabel="small" fcSize="small"></fc-button>
                    </div>    
                        <fc-adcode fcfooter fcTitle="描述" fcRemark="按钮有三种大小:大(large)、默认(default)、小(small)。"
                        [fcview]="sizeview"
                        [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="type" fcTitle="按钮类型" fccontent1>
                    <div fccontent>
                        <fc-button fcLabel="primary" fcType="primary"></fc-button>
                        <fc-button fcLabel="default" fcType="default"></fc-button>
                        <fc-button fcLabel="dashed" fcType="dashed"></fc-button>
                        <fc-button fcLabel="danger" fcType="danger"></fc-button>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="按钮有四种类型primary、default、dashed、danger"
                    [fcview]="typeview"
                    [fccode]="basicjs"></fc-adcode> 
                </fc-layoutgroup>
                <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent2>
                    <div fccontent>
                        <fc-button fcLabel="禁用" fcSize="large" fcDisabled="true"></fc-button>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态"
                    fcview='<fc-button fcLabel="禁用" fcSize="large" fcDisabled="true"></fc-button>'
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="icon" fcTitle="图标按钮" fccontent1>
                    <div fccontent>
                        <fc-button fcLabel="large" fcSize="large" fcIcon="fc-icon-method" fcIconPositon="left"></fc-button>>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="可以放图标的按钮"
                    [fcview]="iconview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
               
                <fc-layoutgroup id="shape" fcTitle="按钮形状" fccontent2>
                    <div fccontent > 
                      <fc-button [fcIcon]="'fc-icon-method'" fcShape="circle"></fc-button>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="圆形按钮形状"
                    fcview='<fc-button [fcIcon]="fc-icon-method" fcShape="circle"></fc-button>'
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="ghost" fcTitle="幽灵按钮" fccontent1>
                    <div fccontent>
                        <div style="background-color:rgb(190, 200, 200);padding: 26px 16px 16px;">
                            <fc-button fcLabel="幽灵图标" fcType="primary" fcOpacity="true"></fc-button>
                            <fc-button fcLabel="幽灵图标" fcType="dashed" fcOpacity="true"></fc-button>
                            <fc-button fcLabel="幽灵图标" fcType="danger" fcOpacity="true"></fc-button>
                            <fc-button fcLabel="幽灵图标" fcType="default" fcOpacity="true"></fc-button>
                        </div>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark=" 幽灵按钮将其他按钮的内容反色，背景变为透明，常用在有色背景上。"
                    [fcview]="ghostview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="position" fcTitle="图标位置" fccontent2>
                    <div fccontent>
                        <fc-button  fcLabel="右" fcIcon="fc-icon-method" fcIconPositon="right"></fc-button>
                        <fc-button  fcLabel="左" fcIcon="fc-icon-method" fcIconPositon="left"></fc-button>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark=" 图标位置可以设置为左右"
                    [fcview]="positionview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="progress" fcTitle="加载图标" fccontent1>
                    <div fccontent>
                        <fc-button  fcLabel="加载" fcIcon="fc-icon-method" fcLoading="true"></fc-button>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark=" 加载图标样式"
                    fcview='<fc-button  fcLabel="加载" fcIcon="fc-icon-method" fcLoading="true"></fc-button>'
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
        <!-- API -->
        <fc-layoutpanel fccontent>
                <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
            <fc-fastposition [fcLinks]="
                [
                {href:'basic','label':'基本'},
                {href:'size','label':'大小'},
                {href:'disabled','label':'禁用'},
                {href:'icon','label':'图标按钮'},
                {href:'type','label':'按钮类型'},
                {href:'shape','label':'按钮形状'},
                {href:'ghost','label':'幽灵按钮'},
                {href:'position','label':'图标位置'},
                {href:'progress','label':'加载图标'},
                {href:'attributesAPI','label':'属性API'},
                {href:'eventAPI','label':'事件API'}
                ]">
            </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->



    
   
</fc-layoutpanel>