<!-- 按钮 fc-button -->
<fc-layoutpanel>
    <fc-title fcLabel="按钮" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-button fcLabel="按钮" fcSize="large"></fc-button>
                <fc-button fcLabel="按钮" fcSize="default"></fc-button>
                <fc-button fcLabel="按钮" fcSize="small"></fc-button>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="按钮类型" fccontent2>
            <div fccontent>
                <fc-button fcLabel="primary" fcType="primary"></fc-button>
                <fc-button fcLabel="default" fcType="default"></fc-button>
                <fc-button fcLabel="dashed" fcType="dashed"></fc-button>
                <fc-button fcLabel="danger" fcType="danger"></fc-button>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="按钮大小" fccontent1>
            <div fccontent>
                <fc-button fcLabel="large" fcSize="large"></fc-button>
                <fc-button fcLabel="default" fcSize="default"></fc-button>
                <fc-button fcLabel="small" fcSize="small"></fc-button>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-button fcLabel="禁用" fcSize="large" fcDisabled="true"></fc-button>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="按钮形状" fccontent2>
            <div fccontent>
                <fc-button fcIcon="anticon anticon-download" fcShape="circle"></fc-button>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="图标按钮" fccontent2>
            <div fccontent>
                <fc-button fcLabel="large" fcSize="large" fcIcon="anticon anticon-download" fcIconPositon="left"></fc-button>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="幽灵按钮" fccontent1>
            <div fccontent>
                <div style="background-color:rgb(190, 200, 200);padding: 26px 16px 16px;">
                    <fc-button fcLabel="幽灵图标" fcType="primary" fcOpacity="true"></fc-button>
                    <fc-button fcLabel="幽灵图标" fcType="dashed" fcOpacity="true"></fc-button>
                    <fc-button fcLabel="幽灵图标" fcType="danger" fcOpacity="true"></fc-button>
                    <fc-button fcLabel="幽灵图标" fcType="default" fcOpacity="true"></fc-button>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="按钮下拉" fccontent1>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>