<!-- 快速定位 fc-fastposition -->
<fc-layoutpanel>
    <fc-title id="position1" fcTitle="快速定位" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-fastposition [fcLinks]="fastpositionlinks"></fc-fastposition>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="固定" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="更多" fccontent1>
            <div fccontent>
                待开发
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" id="position2" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" id="position3" fcheader> </fc-title>
        <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
    </fc-layoutpanel>
</fc-layoutpanel>
<!-- 快速定位 -->
<fc-layoutpanel>
    <fc-title fcLabel="位置4" id="position4" fcheader></fc-title>
    <fc-layoutgroup id="p4child1" fcTitle="位置4child1" fccontent>
        <div fccontent style="height:200px;">
            位置4child1
        </div>
    </fc-layoutgroup>
    <fc-layoutgroup id="p4child2" fcTitle="位置4child2" fccontent>
        <div fccontent style="height:200px;">
            位置4child2
        </div>
    </fc-layoutgroup>
    <fc-layoutgroup id="p4child3" fcTitle="位置4child3" fccontent>
        <div fccontent style="height:200px;">
            位置4child3
        </div>
    </fc-layoutgroup>
</fc-layoutpanel>