<!-- 快速定位 fc-fastposition -->
<fc-layoutcol>
    <fc-layoutpanel id="id0" fccontent1>
        <fc-title fcLabel="第0个" fcheader></fc-title>
        <div style="height:100px;" fccontent>
                <fc-fastposition [fcLinks]="fastpositionlinks"></fc-fastposition>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel id="id1" fccontent1>
        <fc-title fcLabel="第1个" fcheader></fc-title>
        <div style="height:100px;" fccontent>
            
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel id="id2" fccontent1>
        <fc-title fcLabel="第2个" fcheader></fc-title>
        <div style="height:1000px;" fccontent>

        </div>
    </fc-layoutpanel>
    <!-- <fc-fastposition fccontent2 [fcLinks]="[{href:'id0','label':'第0个'},{href:'id1','label':'第1个'},{href:'id2','label':'第2个'}]"
        style="position:fixed;top:150px;right:50px;"></fc-fastposition> -->
    <fc-fastposition fccontent2 [fcLinks]="[{href:'id0','label':'第0个'},{href:'id1','label':'第1个'},{href:'id2','label':'第2个'}]"
        style="position:fixed;top:150px;right:50px;" [fcOpen]="false"></fc-fastposition>
</fc-layoutcol>
<!-- 快速定位 -->
<fc-layoutpanel>
    <fc-title fcLabel="位置4" id="position4" fcheader></fc-title>
    <fc-layoutgroup id="p4child1" fcTitle="位置4child1" fccontent>
        <div fccontent style="height:200px;">
            位置4child1
        </div>
    </fc-layoutgroup>
    <fc-layoutgroup id="p4child2" fcTitle="位置4child2" fccontent>
        <div fccontent style="height:200px;">
            位置4child2
        </div>
    </fc-layoutgroup>
    <fc-layoutgroup id="p4child3" fcTitle="位置4child3" fccontent>
        <div fccontent style="height:200px;">
            位置4child3
        </div>
    </fc-layoutgroup>
</fc-layoutpanel>