<div class="fc-signup-wrap">
    <div class="fc-signup">
        <div class="fc-signup-module">
            <h2 class="fc-signup-title">注册开发者账号</h2>
            <form>
                <div>
                    <div>放表单组件</div>
                    <div>
                        <div class="has-account">
                            <span>我有账号，立即
                                <a href="javascript:;" routerLink="/signin">登录</a>.</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>