/* 卡片新增 */

:global .sys-card-pannel .fc-layoutpanel {
  background-color: #F0F2F5!important;
}

.sys-card {
  height: 180px;
  cursor: pointer;
  margin-bottom: 10px;
}

:global .sys-card .ant-card {
  height: 100%;
}

.sys-card-pannel-header {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
}

:global .sys-card-pannel-header .sys-card-pannel-title .fc-title {
  padding-left: 0;
  margin-left: 0;
}

.sys-card-pannel-header .sys-card-pannel-smarks {
  width: 80%;
}

.sys-card-bg {
  position: absolute;
  right: 10px;
  top: 0;
  width: auto;
  height: 60%;
}

.sys-card-add {
  text-align: center;
}

:global .sys-card-add .ant-card {
  text-align: center;
  background: #F0F2F5;
}

:global .sys-card-add .ant-card-bordered {
  border: 1px dashed #d9d9d9;
}

.sys-card-add .sys-card-addicon {
  margin-top: 50px;
  display: inline-block;
}

.sys-card-add .sys-card-addtext {
  margin-top: 50px;
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
}

.sys-card-add .sys-card-addtext:hover {
  color: #009DFF;
}

.sys-card-fast {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

.sys-fast-list::after {
  content: '';
  display: block;
  clear: both;
}

.sys-fast-byword {
  float: right;
}

.sys-fast-byword span {
  padding: 4px 5px;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 1px solid #ebedf0;
  border-bottom: 1px solid #ebedf0;
  cursor: pointer;
  position: relative;
}

.sys-fast-byword span::after {
  content: '';
  display: none;
  width: 1px;
  height: 100%;
  background: #009dff;
  right: 0;
  bottom: 0;
  position: absolute;
}

.sys-fast-byword span:first-child {
  border-left: 1px solid #ebedf0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sys-fast-byword span:last-child {
  border-right: 1px solid #ebedf0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sys-fast-byword span.active,.sys-fast-byword span:hover {
  border-top: 1px solid #009DFF;
  border-bottom: 1px solid #009DFF;
  border-left: 1px solid #009DFF;
  border-right: 1px solid #009DFF;
  color: #009dff;
}

.sys-fast-byword span:hover::after, .sys-fast-byword span.active::after {
  display: block;
}

.sys-fast-list li {
  float: left;
  color: #009DFF;
  margin-right: 10px;
}

.sys-fast-select {
  width: 25%;
}

/* 卡片内容区 */

.sys-card-btn {
  text-align: center;
}

.sys-card-content {
  display: flex;
  position: relative;
}

.sys-card-content .sys-card-help {
  position: absolute;
  right: -15px;
  top: -20px;
}

.sys-card-text {
  flex: 1;
  padding-left: 5px;
}

.sys-card-content .sys-card-title {
  font-size: 16px;
  font-weight: 700;
}

.sys-card-content .sys-card-smarks {
  margin-top: 15px;
  height: 70px;
  overflow: hidden;
}

.sys-card-mark {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  background: #009DFF;
}

/* 卡片按钮 */

.sys-card-tbl {
  position: absolute;
  position: absolute;
  right: -10px;
  top: -20px;
  display: flex;
  justify-content: flex-start;
}

.sys-card-tbl-every {
  margin-right: 10px;
}

/* 卡片底部 */

.sys-card-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

/* 表单 */

:global .sys-card-pannel .fc-content .sys-card-pannel-edit {
  background: #ffffff;
}

:global .sys-card-pannel .fc-content .sys-card-pannel-edit .fc-title {
  width: 25%!important;
  text-align: right;
  padding-right: 20px;
}

:global .sys-card-pannel .fc-content .sys-card-pannel-edit .fc-layoutcol {
  padding: 10px 100px;
  border-bottom: 1px solid #ebedf0;
}

:global .sys-card-pannel .ant-input, :global .sys-card-pannel .ant-select-selection, :global .sys-card-pannel .ant-input-number {
  border-color: #ebedf0!important;
}