/* 卡片新增 */

:global .sys-card-pannel .fc-layoutpanel {
  background: #F0F2F5;
  padding: 10px;
}

.sys-card {
  height: 180px;
  cursor: pointer;
  margin-bottom: 10px;
}

:global .sys-card .ant-card {
  height: 100%;
}

.sys-card-add {
  text-align: center;
}

.sys-card-add .sys-card-addicon {
  margin-top: 30px;
  display: block;
}

.sys-card-add .sys-card-addtext {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.sys-card-add .sys-card-addtext:hover {
  color: #009DFF;
}

.sys-card-fast {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sys-fast-list::after {
  content: '';
  display: block;
  clear: both;
}

.sys-fast-tlblist {
  float: right;
}

.sys-fast-list li {
  float: left;
  color: #009DFF;
  margin-right: 10px;
}

/* 卡片内容区 */

.sys-card-content {
  display: flex;
  position: relative;
}

.sys-card-content .sys-card-help {
  position: absolute;
    right: -15px;
    top: -20px;
}



.sys-card-text {
  flex: 1;
  padding-left: 5px;
}

.sys-card-content .sys-card-title {
  font-size: 18px;
  font-weight: 700;
}

.sys-card-content .sys-card-smarks {
  margin-top: 15px;
  height: 70px;
  overflow: hidden;
}

.sys-card-mark {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  background: #009DFF;
}

/* 卡片底部 */

.sys-card-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}