<!-- 模态框-列表 fc-modallist -->
<fc-layoutpanel>
  <fc-title fcLabel="模态框-列表" fcheader></fc-title>
  <fc-layoutcol fccontent fcSpans="1,1">
    <fc-layoutgroup fcTitle="基本" fccontent1>
      <div fccontent>
        正在开发中
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="类型" fccontent2>
      <div fccontent>
        正在开发中
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="打开单选列表弹窗" fccontent1>
      <div fccontent>
        <fc-button [fcType]="'primary'" (click)="modallist1.showModal()" fcLabel="打开单选列表弹窗"></fc-button>
        <fc-modallist #modallist1 fcTitle="列表弹窗标题" [fcAppid]="'SYSAPP'" [fcType]="'single'" (fcEvent)="modalClose($event)"></fc-modallist>
        <label>{{selectObj}}</label>
      </div>
    </fc-layoutgroup>
    <fc-layoutgroup fcTitle="打开多选列表弹窗" fccontent1>
      <div fccontent>
        <fc-button [fcType]="'primary'" (click)="modalMullist1.showModal()" fcLabel="打开多选列表弹窗"></fc-button>
        <fc-modallist #modalMullist1 fcTitle="列表弹窗标题" [fcAppid]="'SYSAPP'" [fcType]="'multiple'" (fcEvent)="modalClose($event)"></fc-modallist>
        <label>{{selectObj}}</label>
      </div>
    </fc-layoutgroup>
  </fc-layoutcol>
</fc-layoutpanel>
<!-- API -->
<fc-layoutpanel>
  <fc-title fcLabel="属性" fcheader> </fc-title>
  <fc-listdata fccontent [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
</fc-layoutpanel>
<fc-layoutpanel>
  <fc-title fcLabel="事件" fcheader> </fc-title>
  <fc-listdata fccontent [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
</fc-layoutpanel>