<fc-layoutpanel>
    <fc-title fcTitle="首页" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                首页功能正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="版本请更新至" fccontent1>
            <div fccontent>
                <p>npm install fccomponent@0.2.8</p>
                <p>npm install fccore@0.3.2</p>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="登录" fccontent1>
            <div fccontent>
                <fc-button fcType="primary" fcLabel="登录"></fc-button>
                登录功能正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="注册" fccontent1>
            <div fccontent>
                <fc-button fcType="primary" fcLabel="注册"></fc-button>
                注册功能正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="更多" fccontent2>
            <div fccontent>
                待开发
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
</fc-layoutpanel>