<!-- 自定义下拉 fc-any -->
<fc-layoutpanel>
    <fc-title fcTitle="自定义下拉" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <label>{{anyValue|json}}</label>
                <fc-any [(ngModel)]="anyValue" fcDefaultValue="a" [fcOptions]="anyOptions">
                </fc-any>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <fc-any [(ngModel)]="anyValue" fcDefaultValue="a" fcSize="default" [fcOptions]="anyOptions"></fc-any>
                <fc-any [(ngModel)]="anyValue" fcDefaultValue="b" fcSize="large" [fcOptions]="anyOptions"></fc-any>
                <fc-any [(ngModel)]="anyValue" fcDefaultValue="c" fcSize="small" [fcOptions]="anyOptions"></fc-any>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-any [(ngModel)]="anyValue" fcDefaultValue="a" [fcOptions]="anyOptionsDisabled">
                </fc-any>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="更多" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
</fc-layoutpanel>