<!-- 自定义下拉 fc-any -->
<fc-layoutpanel  class="templatefastposition samples">
     <!-- 快速定位 -->
        <fc-layoutcol fcSpans="9,1" fccontent>
            <fc-title fcLabel="自定义下拉单选" fccontent1 fcSubtitle="点击输入框弹出列表" fcHasline="false"></fc-title>
            <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="当页面上的操作命令过多时，用此组件可以收纳操作元素。点击触点，会出现一个下拉菜单。可在列表中进行选择，并执行相应的命令。" fcHasline="false"></fc-title>
            <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
            <fc-layoutpanel fccontent1>
                <!-- 组件内容开始 -->
                <fc-layoutpanel fccontent>
                    <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
                    <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>    
                            <div fccontent>
                                <fc-any [fcLabel]="'基本'" [(ngModel)]="anyValue" [fcOption]="anyOptions">
                                </fc-any>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                                fcview='<fc-any [fcLabel]="基本" [(ngModel)]="anyValue" [fcOption]="anyOptions"></fc-any>'
                                [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="size" fcTitle="大小" fccontent2>
                            <div fccontent>
                                    <fc-any [fcLabel]="'默认'" [(ngModel)]="anyValue" fcSize="default" [fcOption]="anyOptions"></fc-any>
                                    <fc-any [fcLabel]="'大'" [(ngModel)]="anyValue" fcSize="large" [fcOption]="anyOptions"></fc-any>
                                    <fc-any [fcLabel]="'小'" [(ngModel)]="anyValue" fcSize="small" [fcOption]="anyOptions"></fc-any>
                                    <fc-adcode fcfooter fcTitle="描述" fcRemark="自定义下拉单选有三种大小:大(large)、默认(default)、小(small)。"
                                    [fcview]="sizeview"
                                    [fccode]="basicjs">
                                    </fc-adcode>
                            </div>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="readonly" fcTitle="只读" fccontent1>
                            <div fccontent>
                                <fc-any [fcLabel]="'只读'" [(ngModel)]="anyValue" [fcOption]="anyOptionsReadonly" [fcReadonly]="true">
                                </fc-any>
                                <fc-adcode fcfooter fcTitle="描述" fcRemark="只能读不能输入内容" 
                                [fcview]="readonlyview"
                                [fccode]="basicjs">
                                </fc-adcode>
                            </div>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="singledisabled" fcTitle="单独禁用" fccontent2>
                            <div fccontent>
                                <fc-any [fcLabel]="'单独禁用'" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled">
                                </fc-any>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="单独禁用状态"
                            [fcview]="singledisabledview"
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="disabled" fcTitle="禁用" fccontent1>
                            <div fccontent>
                                <fc-any [fcLabel]="'禁用'" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled" fcDisabled="true">
                                </fc-any>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="禁用状态"
                            [fcview]="disabledview"
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="searchview" fcTitle="带搜索" fccontent2>
                            <div fccontent>
                                <fc-any [fcLabel]="'带搜索'" [fcShowSearch]="true" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled">
                                </fc-any>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="输入文本框内容下拉菜单自动搜索相关内容"
                            [fcview]="searchview"
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="nocontent" fcTitle="未找到" fccontent1>
                            <div fccontent>
                                <fc-any [fcLabel]="'未找到'" fcNotFoundContent="当下拉列表为空时显示的内容" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled">
                                </fc-any>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="当下拉列表为空时显示的内容"
                            [fcview]="nocontentview"
                            [fccode]="basicjs"></fc-adcode>
                        </fc-layoutgroup>
                        <fc-layoutgroup id="noshowlabel" fcTitle="不占位" fccontent2>
                            <div fccontent style="margin-bottom: 10px;">
                                <fc-any [fcShowLabel]="false" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled">
                                </fc-any>
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="不占位时显示的效果"
                            fcview='<fc-any [fcShowLabel]="false" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled"></fc-any>'
                            [fccode]="basicjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                    </fc-layoutcol>     
                </fc-layoutpanel>
                <fc-layoutpanel fccontent>
                    <fc-title fcLabel="事件" fcheader fcHasLine="false" fcSize="small"></fc-title>
                    <fc-layoutcol fccontent fcSpans="1,1">
                        <fc-layoutgroup id="clear" fcTitle="清除捕获事件" fccontent1>
                            <div fccontent>
                                <fc-any [fcLabel]="'清除捕获事件'" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled" (fcEvent)="anyEvent($event)">
                                </fc-any> 
                            </div>
                            <fc-adcode fcfooter fcTitle="描述" fcRemark="清除捕获事件"
                            [fcview]="clearview"
                            [fccode]="clearjs">
                            </fc-adcode>
                        </fc-layoutgroup>
                    </fc-layoutcol>
                </fc-layoutpanel>
                <!-- API -->
                <fc-layoutpanel fccontent>
                    <fc-title id="attributesAPI" fcLabel="属性" fcheader> </fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
                <fc-layoutpanel fccontent>
                    <fc-title id="eventAPI" fcLabel="事件" fcheader> </fc-title>
                    <div style="height:450px;" fccontent>
                        <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                    </div>
                </fc-layoutpanel>
                <!-- 组件内容结束 -->
            </fc-layoutpanel>
            <div class="fastposition-content" fccontent2>
                <fc-fastposition  [fcLinks]="
                    [
                    {href:'basic','label':'基本'},
                    {href:'size','label':'大小'},
                    {href:'readonly','label':'只读'},
                    {href:'singledisabled','label':'单独禁用'},
                    {href:'disabled','label':'禁用'},
                    {href:'searchview','label':'带搜索'},
                    {href:'nocontent','label':'没有内容'},
                    {href:'noshowlabel','label':'不占位'},
                    {href:'clear','label':'清除捕获'},
                    {href:'attributesAPI','label':'属性API'},
                    {href:'eventAPI','label':'事件API'}
                    ]">
                </fc-fastposition>
            </div>
        </fc-layoutcol>
        <!-- 快速定位结束 -->    
</fc-layoutpanel>