<!-- 自定义下拉 fc-any -->
<fc-layoutpanel>
    <fc-title fcLabel="自定义下拉" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <label>{{anyValue|json}}</label>
                <fc-any [(ngModel)]="anyValue" [fcOption]="anyOptions">
                </fc-any>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                <div>
                    <fc-any [(ngModel)]="anyValue" fcSize="default" [fcOption]="anyOptions"></fc-any>
                </div>
                <div style="margin-top:24px;">
                    <fc-any [(ngModel)]="anyValue" fcSize="large" [fcOption]="anyOptions"></fc-any>
                </div>
                <div style="margin-top:24px;">
                    <fc-any [(ngModel)]="anyValue" fcSize="small" [fcOption]="anyOptions"></fc-any>
                </div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="禁用" fccontent2>
            <div fccontent>
                <fc-any [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled">
                </fc-any>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="带搜索" fccontent2>
            <div fccontent>
                <fc-any fcShowSearch="true" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled">
                </fc-any>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="未找到时的文字显示" fccontent2>
            <div fccontent>
                <fc-any fcNotFoundContent="当下拉列表为空时显示的内容" [(ngModel)]="anyValue" [fcOption]="anyOptionsDisabled">
                </fc-any>
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
    <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader> </fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
</fc-layoutpanel>