<!-- 菜单 fc-navmenu -->
<fc-layoutpanel  class="templatefastposition samples navmenu">
<!-- 快速定位 -->
<fc-layoutcol fcSpans="9,1" fccontent>
    <fc-title fcLabel="左侧菜单按钮" fccontent1 fcSubtitle="左侧菜单按钮" fcHasline="false"></fc-title>
    <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="点击按钮使左侧导航收缩或展开" fcHasline="false"></fc-title>
    <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
    <fc-layoutpanel fccontent1>
    <!-- 组件内容开始 -->
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
        <fc-layoutcol fccontent fcSpans="1,1">
          <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
          <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
            <div fccontent>
              <fc-navmenu fccontent [(ngModel)]="menuSelectObj" [fcOption]="menuOptions" (fcEvent)="navmenuEvent($event);"></fc-navmenu>
            </div>
            <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
            [fcview]="basicview"
            [fccode]="basicjs"></fc-adcode>
          </fc-layoutgroup>
            <fc-layoutgroup id="color" fcTitle="颜色" fccontent2>
              <div fccontent>
                <fc-navmenu fccontent [(ngModel)]="menuSelectObj" [fcOption]="menuOptions" (fcEvent)="navmenuEvent($event);" fcTheme="dark"></fc-navmenu>   
              </div>
              <fc-adcode fcfooter fcTitle="描述" fcRemark="菜单颜色"
              [fcview]="colorview"
              [fccode]="basicjs"></fc-adcode>
            </fc-layoutgroup>
        </fc-layoutcol>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title fcLabel="事件" fcheader fcHasLine="false" fcSize="small"></fc-title>
        <fc-layoutcol fccontent fcSpans="1,1">
            <fc-layoutgroup id="button" fcTitle="事件" fccontent1>
                <div fccontent>
                  <fc-navmenu fccontent [(ngModel)]="menuSelectObj" [fcOption]="menuOptions" (fcEvent)="navmenuEvent($event);"></fc-navmenu>   
                </div>
                <fc-adcode fcfooter fcTitle="描述" fcRemark="菜单颜色"
                [fcview]="basicview"
                [fccode]="basicjs"></fc-adcode>
              </fc-layoutgroup>
        </fc-layoutcol>
    </fc-layoutpanel>
        <!-- API -->
    <fc-layoutpanel fccontent>
        <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
        <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
        <div style="height:450px;" fccontent>
            <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
        </div>
    </fc-layoutpanel>
    <!-- 组件内容结束 -->
    </fc-layoutpanel>
    <div class="fastposition-content" fccontent2>
        <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'color','label':'颜色'},
            {href:'button','label':'点击'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
    </div>
    </fc-layoutcol>
    <!-- 快速定位结束 --> 
</fc-layoutpanel>
