<!-- 徽标 fc-badge -->
<fc-layoutpanel class="templatefastposition samples">
    <!-- 快速定位 -->
   <fc-layoutcol fcSpans="9,1" fccontent>
        <fc-title fcLabel="徽标" fccontent1 fcSubtitle="图标右上角的圆形徽标数字" fcHasline="false"></fc-title>
        <fc-title fcLabel="何时使用" fccontent1 fcSubtitle="一般出现在通知图标或头像的右上角，用于显示需要处理的消息条数，通过醒目视觉形式吸引用户处理。" fcHasline="false"></fc-title>
        <fc-title fcLabel="代码演示" fccontent1 fcHasline="false"></fc-title>
        <fc-layoutpanel fccontent1>
        <!-- 组件内容开始 -->
        <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader fcHasLine="false" fcSize="small"></fc-title>
            <fc-layoutcol fccontent fcSpans="1,1">
                <fc-layoutgroup id="basic" fcTitle="基本" fccontent1>
                    <div fccontent>
                        <fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="最基本的用法。"
                    fcview='<fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="number" fcTitle="数字徽标" fccontent2>
                    <div fccontent>
                        <fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="显示数字不显示圆点"
                    fcview='<fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs">
                    </fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="radio" fcTitle="圆点徽标" fccontent1>
                    <div fccontent>
                        <fc-badge fcMode="DOT" fcToolTip="这是一个提示消息"></fc-badge>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="显示圆点不显示数字"
                    fcview='<fc-badge fcMode="DOT" fcToolTip="这是一个提示消息"></fc-badge>'
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="status" fcTitle="状态徽标" fccontent2>
                    <div fccontent>
                        <fc-badge fcStatus="success" fcStatusMode="CIRCLE" fcToolTip="success"></fc-badge>
                        <fc-badge fcStatus="error" fcStatusMode="CIRCLE" fcToolTip="error"></fc-badge>
                        <fc-badge fcStatus="default" fcStatusMode="CIRCLE" fcToolTip="default"></fc-badge>
                        <fc-badge fcStatus="processing" fcStatusMode="CIRCLE" fcToolTip="processing"></fc-badge>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="状态徽标有四种success、error、default、processing"
                    [fcview]="statusview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
                <fc-layoutgroup id="text" fcTitle="文字徽标" fccontent1>
                    <div fccontent>
                        <fc-badge fcStatus="success" fcStatusMode="CIRCLE" fcText="success"></fc-badge>
                        <fc-badge fcStatus="error" fcStatusMode="CIRCLE" fcText="error"></fc-badge>
                        <fc-badge fcStatus="default" fcStatusMode="CIRCLE" fcText="default"></fc-badge>
                        <fc-badge fcStatus="processing" fcStatusMode="CIRCLE"fcText="processing"></fc-badge>
                    </div>
                    <fc-adcode fcfooter fcTitle="描述" fcRemark="带文字描述的小圆点、success、error、default、processing"
                    [fcview]="textview"
                    [fccode]="basicjs"></fc-adcode>
                </fc-layoutgroup>
            </fc-layoutcol>
        </fc-layoutpanel>
            <!-- API -->
        <fc-layoutpanel fccontent>
                <fc-title id="attributesAPI" fcLabel="属性" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <fc-layoutpanel fccontent>
                <fc-title id="eventAPI" fcLabel="事件" fcheader></fc-title>
                <div style="height:450px;" fccontent>
                    <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
                </div>
        </fc-layoutpanel>
        <!-- 组件内容结束 -->
        </fc-layoutpanel>
        <div class="fastposition-content" fccontent2>
        <fc-fastposition [fcLinks]="
            [
            {href:'basic','label':'基本'},
            {href:'number','label':'数字徽标'},
            {href:'radio','label':'圆点徽标'},
            {href:'status','label':'状态徽标'},
            {href:'text','label':'文字徽标'},
            {href:'attributesAPI','label':'属性API'},
            {href:'eventAPI','label':'事件API'}
            ]">
        </fc-fastposition>
        </div>
    </fc-layoutcol>
    <!-- 快速定位结束 -->
</fc-layoutpanel>