<!-- 徽标 fc-badge -->
<fc-layoutpanel>
    <fc-title fcLabel="徽标" fcheader></fc-title>
    <fc-layoutcol fccontent fcSpans="1,1">
        <fc-layoutgroup fcTitle="基本" fccontent1>
            <div fccontent>
                <fc-badge fcCount="10" fcToolTip="这是一个提示消息"></fc-badge>
                <div style="margin-top: 10px;">显示数字不显示点：fcCount="10"</div>
                <div></div>
                <fc-badge fcMode="DOT" fcToolTip="这是一个提示消息"></fc-badge>
                <div style="margin-top: 10px;">显示圆点，不显示数字： fcMode="DOT"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="用于表示状态的小圆点" fccontent2>
            <div fccontent>
                <fc-badge fcStatus="success" fcStatusMode="CIRCLE" ></fc-badge>
                <fc-badge fcStatus="error" fcStatusMode="CIRCLE" fcToolTip="error"></fc-badge>
                <fc-badge fcStatus="default" fcStatusMode="CIRCLE" fcToolTip="default"></fc-badge>
                <fc-badge fcStatus="processing" fcStatusMode="CIRCLE" fcToolTip="processing"></fc-badge>
                <div style="width:69%;">用于表示状态的小圆点。绿色：fcStatus="success"、红色：fcStatus="error"、灰色:fcStatus="default"、蓝色：fcStatus="processing"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="带文字的小圆点" fccontent1>
            <div fccontent>
                <fc-badge fcStatus="success" fcStatusMode="CIRCLE" fcText="success"></fc-badge>
                <fc-badge fcStatus="error" fcStatusMode="CIRCLE" fcText="error"></fc-badge>
                <fc-badge fcStatus="default" fcStatusMode="CIRCLE" fcText="error"></fc-badge>
                <fc-badge fcStatus="processing" fcStatusMode="CIRCLE"fcText="error"></fc-badge>
                <div style="margin-top:10px;width: 69%;">带文字的小圆点： fcText="success"、fcText="error" 、fcText="error"、fcText="error",类型为string</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle=" 文本内容头像" fccontent2>
            <div fccontent>
                <fc-badge fcText="文本头像内容" fcToolTip="这是一个提示消息"></fc-badge>
                <div style="margin-top: 10px;"> 文本内容头像：fcText="文本头像内容"</div>
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="类型" fccontent2>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="大小" fccontent1>
            <div fccontent>
                正在开发中
            </div>
        </fc-layoutgroup>
        <fc-layoutgroup fcTitle="更多" fccontent2>
            <div fccontent>
                待开发
            </div>
        </fc-layoutgroup>
    </fc-layoutcol>
     <!-- API -->
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="属性" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCFIELDS'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
    <fc-layoutpanel fccontent>
            <fc-title fcLabel="事件" fcheader></fc-title>
            <div style="height:450px;" fccontent>
                <fc-listdata [fcAppid]="'FCEVENT'" [fcOption]="fcOption" [fcCondition]="fcCondition"></fc-listdata>
            </div>
    </fc-layoutpanel>
</fc-layoutpanel>