<div class="sigin-wrap">
  <div class="sigin">
    <div class="sigin-topbar">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">
              <img alt="Brand" src="assets/img/logo.png" width="50" />
            </a>
          </div>
          <ul class="nav navbar-nav" style="background-color: transparent;color:#ffffff;">
            <li class="active">
              <a href="javascript:;" class="logo-txt">基础服务平台</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="javascript:;">首页</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="sigin-body">
      <div class="sigin-body-box">
        <div class="sigin-body-txt-box">
          <h3>FAST CORE</h3>
          <p>快速开发平台</p>
          <p>近一年的中后台设计实践，积累了大量的优秀案例。</p>
          <p>总结中后台设计中反复出现的问题，并提供相应的解决方案。</p>
          <p>丰富、灵活、实用的基础组件，为业务产品提供强有力的设计支持。</p>
          <p class="start-button">
            <a href="#" class="btn btn-primary" role="button">设计规范</a>
            <a href="#" class="btn btn-default start-button-last" role="button">开发指引</a>
          </p>
        </div>
        <div class="sigin-module">
          <h3>登陆</h3>
          <div class="sigin-error">
            <div class="sigin-error-in">
              <i class="icon iconfont icon-error"></i>
              <span>登录名或登录密码不正确</span>
            </div>
          </div>
          <form class="sigin-form">
            <div class="form-group">
              <input type="text" class="form-control" id="uname" placeholder="请输入用户名">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <button type="button" class="btn btn-info btn-block sigin-submit" routerLink="/home">登陆</button>
            <div class="sigin-other">
              <span>
                <a href="javascript:;" class="sigin-other-link">忘记密码</a>
              </span>
              <span>
                <a href="javascript:;" class="sigin-other-link">忘记用户名</a>
              </span>
              <span>
                <a href="javascript:;" class="sigin-other-link" routerLink="/signup">注册</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="fc-copyright">
    <div class="fc-copyright-in">
      <p class="big">
        <a href="">关于我们</a>
        <a href="">法律声明及隐私权政策</a>
        <a href="">廉正举报</a>
        <a href="">友情链接</a>
      </p>
      <p class="link-wrap">
        <a href="" class="link-item">基础服务平台</a>
        <a href="" class="link-item">全面预算管理系统</a>
        <a href="" class="link-item">高铁设备管理系统</a>
      </p>
      <p class="copyright">
        © 2007-2018 yt.neusoft.com 版权所有 ICP证：京B2-20080101
      </p>
    </div>
  </div>
</div>